.wishlist {
    &__item {
        margin-bottom: 16px;

        @include mq($screen-s) {
            padding: 0 16px;
        }

        .price-box {
            padding: 0 $spacer;

            @include mq($screen-m) {
                padding: 0 $spacer--medium;
            }
        }

        .product__price {
            padding: 0;
            margin: 0 0 $spacer 0;
            font-size: $font-size-small;
            line-height: $font-line-height;
            font-weight: $font-weight-bold;
            white-space: nowrap;
        }

        .list {
            padding: 0 $spacer;
            margin: 0;

            @include mq($screen-m) {
                padding: 0 $spacer--medium;
            }
        }
    }

    &__item-name {
        display: block;
        padding: $spacer $spacer 0 $spacer;
        margin: 0;

        @include mq($screen-m) {
            padding-left: $spacer--medium;
            padding-right: $spacer--medium;
        }
    }

    &__item-name-link {
        display: block;
        color: $gray-darkest;
        font-size: $font-size-small;
        line-height: 1.5;
    }

    &__item-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: $spacer 0;

        @include mq($screen-m) {
            padding: $spacer--medium 0;
        }
    }

    &__label {
        margin: 0 $spacer 0 0;
    }

    &__qty {
        flex: 1;
        min-width: 120px;
        max-width: 200px;
    }

    &__field-qty {
        margin-right: $spacer;
        text-align: right;
    }

    &__item-actions {
        margin-bottom: $spacer;
        order: 2;

        &--to-cart {
            order: 3;
            flex-basis: 100%;
            padding-top: $spacer;
        }
    }

    &__button {
        width: 100%;
        margin-bottom: 0;
    }

    &__remove {
       margin-left: $spacer;
    }

    &__comment {
        margin: 0;
    }

    .action {
        padding-top: 16px;
    }
}
