<div class="page-wrapper">
    {{ render '@header' }}

    <div class="dashboard container">
        <div class="grid">
            <div class="grid__column grid__column--1-4 dashboard__sidebar">
                {{ render '@dashboard-nav' }}
            </div>

            <div class="grid__column grid__column--3-4 dashboard__content">
                <div class="grid">
                    {{#each wishlistItems}}
                        <div class="dashboard__wishlist-item grid__column grid__column--1-2">
                            {{> '@product--with-add-to-cart-button' item }}

                            {{> '@input--textarea' textarea }}

                            {{> '@input--inline' qty }}

                            {{> '@action' itemAction }}
                        </div>
                    {{/each}}

                    {{> '@action' actions }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ render '@footer' }}
