$mega-menu__margin                    : 0 !default;
$mega-menu__border-bottom             : 1px solid $gray-light !default;
$mega-menu__font-color                : $font-color-base !default;
$mega-menu__font-weight               : $font-weight-bold !default;
$mega-menu__font-size                 : $font-size-base !default;
$mega-menu__font-size--large          : 16px !default;
$mega-menu__text-decoration           : none !default;
$mega-menu__background-color          : $white !default;
$mega-menu__container-background-color: $white !default;
$mega-menu__justify-content           : flex-start !default;

$mega-menu__link-padding              : 12px $spacer--medium !default;
$mega-menu__link-margin               : 0 $spacer--medium !default;

$mega-menu__link-inner-margin         : 0 !default;
$mega-menu__link-inner-padding        : 0 !default;
$mega-menu__link-inner-font-weight    : $font-weight-normal !default;

$mega-menu__dropdown-padding          : 0 0 0 112px !default;
$mega-menu__dropdown-box-shadow       : 0 4px 6px 0 rgba(51, 51, 51, 0.3) !default;
$mega-menu__dropdown-background-color : $white !default;
$mega-menu__dropdown-item-padding     : 68px $spacer--large 0 0 !default;
$mega-menu__dropdown-max-width        : 850px !default;

.mega-menu {
    display: none;
    background: $mega-menu__background-color;
    color: $gray-darker;
    position: relative;
    margin-bottom: $mega-menu__margin;
    border-bottom: $mega-menu__border-bottom;
    @include mq($screen-xl) {
        display: block;
    }

    &__list {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        justify-content: $mega-menu__justify-content;
        padding: 0;
        list-style: none;
        background-color: $mega-menu__container-background-color;
    }

    &__inner-list {
        padding: 0;
        background-color: $mega-menu__dropdown-background-color;
        list-style: none;

        &--level1 {
            display: none;
            position: absolute;
            top: calc(100% + 1px);
            left: 0;
            z-index: 2;
            width: 100%;
            box-shadow: $mega-menu__dropdown-box-shadow;
        }
    }

    &__item {
        &--parent {
            &:hover .mega-menu__inner-list--level1 {
                display: flex;
            }
        }
    }

    &__inner-item {
        &--parent {
            padding: 32px 0 32px 64px;

            & > .mega-menu__inner-link {
                display: block;
                margin: 0 0 $spacer--medium;
                padding: 0;
                font-size: $mega-menu__font-size;
                font-weight: $mega-menu__font-weight;
            }
        }

        &--image {
            display: flex;
            flex-basis: 100%;
            justify-content: flex-end;
            padding: $mega-menu__dropdown-padding;

            img {
                width: auto;
            }
        }
    }

    &__link {
        display: block;
        margin: $mega-menu__link-margin;
        padding: $mega-menu__link-padding;
        font-size: $mega-menu__font-size--large;
        font-weight: $mega-menu__font-weight;
        color: $gray-darker;
        text-decoration: $mega-menu__text-decoration;

        &:focus,
        &:hover {
            text-decoration: $mega-menu__text-decoration;
        }
    }

    &__inner-link {
        margin: $mega-menu__link-inner-margin;
        padding: $mega-menu__link-inner-padding;
        white-space: nowrap;
        font-size: $mega-menu__font-size;
        font-weight: $mega-menu__link-inner-font-weight;
        color: $gray-darker;
        text-decoration: none;
    }
}
