<form class="form">
    <fieldset class="form__fieldset">
        <div class="form__field">
            {{ render '@input' }}
        </div>

        <div class="form__field">
            {{ render '@textarea' }}
        </div>

        <div class="form__field">
            {{ render '@checkbox' }}
        </div>
    </fieldset>
</form>
