$title-wrapper__margin        : 0 0 $spacer--medium 0 !default;

.title-wrapper {
    flex-direction: column;
    margin: $title-wrapper__margin;

    @include mq($screen_m) {
        flex-direction: row;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

