<div class="title-wrapper row row--no-margins between-xs">
    {{ render '@heading' title }}
    {{#if button }}
        <div class="title-wrapper__actions">
            {{ render '@button--secondary' button }}
        </div>
    {{/if }}
</div>
