$filter__transition                        : $transition-base !default;
// Swatch
$filter__swatch-margin                     : 0 0 $spacer--medium 0 !default;
$filter__swatch-option-size                : 48px !default;
$filter__swatch-option-margin              : $spacer--medium !default;
$filter__swatch-option-background          : $white !default;
$filter__swatch-option-color               : $gray-dark !default;
$filter__swatch-option-border              : 3px solid $white !default;
$filter__swatch-option-border-color-hover  : $color-primary !default;
$filter__swatch-option-border-color--active: $color-primary !default;
// Label
$filter__label-padding                     : $spacer--medium 0 !default;
// Color
$filter__color-option-width                : 56px !default;
$filter__color-option-height               : 80px !default;
$filter__color-option-border               : 2px solid transparent !default;
$filter__color-option-after-top            : 4px !default;
$filter__color-option-after-left           : 8px !default;
$filter__color-option-after-size           : 40px !default;
$filter__color-option-after-border-radius  : 100% !default;
$filter__color-option-after-border-color   : $color-primary !default;
$filter__color-sample-size                 : 32px !default;
$filter__color-sample-margin               : $spacer !default;
$filter__color-sample-border               : 1px solid $gray-lighter;
$filter__color-sample-border-radius        : 100% !default;
$filter__color-label-font-size             : $font-size-extra-small !default;
$filter__color-label-color                 : $gray-darkest !default;
// Divider
$filter__divider-border-top                : 1px solid $gray-light !default;
// Range
$filter__range-margin                      : 0 0 $spacer--medium 0 !default;

.filter {
    &__label {
        padding: $filter__label-padding;
    }

    &__swatch {
        display: flex;
        flex-wrap: wrap;
        margin: $filter__swatch-margin;
    }

    &__swatch-option {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $filter__swatch-option-size;
        min-height: $filter__swatch-option-size;
        margin-right: $filter__swatch-option-margin;
        border: $filter__swatch-option-border;
        background-color: $filter__swatch-option-background;
        color: $filter__swatch-option-color;
        transition: $filter__transition;
        cursor: pointer;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
            border-color: $filter__swatch-option-border-color-hover;
        }

        &:last-child {
            margin-right: 0;
        }

        &--active {
            border-color: $filter__swatch-option-border-color--active;
        }
    }

    &__color,
    &__swatch-wrapper {
        display: flex;
        flex-flow: row wrap;
    }

    &__color-option {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: $filter__color-option-width;
        width: $filter__color-option-width;
        height: $filter__color-option-height;
        max-height: $filter__color-option-height;
        text-decoration: none;

        &:after {
            content: '';
            position: absolute;
            top: $filter__color-option-after-top;
            left: $filter__color-option-after-left;
            width: $filter__color-option-after-size;
            height: $filter__color-option-after-size;
            background-color: transparent;
            border: $filter__color-option-border;
            border-radius: $filter__color-option-after-border-radius;
            transition: $filter__transition;
        }

        &--active,
        &:hover,
        &:focus {
            text-decoration: none;
            &:after {
                border-color: $filter__color-option-after-border-color;
            }
        }
    }

    &__color-sample {
        width: $filter__color-sample-size;
        height: $filter__color-sample-size;
        margin: $filter__color-sample-margin;
        border: $filter__color-sample-border;
        border-radius: $filter__color-sample-border-radius;
    }

    &__color-label {
        max-width: 100%;
        font-size: $filter__color-label-font-size;
        color: $filter__color-label-color;
        word-break: break-all;
        text-align: center;
    }

    &__range {
        margin: $filter__range-margin;
    }

    &__divider {
        border-top: $filter__divider-border-top;
    }
}
