.downloadable-item {
    position: relative;
    width: calc(100% - 30px);
    padding: 30px 15px;
    border-bottom: 1px solid $border-base;
    margin: 0 15px;

    @include mq($screen-m) {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    @include mq($screen-xl) {
        margin: 0;
        width: 100%;
    }

    &__content {
        @include mq($screen-m) {
            flex-basis: 75%;
            margin-right: 30px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
    }

    &__description {
        color: $font-color-lighter2;
        padding-bottom: 30px;
    }

    &__button {
        flex-basis: 25%;
    }
}
