<div class="downloadable-item">
    <div class="downloadable-item__content">
        <h2 class="downloadable-item__title">
            {{ title }}
        </h2>
        <div class="downloadable-item__description">
            {{ description }}
        </div>
    </div>
    <a href="#" download class="downloadable-item__button button button--borders button--blue-icon">
        {{ buttonText }}
        <svg title="download pdf" class="button__icon">
            <use xlink:href="#icon-arrow-right"></use>
        </svg>
    </a>
</div>
