<div class="video-box">
    <div class="video-box__container">
        <iframe id="player"
                type="text/html"
                src="{{ videoLink }}"
                frameborder="0"
                allowfullscreen
        >
        </iframe>
    </div>
</div>
