.banner {
    position: relative;
    max-width: $max-content-width;
    margin: 0 auto;
    margin-bottom: 25px;

    @include mq($screen-m) {
        text-align: right;
    }

    // modificators
    &--simple {
        .banner__image {
            padding: 0;

            @include mq($screen-m) {
                position: relative;
                top: auto;
                left: auto;
                bottom: auto;
                z-index: 1;
                overflow: initial;
                min-width: auto;
                display: block;
                padding: 0;
            }
        }

        .banner__img {
            @include mq($screen-m) {
                position: relative;
                left: auto;
                max-width: 100%;
                height: auto;
                width: 100%;
            }
        }
    }

    &--topimage {

        @include mq($screen-m) {
            text-align: left;
        }

        .banner__image {
            padding: 35px 20px;

            @include mq($screen-m) {
                position: relative;
                top: auto;
                left: auto;
                bottom: auto;
                z-index: 1;
                overflow: initial;
                min-width: auto;
                display: block;
                padding: 45px 50px;
            }
        }

        .banner__content {
            padding-top: 0;
            background: none;

            @include mq($screen-m) {
                margin: 0 auto;
                display: block;
                padding-left: 0;
                padding-right: 0;
                width: 100%;
                max-width: 550px;
            }

            @include mq($screen-l) {
                max-width: 780px;
            }
        }

        .banner__title {
            color: lighten($color-black, 40%);
            font-weight: 400;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
        }

        .banner__title-link {
            @include links(active) {
                color: lighten($color-black, 40%);
            }
        }

        .banner__info {
            color: lighten($color-black, 40%);
            font-size: 14px;
            line-height: 24px;
        }

        .banner__img {
            @include mq($screen-m) {
                position: relative;
                left: auto;
                max-width: 100%;
                height: auto;
                width: 100%;
            }
        }

        .banner__button {
            padding-left: 0;
            text-align: left;
        }
    }

    &--fullwidth {
        padding-top: 60px;
        text-align: left;
        min-height: 600px;

        @include mq($screen-m) {
            padding-top: 0;
        }

        @include mq($screen-l) {
            max-width: 100%;
            width: 100%;
            min-height: 300px;
        }

        .banner__pretitle {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background-color: $color-primary;
            height: 60px;
            text-transform: uppercase;
            color: $color-white;
            font-size: 14px;
            padding: 0 11px 0 11px;
            display: flex;
            align-items: center;

            @include mq($screen-m) {
                background: none;
                padding: 30px;
            }

            @include mq($screen-xl) {
                max-width: 450px;
            }
        }

        .banner__image {
            @include mq($screen-m) {
                position: relative;
                width: 50%;
                display: block;
                min-width: 0;
            }

            @include mq($screen-l) {
                width: 60%;
            }

            @include mq($screen-xl) {
                width: 55%;
            }
        }

        .banner__img {
            @include mq($screen-m) {
                position: relative;
                width: 100%;
                height: auto;
            }
        }

        .banner__content {
            padding: 45px 15px;
            background-color: $color-primary;

            @include mq($screen-m) {
                position: absolute;
                width: 50%;
                margin: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                padding: 0 30px;
                justify-content: center;
            }

            @include mq($screen-l) {
                width: 40%;
                max-width: 40%;
            }

            @include mq($screen-xl) {
                width: 45%;
                max-width: 45%;
            }
        }

        .banner__title {
            color: $color-white;
            margin-bottom: 30px;

            @include mq($screen-xl) {
                max-width: 450px;
            }
        }

        .banner__title-link {
            @include links(active) {
                color: $color-white;
            }
        }

        .banner__info {
            color: $color-deep-red-orange;
            line-height: 18px;

            @include mq($screen-xl) {
                max-width: 450px;
            }
        }

        .banner__button {
            background: none;
            border: none;
            text-align: left;
            padding-left: 0;

            @include links(hover) {
                color: $color-deep-red-orange;
                background-color: transparent;

                .button__icon {
                    fill: $color-deep-red-orange;
                }
            }

            @include mq($screen-m) {
                position: absolute;
                padding: 30px;
                bottom: 0;
                left: 0;
                right: 0;
            }

            @include mq($screen-xl) {
                max-width: 450px;
            }
        }
    }

    &--50-width {
        position: relative;
        margin: 0;

        @include mq($screen-l) {
            width: 50%;
        }

        .banner__image {
            @include mq($screen-m) {
                position: relative;
                z-index: 0;
            }
        }

        .banner__img {
            @include mq($screen-m) {
                position: relative;
                width: 100%;
                height: auto;
            }

            @include mq($screen-l) {
                width: auto;
                height: 100%;
            }

            @include mq($screen-xl) {
                width: 100%;
                height: auto;
            }
        }

        .banner__content {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 30px;
            z-index: 1;
            display: block;
            width: auto;
            margin: 0;
            background-color: transparent;

            @include mq($screen-m) {
                left: 30px;
                right: 30px;
                bottom: 100px;
            }

            @include mq($screen-l) {
                left: 0;
                right: 0;
                bottom: 30px;
                max-width: none;
            }

        }

        .banner__title {
            font-weight: 300;
            color: $color-white;
            font-size: 36px;
            margin-bottom: 30px;
            padding: 0 15px;
            line-height: 1.2;

            @include mq($screen-m) {
                font-size: 60px;
            }
        }

        .banner__info {
            color: $color-white;
            font-size: 18px;
            line-height: 1.6;
            max-width: 70%;
            padding: 0 15px;

            @include mq($screen-m) {
                max-width: 50%;
            }

            @include mq($screen-l) {
                max-width: 70%;
            }
        }

        .banner__button {
            margin-top: 30px;
            text-align: center;
            padding-right: 30px;

            @include mq($screen-m) {
                float: right;
                padding-left: 60px;
                padding-right: 60px;
                margin-top: 90px;
            }

            @include mq($screen-l) {
                margin-top: 50px;
            }
        }
    }
    // modificators end

    &__pretitle {
        display: block;
        line-height: 25px;
        margin: 0;
        font-weight: 400;
        color: $font-color;
        font-size: 20px;
    }

    &__title {
        color: $color-primary;
        line-height: 25px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 30px;
    }

    &__title-link {
        @include links(active) {
            color: $color-primary;
        }

        @include links(hover) {
            text-decoration: none;
        }
    }

    &__info {
        margin: 0 0 10px 0;
    }

    &__date {
        font-size: 12px;
        margin-bottom: 17px;
        display: block;

        @include mq($screen-l) {
            margin-bottom: 35px;
        }
    }

    &__image {
        display: block;
        line-height: 0;

        @include mq($screen-m) {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            overflow: hidden;
            min-width: 100%;
            display: block;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;

        @include mq($screen-m) {
            position: absolute;
            left: 0;
            max-width: none;
            height: 100%;
            width: auto;
        }

        &.lazyloading {
            background: transparent url('#loader-view') no-repeat center center;
            font-size: 0;
            background-size: 80px 80px;
        }
    }

    &__content {
        padding: 25px 15px;
        text-align: left;

        @include mq($screen-s) {
            padding: 25px 30px;
        }

        @include mq($screen-m) {
            position: relative;
            display: inline-block;
            z-index: 5;
            background-color: $color-white;
            width: 50%;
            margin: 25px 25px 25px auto;
        }

        @include mq($screen-l) {
            max-width: 470px;
            min-height: 250px;
        }
    }

    &__bg-left-text {
        position: absolute;
        top: 0;
        left: -20px;
        bottom: auto;
        margin: 0;
        padding: 0;
        display: block;
        transform: rotate(-90deg);
        transform-origin: bottom;
        z-index: 2;
        color: rgba($color-white, 0.5);
        font-weight: 300;
        font-size: 60px;
        font-size: 18vw;
        text-align: justify;
        text-transform: uppercase;

        @include mq($screen-s) {
            font-size: 60px;
            font-size: 14vw;
        }

        @include mq($screen-m) {
            font-size: 100px;
        }

        @include mq($screen-l) {
            left: -30px;
            font-size: 110px;
        }
    }

    &__button {
        padding-right: 0;
        text-align: right;
        display: block;
    }
}
