$dashboard-information-margin: 15px !default;

.dashboard-information {
    margin-bottom: $dashboard-information-margin * 2;

    &__title {
        margin-bottom: $dashboard-information-margin;
    }
}
