{{#each informations }}
    <div class="dashboard-information {{ class }}">
        <h5 class="heading heading--fifth-level">
            {{ title }}
        </h5>

        <span class="dashboard-information__text">
            {{ text }}
        </span>
    </div>
{{/each}}
