.solr-search {
    position: relative;

    @include clearfix();

    &.visible {
        display: block;
    }

    &__wrapper {
        position: relative;
        display: none;
    }

    &__mask {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: $color-white;
        opacity: 0.5;
        z-index: 55;
        display: none;
    }

    &__close {
        position: absolute;
        top: -2px;
        right: 15px;
        padding: 10px;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        z-index: 999;
    }

    &__icon-close {
        width: 13px;
        height: 13px;
        fill: $color-black;
    }
    &__header {
        padding: 5px 15px;
        margin-top: 15px;
        background-color: $color-gray-background;
        text-transform: uppercase;
    }

    &__headertitle {
        font-weight: 700;
        font-size: 14px;
        margin: 0;
    }

    &__headertitle-value {
        font-weight: 400;
        margin-left: 10px;
    }

    &__products {
        padding: 15px;

        @include mq($screen-m) {
            width: 65%;
            float: left;
        }
    }

    &__sub-title {
        text-transform: uppercase;
        padding-bottom: 15px;
    }

    &__category {
        padding: 0 15px 15px;

        @include mq($screen-m) {
            width: 35%;
            float: right;
            padding-top: 15px;
        }
    }

    &__qty-result {
        font-size: 12px;
        color: $font-color-lighter2;
        text-transform: none;
        margin-left: 20px;
    }

    &__footer {
        padding: 0 15px;
    }
}
