$swatch__transition                  : $transition-base !default;

$swatch__title-margin-bottom         : $spacer !default;
$swatch__title-font-size             : $font-size-base !default;

$swatch__option-size                 : 40px !default;
$swatch__option-size--image          : 48px !default;
$swatch__option-margin               : $spacer !default;
$swatch__option-margin\@small        : $spacer--medium !default;
$swatch__option-background           : $white !default;
$swatch__option-color                : $gray-dark !default;
$swatch__option-border               : 4px solid $white !default;
$swatch__option-border-color-hover   : $color-primary !default;
$swatch__option-border-color--active : $color-primary !default;

.swatch {
    display: flex;
    flex-wrap: wrap;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__option-container {
        box-sizing: border-box;
        border: $swatch__option-border;
        margin-right: $swatch__option-margin;
        transition: $swatch__transition;
        cursor: pointer;

        &:hover,
        &:focus {
            border-color: $swatch__option-border-color-hover;
        }

        &:last-child {
            margin-right: 0;
        }

        @include mq($screen-s) {
            margin-right: $swatch__option-margin\@small;
        }

        &.selected {
            border-color: $swatch__option-border-color--active;
        }
    }

    &__tooltip,
    &__selected-option {
        display: none;
    }

    &__title {
        flex: 0 0 100%;
        margin-bottom: $swatch__title-margin-bottom;
        font-size: $swatch__title-font-size;
    }

    &__option {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $swatch__option-size;
        min-height: $swatch__option-size;
        background-color: $swatch__option-background;
        color: $swatch__option-color;

        &--image {
            min-height: $swatch__option-size--image;
            background-size: cover;
            background-position: top center;
        }
    }
}
