$swatch-font-size                  : $font-size-small !default;
$swatch-margin                     : 15px !default;
$swatch-width                      : 48px !default;
$swatch-transition                 : $transition-base !default;
$swatch-background                 : $white !default;
$swatch-label-color                : $gray-light !default;
$swatch-border-color               : $gray-light !default;
$swatch-border                     : 3px solid $swatch-border-color !default;
$swatch-label-color-hover          : $color-primary !default;
$swatch-border-color-hover         : $color-primary !default;
$swatch-background-active          : $color-primary !default;
$swatch-label-color-active         : $white !default;
$swatch-border-color-active        : $color-primary !default;
$swatch--color-outline-color       : $gray-light !default;
$swatch--color-border-color        : $white !default;
$swatch--color-outline-hover       : 3px solid $swatch--color-outline-color !default;
$swatch--color-border-color-hover  : $white !default;
$swatch--color-outline-color-active: $color-primary !default;
$swatch--color-outline-active      : 3px solid $swatch--color-outline-color-active !default;
$swatch--color-border-color-active : $white !default;

.swatch {
    &__title {
        font-size: $font-size-small;
        margin-bottom: $swatch-margin;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__option {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $swatch-width;
        width: $swatch-width;
        border: $swatch-border;
        background: $swatch-background;
        margin-right: $swatch-margin;
        margin-bottom: $swatch-margin;
        transition: $swatch-transition;
        color: $swatch-label-color;
        cursor: pointer;

        &:hover {
            border-color: $swatch-border-color-hover;
            color: $swatch-label-color-hover;
        }

        &:last-child {
            margin-right: 0;
        }

        &--active {
            background: $swatch-background-active;
            border-color: $swatch-border-color-active;
            color: $swatch-label-color-active;

            &:hover {
                color: $swatch-label-color-active;
            }
        }

        &--color {
            border-color: $swatch--color-border-color;

            &:hover {
                outline: $swatch--color-outline-hover;
                border-color: $swatch--color-border-color-hover;
            }

            &.swatch__option--active {
                border-color: $swatch--color-border-color-active;
                outline: $swatch--color-outline-active;

                &:hover {
                    border-color: $swatch--color-border-color-active;
                    outline-color: $swatch--color-outline-color-active;
                }
            }
        }
    }
}
