$swatch__font-size                         : $font-size-base !default;
$swatch__margin                            : $spacer !default;
$swatch__transition                        : $transition-base !default;
$swatch__option-sizing                     : 48px !default;
$swatch__option-sizing-screen-m            : 32px !default;
$swatch__option-margin                     : 0 $spacer--medium $spacer--medium 0 !default;
$swatch__option-background                 : $white !default;
$swatch__option-color                      : $gray-dark !default;
$swatch__option-border                     : 1px solid $white !default;
$swatch__option-border-color-hover         : $color-primary !default;
$swatch__option-border-color--active       : $color-primary !default;
$swatch__option-width-screen-m--attributes : 42px !default;
$swatch__option-height-screen-m--attributes: 48px !default;
$swatch__option-width-screen-l--attributes : 54px !default;
$swatch__option-height-screen-l--attributes: 64px !default;

.swatch {
    &__title {
        font-size: $swatch__font-size;
        margin-bottom: $swatch__margin;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__option {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $swatch__option-sizing;
        min-height: $swatch__option-sizing;
        margin: $swatch__option-margin;
        border: $swatch__option-border;
        background: $swatch__option-background;
        color: $swatch__option-color;
        transition: $swatch__transition;
        cursor: pointer;

        &:hover {
            border-color: $swatch__option-border-color-hover;
        }

        &:last-child {
            margin-right: 0;
        }

        @include mq($screen-m) {
            min-width: $swatch__option-sizing-screen-m;
            min-height: $swatch__option-sizing-screen-m;
        }

        &--active {
            border-color: $swatch__option-border-color--active;
        }

        &--attributes {
            @include mq($screen-m) {
                min-width: $swatch__option-width-screen-m--attributes;
                min-height: $swatch__option-height-screen-m--attributes;
            }

            @include mq($screen-l) {
                min-width: $swatch__option-width-screen-l--attributes;
                min-height: $swatch__option-height-screen-l--attributes;
            }
        }
    }
}
