$swatch-font-size          : $font-size-small !default;
$swatch-margin             : 15px !default;
$swatch-width              : 48px !default;
$swatch-transition         : $transition-base !default;

$swatch-background         : $white !default;
$swatch-color              : $gray-light !default;
$swatch-border-color       : $gray-light !default;
$swatch-outline-color      : $gray-light !default;

$swatch-color-hover        : $color-primary !default;

$swatch-background-active  : $color-primary !default;
$swatch-border-color-active: $color-primary !default;
$swatch-color-active       : $white !default;

$swatch-border             : 3px solid $swatch-border-color !default;
$swatch-outline            : 3px solid $swatch-outline-color !default;

.swatch {
    &__title {
        font-size: $font-size-small;
        margin-bottom: $swatch-margin;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__option {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $swatch-width;
        width: $swatch-width;
        border: $swatch-border;
        background: $swatch-background;
        margin-right: $swatch-margin;
        margin-bottom: $swatch-margin;
        transition: $swatch-transition;
        color: $swatch-color;
        cursor: pointer;

        &:hover {
            border-color: $swatch-color-hover;
            color: $swatch-color-hover;
        }

        &:last-child {
            margin-right: 0;
        }

        &--active {
            background: $swatch-background-active;
            border-color: $swatch-border-color-active;
            color: $swatch-color-active;

            &:hover {
                color: $swatch-color-active;
            }
        }

        &--color {
            border-color: $swatch-background;

            &:hover {
                outline: $swatch-outline;
                border-color: $swatch-background;
            }

            &.swatch__option--active {
                border-color: $swatch-color-active;
                outline: 3px solid $swatch-background-active;

                &:hover {
                    border-color: $swatch-color-active;
                    outline-color: $swatch-background-active;
                }
            }
        }
    }
}
