$products-grid-item__action-icon-size          : 16px !default;
$products-grid-item__action-icon-size--wishlist: 20px !default;
$products-grid-item__action-item-size          : 32px !default;
$products-grid-item__action-item-spacing       : $spacer !default;
$products-grid-item__base-spacing              : $spacer !default;
$products-grid-item__content-bg-color          : $white !default;
$products-grid-item__padding                   : 0 !default;
$products-grid-item__text-padding              : 0 $spacer !default;
$products-grid-item__border                    : 1px solid $gray-lightest !default;
$products-grid-item__font-size-medium          : $font-size-base !default;
$products-grid-item__font-size-large           : 18px !default;
$products-grid-item__image-margin-bottom       : $spacer !default;
$products-grid-item__name-color                : $font-color-base !default;
$products-grid-item__name-font-weight          : $font-weight-normal !default;
$products-grid-item__price-base-color          : $bg-color-dark !default;

.products-grid-item {
    max-width: 320px; // for proper imageHeight calculation based on container width
    display: block;
    padding: $products-grid-item__padding;
    border: $products-grid-item__border;
    position: relative;
    overflow: hidden;

    &__link {
        &--name {
            flex-basis: 70%;
        }
        @include links(active) {
            display: block;
            text-decoration: none;
        }
    }

    &__content {
        background: $products-grid-item__content-bg-color;
        transition: all 0.5s ease-in-out;
    }

    &__details {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__media {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin-bottom: $products-grid-item__image-margin-bottom;
    }

    &__name {
        font-weight: $products-grid-item__name-font-weight;
        color: $products-grid-item__name-color;
        font-size: $products-grid-item__font-size-medium;
        padding: $products-grid-item__text-padding;

        @include mq($screen-m) {
            font-size: $products-grid-item__font-size-large;
        }
    }

    &__button {
        &--active {
            @include mq($screen-l) {
                display: inline-flex;
            }
        }
    }

    &__price {
        flex: 1 0 auto;
        font-weight: $font-weight-bold;
        text-align: right;
        color: $products-grid-item__price-base-color;
        padding: $products-grid-item__text-padding;
        margin-top: 6px; // product name aligment
    }

    &__old-price {
        @include mq($screen-m) {
            display: block;
            margin-right: 0;
        }
    }

    &__special-price {
        @include mq($screen-m) {
            display: block;
        }
    }

    &__extra {
        opacity: 0;
        height: 0;
        .products-grid-item--active & {
            opacity: 1;
            height: auto;
        }
    }

    &__options,
    &__details {
        margin-bottom: $products-grid-item__base-spacing;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__action-icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__action-item {
        box-shadow: none;
        background: transparent;
        border: none;
        width: $products-grid-item__action-item-size;
        height: $products-grid-item__action-item-size;
        margin-right: $products-grid-item__action-item-spacing;
        &:hover {
            cursor: pointer;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__action-icon {
        width: $products-grid-item__action-icon-size;
        height: $products-grid-item__action-icon-size;
        &--wishlist {
            width: $products-grid-item__action-icon-size--wishlist;
            height: $products-grid-item__action-icon-size--wishlist;
        }
    }
}

$swatch-attribute-options__item-width: 32px !default;
$swatch-attribute-options__small-rect-size: 32px !default;
$swatch-attribute-options__image-selected-border: 1px solid $green !default;
$swatch-attribute-options__item-spacing: $spacer !default;
$swatch-attribute-options__underline-offset-bottom: $spacer !default;
$swatch-attribute-options__link-bar-height: 8px !default;
$swatch-attribute-options__link-bar-bg-color: $green !default;
.swatch-attribute-options {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0;
    &__item {
        flex: 0 0 $swatch-attribute-options__item-width;
        margin-right: $swatch-attribute-options__item-spacing;
        position: relative;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            cursor: pointer;
        }
        &--small-rect {
            width: $swatch-attribute-options__small-rect-size;
            height: $swatch-attribute-options__small-rect-size;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &--small-rect-selected {
            &:after {
                content: '';
                position: absolute;
                bottom: $swatch-attribute-options__underline-offset-bottom;
                left: 0;
                width: 100%;
                height: $swatch-attribute-options__link-bar-height;
                background-color: $swatch-attribute-options__link-bar-bg-color;
                z-index: -1;
            }
        }
        &--image-selected {
            border: $swatch-attribute-options__image-selected-border;
        }
    }
}
