.grid--preview {
    border-bottom: 1px solid #000;
    .grid__column {
        margin: 10px 0;
    }
    .grid__content {
        background: #eee;
        border: 1px solid #000;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
}
