$product-list-item-margin               : 15px !default;
$product-list-item-padding              : 15px !default;
$product-list-item-font-size            : $font-size-small !default;
$product-list-item-font-size-small      : $font-size-extra-small !default;
$product-list-item-border               : 1px solid $gray-lighter !default;
$product-list-item-details-color        : $gray !default;
$product-list-item-name-color           : $gray-dark !default;
$product-list-item-price-color          : $color-primary !default;
$product-list-item-actions-button-width : 35px !default;
$product-list-item-actions-button-height: 35px !default;

.products-list-item {
    display: flex;
    width: 100%;
    margin-bottom: $product-list-item-margin;
    padding-bottom: $product-list-item-padding;
    border-bottom: $product-list-item-border;
    font-size: $product-list-item-font-size-small;

    &__image {
        flex: 0 0 100px;
        padding-right: 10px;
    }

    &__details {
        position: relative;
        flex: 1;
        color: $product-list-item-details-color;

        &-name {
            display: block;
            margin-bottom: 5px;
            color: $product-list-item-name-color;
        }

        &-price {
            margin-bottom: 5px;
            font-size: $product-list-item-font-size;
            color: $product-list-item-price-color;
        }

        &-qty-wrapper {
            flex: 0;
            float: left;
            width: 45px;
            margin: ($product-list-item-margin - 5) 0 0;
            @include mq($screen-s) {
                flex: 0 0 45px;
            }
            @include mq($screen-m) {
                margin: 0;
            }
        }

        &-qty-input {
            text-align: center;
        }

        &-subtotal {
            flex: 1;
            line-height: 35px;
            font-weight: 600;
            font-size: $product-list-item-font-size;
            @include mq($screen-s) {
                margin: 10px 0 0 10px;
            }
            @include mq($screen-m) {
                margin: 0;
                text-align: right;
            }
        }
    }

    &__attributes {
        margin-bottom: 0;
    }

    &__grid {
        width: 100%;

        &-item {
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
            @include mq($screen-s) {
                flex-direction: row;
            }
            @include mq($screen-m) {
                flex-basis: 30%;
            }

            &--data {
                display: block;
            }
        }
    }

    &__actions {
        position: absolute;
        bottom: 5px;
        right: 0;
        @include mq($screen-s) {
            bottom: 0;
        }

        &-button {
            width: $product-list-item-actions-button-width;
            min-width: $product-list-item-actions-button-width;
            height: $product-list-item-actions-button-height;
            border: none;
            margin-bottom: 0;
            margin-left: 5px;
        }
    }
}
