$registration__padding-top                                  : $spacer--medium !default;

$registration__title-margin-bottom                          : $spacer--medium !default;
$registration__title-margin-bottom\@large                   : $spacer--large !default;
$registration__title-font-size                              : $font-size-base !default;
$registration__title-font-size\@medium                      : $font-size-large !default;
$registration__title-font-size\@large                       : 24px !default;
$registration__title-text-transform                         : uppercase !default;

$registration__content-margin                               : 0 0 $spacer--extra-large !default;

$registration__input-margin                                 : 0 0 $spacer--medium !default;
$registration__input-margin--password                       : 0 0 $spacer !default;

$registration__fieldset-margin                              : 0 0 $spacer--medium !default;
$registration__fieldset-min-width\@medium                   : 600px !default;
$registration__fieldset-width\@medium                       : 50% !default;

$registration__legend-font-size                             : $font-size-base;
$registration__legend-font-weight                           : $font-weight-bold;
$registration__legend-margin                                : 0 0 $spacer--large !default;
$registration__legend-padding                               : 0 0 $spacer--medium !default;
$registration__legend-width                                 : 100% !default;
$registration__legend-border-bottom                         : 8px solid $gray-lightest !default;

$registration__legend-short-border-height                   : 8px !default;
$registration__legend-short-border-width                    : 152px !default;
$registration__legend-short-border-bottom-offset            : -8px;
$registration__legend-short-border-left-offset              : 0 !default;
$registration__legend-short-border-color                    : $color-primary !default;

$registration__newsletter-checkbox-margin                   : 0 0 $spacer !default;
$registration__newsletter-checkbox-icon-offset              : 15px !default;
$registration__newsletter-checkbox-label-padding-left       : 48px !default;
$registration__newsletter-checkbox-label-line-height        : 48px !default;
$registration__newsletter-checkbox-icon-clickable-area      : 48px !default;
$registration__newsletter-checkbox-checked-label-font-weight: $font-weight-bold !default;

$registration__password-color                               : $gray !default;
$registration__password-bg-color                            : transparent !default;
$registration__password-margin                              : 0 !default;
$registration__password-strength-margin                     : 0 0 $spacer 0 !default;
$registration__password-strength-padding                    : $spacer 0 !default;
$registration__password-strength-radius                     : $form-elements-radius !default;
$registration__password-strength-font-color                 : $gray !default;


$registration__password-strength-meter-padding              : 2px $spacer--medium !default;
$registration__password-strength-meter-color                : $gray !default;
$registration__password-strength-meter-border               : 1px solid $gray !default;
$registration__password-strength-meter-border-radius        : $form-elements-radius !default;
$registration__password-strength-meter-bg-color             : $gray-lightest !default;
$registration__password-strength-meter-margin               : 0 0 0 $spacer !default;

$registration__password-strength-meter-color--weak          : $color-danger !default;
$registration__password-strength-meter-bg-color--weak       : lighten($color-danger, 32) !default;
$registration__password-strength-meter-border--weak         : 1px solid $color-danger !default;

$registration__password-strength-meter-color--medium       : $color-info !default;
$registration__password-strength-meter-bg-color--medium    : lighten($color-info, 32) !default;
$registration__password-strength-meter-border--medium      : 1px solid $color-info !default;

$registration__password-strength-meter-color--strong       : $black !default;
$registration__password-strength-meter-bg-color--strong    : lighten($color-success, 40) !default;
$registration__password-strength-meter-border--strong      : 1px solid $color-success !default;

$registration__password-strength-meter-color--very-strong   : $black !default;
$registration__password-strength-meter-bg-color--very-strong: lighten($color-success, 28) !default;
$registration__password-strength-meter-border--very-strong  : 1px solid $color-success !default;


.registration {
    padding-top: $registration__padding-top;
    &__title {
        font-size: $registration__title-font-size;
        text-transform: $registration__title-text-transform;
        margin-bottom: $registration__title-margin-bottom;
        @include mq($screen-m) {
            font-size: $registration__title-font-size\@medium;
        }
        @include mq($screen-l) {
            font-size: $registration__title-font-size\@large;
            margin-bottom: $registration__title-margin-bottom\@large;
        }
    }
    &__content {
        margin: $registration__content-margin;
    }
    &__input {
        margin: $registration__input-margin;
        &--password {
            margin: $registration__input-margin--password;
        }
    }
    &__legend {
        position: relative;
        margin: $registration__legend-margin;
        padding: $registration__legend-padding;
        border-bottom: $registration__legend-border-bottom;
        width: $registration__legend-width;
        font-size: $registration__legend-font-size;
        font-weight: $registration__legend-font-weight;
        &:after {
            content: ' ';
            position: absolute;
            z-index: 2;
            width: $registration__legend-short-border-width;
            height: $registration__legend-short-border-height;
            bottom: $registration__legend-short-border-bottom-offset;
            left: $registration__legend-short-border-left-offset;
            background-color: $registration__legend-short-border-color;
        }
    }
    &__fieldset {
        margin: $registration__fieldset-margin;
        @include mq($screen-m) {
            min-width: $registration__fieldset-min-width\@medium;
            width: $registration__fieldset-width\@medium;
        }
    }
    &__newsletter-checkbox {
        margin: $registration__newsletter-checkbox-margin;
    }
    &__newsletter-checkbox-label {
        padding-left: $registration__newsletter-checkbox-label-padding-left;
        line-height: $registration__newsletter-checkbox-label-line-height;
        &:before {
            top: $registration__newsletter-checkbox-icon-offset;
            left: $registration__newsletter-checkbox-icon-offset;
        }
        &:after {
            width: $registration__newsletter-checkbox-icon-clickable-area;
            height: $registration__newsletter-checkbox-icon-clickable-area;
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__newsletter-checkbox-field {
        &:checked ~ .checkbox__label {
            font-weight: $registration__newsletter-checkbox-checked-label-font-weight;
        }
    }
    &__newsletter-checkbox-icon {
        top: $registration__newsletter-checkbox-icon-offset;
        left: $registration__newsletter-checkbox-icon-offset;
    }
    &__password {
        margin: $registration__password-margin;
    }
    &__password-strength {
        margin: $registration__password-strength-margin;
    }
    &__password-strength-progress {
        border-radius: $registration__password-strength-radius;
        background-color: $registration__password-bg-color;
        padding: $registration__password-strength-padding;
        color: $registration__password-color;
        &:before {
            .registration & {
                background-color: $registration__password-bg-color;
            }
        }

        span {
            display: inline;
            margin: $registration__password-strength-meter-margin;
            color: $registration__password-strength-meter-color;
            background-color: $registration__password-strength-meter-bg-color;
            border: $registration__password-strength-meter-border;
            border-radius: $registration__password-strength-meter-border-radius;
            padding: $registration__password-strength-meter-padding;
            .password-strength--weak &,
            .password-strength-meter--weak & {
                background-color: $registration__password-strength-meter-bg-color--weak;
                color: $registration__password-strength-meter-color--weak;
                border: $registration__password-strength-meter-border--weak
            }

            .password-strength--medium &,
            .password-strength-meter--medium & {
                background-color: $registration__password-strength-meter-bg-color--medium;
                color: $registration__password-strength-meter-color--medium;
                border: $registration__password-strength-meter-border--medium
            }

            .password-strength--strong &,
            .password-strength-meter--strong & {
                background-color: $registration__password-strength-meter-bg-color--strong;
                color: $registration__password-strength-meter-color--strong;
                border: $registration__password-strength-meter-border--strong;
            }
            .password-strength--very-strong &,
            .password-strength-meter--very-strong & {
                background-color: $registration__password-strength-meter-bg-color--very-strong;
                color: $registration__password-strength-meter-color--very-strong;
                border: $registration__password-strength-meter-border--very-strong
            }
            
        }
        
    }
}
