$button__height           : 48px !default;
$button__width            : 48px !default;
$button__padding          : 0 $padding-base !default;
$button__border           : none !default;
$button__border-radius    : 100px !default;
$button__border-hover     : none !default;
$button__background       : $color-primary !default;
$button__background-hover : $gray-dark !default;
$button__outline          : none !default;
$button__font-family      : $font-family-base !default;
$button__font-weight      : $font-weight-bold !default;
$button__font-size        : $font-size-base !default;
$button__font-color       : $white !default;
$button__font-color-hover : $color-primary !default;
$button__transition       : $transition-base !default;

// Secondary
$button__border--secondary           : 1px solid $color-primary !default;
$button__border-hover--secondary     : $color-primary !default;
$button__background--secondary       : $white !default;
$button__background-hover--secondary : $color-primary !default;
$button__font-color--secondary       : $color-primary !default;
$button__font-color-hover--secondary : $gray-dark !default;

// Icon
$button-icon__padding          : 0 !default;
$button-icon__size             : 20px !default;
$button-icon__content-margin   : 0 $margin-base 0 0 !default;
$button-icon__border-width     : 3px !default;
$button-icon__border           : $button-icon__border-width solid $color-primary !default;
$button-icon__border-hover     : $gray-dark !default;
$button-icon__fill             : $white !default;
$button-icon__fill-hover       : $color-primary !default;
$button-icon__background       : $color-primary !default;
$button-icon__background-hover : $gray-dark !default;
$button-icon__color            : $gray-light !default;
$button-icon__color-hover      : $color-primary !default;

//fluid
$button__width--fluid               : 100% !default;

.button {
    display: inline-block;
    cursor: pointer;
    height: $button__height;
    min-width: $button__width;
    padding: $button__padding;
    border: $button__border;
    border-radius: $button__border-radius;
    outline: $button__outline;
    background: $button__background;
    font-family: $button__font-family;
    font-size: $button__font-size;
    color: $button__font-color;
    transition: $button__transition;
    font-weight: $button__font-weight;

    &:hover,
    &:focus {
        background: $button__background-hover;
        border-color: $button__border-hover;
        color: $button__font-color-hover;
    }

    &--link {
        display: inline-flex;
        align-items: center;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $button__font-color-hover;
        }
    }

    &--secondary {
        border: $button__border--secondary;
        color: $button__font-color--secondary;
        background: $button__background--secondary;

        &:hover,
        &:focus {
            border-color: $button__border-hover--secondary;
            color: $button__font-color-hover--secondary;
            background: $button__background-hover--secondary;
        }
    }

    &--icon {
        padding: $button-icon__padding;
        border: $button-icon__border;
        background: $button-icon__background;

        &:hover,
        &:focus {
            border-color: $button-icon__border-hover;
            background: $button-icon__background-hover;
            .button__icon {
                fill: $button-icon__fill-hover;
            }
        }
    }

    &--fluid {
        width: $button__width--fluid;
    }
    .button__icon {
        width: $button-icon__size;
        height: $button-icon__size;
        fill: $button-icon__fill;
        transition: $button__transition;
    }
}

