$input__margin              : 10px !default;
$input__padding             : 10px 15px !default;
$input__field-border        : 1px solid #d9d9d9 !default;
$input__field-border-radius : $form-elements-radius !default;
$input__placeholder-color   : $gray-light !default;

$input__min-height--textarea: 100px !default;

.input {
    margin-bottom: $input__margin;

    &--inline {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .input__label {
            margin-bottom: 0;
            margin-right: 20px;
        }
    }

    &__field {
        width: 100%;
        padding: $input__padding;
        border: $input__field-border;
        border-radius: $input__field-border-radius;

        @include links(active) {
            outline: none;
        }

        &::placeholder {
            color: $input__placeholder-color;
        }

        &--textarea {
            border-radius: $form-elements-radius--small;
            min-width: 100%;
            max-width: 100%;
            min-height: $input__min-height--textarea;
        }
    }
}
