$input__padding                      : 0 $spacer--medium !default;
$input__field-spacing                : 40px !default;
$input__field-border                 : 1px solid $form-elements-border-color !default;
$input__field-border-radius          : $form-elements-radius !default;
$input__field-border-radius--textarea: $form-elements-radius--small !default;
$input__field-line-height--textarea  : $font-line-height !default;
$input__placeholder-color            : $gray !default;

$input__min-height--textarea: 100px !default;

.input {
    margin-bottom: $spacer;

    &--inline {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .input__label {
            margin-bottom: 0;
            margin-right: $spacer--medium;
        }
    }

    &__field {
        width: 100%;
        height: $input__field-spacing;
        line-height: $input__field-spacing;
        padding: $input__padding;
        border: $input__field-border;
        border-radius: $input__field-border-radius;

        &::placeholder {
            color: $input__placeholder-color;
        }

        &--textarea {
            border-radius: $input__field-border-radius--textarea;
            min-width: 100%;
            max-width: 100%;
            min-height: $input__min-height--textarea;
            padding: $spacer--medium;
            line-height: $input__field-line-height--textarea;
        }
    }
}
