$input-label-font-size  : $font-size-small !default;
$input-border-color     : #d9d9d9 !default;
$input-padding          : 10px 15px !default;
$input-border-radius    : $border-radius !default;
$input-placeholder-color: $gray-light !default;

$textarea-min-height    : 100px !default;

.input {
    margin-bottom: 10px;

    &__label {
        display: block;
        margin-bottom: 8px;
        font-size: $input-label-font-size;
        &--hidden {
            display: none;
        }
    }

    &__field {
        width: 100%;
        padding: $input-padding;
        border: 1px solid $input-border-color;
        border-radius: $input-border-radius;

        @include links(active) {
            outline: none;
        }

        &::placeholder {
            color: $input-placeholder-color;
        }

        &--textarea {
            min-width: 100%;
            max-width: 100%;
            min-height: $textarea-min-height;
        }
    }

    &--inline {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .input__label {
            margin-bottom: 0;
            margin-right: 20px;
        }
    }
}
