<div class="input {{#if modifier}}input--{{modifier}}{{/if}}">
    <label for="input" class="input__label">
        {{ label }}
    </label>

    <input type="text"
            name="input"
            class="input__field"
            placeholder="{{ placeholder }}"
    >
</div>
