<div class="input">
    <label for="textarea" class="input__label">
        {{ label }}
    </label>

    <textarea class="input__field input__field--textarea"
              name="textarea"
              id="textarea"
              placeholder="{{ placeholder }}"
    ></textarea>
</div>
