$icon__width      : 48px !default;
$icon__padding    : 12px !default;
$icon__svg-width  : 24px !default;
$icon__svg-height : 24px !default;
$icon__svg-padding: 2px !default;

.icon {
    padding: $icon__padding;
    display: block;
    width: $icon__width;

    &__svg {
        width: $icon__svg-width;
        height: $icon__svg-height;
        padding: $icon__svg-padding;
    }
}
