$newsletter-legend-font-size  : $font-size-large !default;
$newsletter-legend-line-height: 1.2 !default;

.newsletter {
    &__heading {
        line-height: $newsletter-legend-line-height;
        margin-right: 20px;
    }
}
