.heading {
    color: $font-color;
    font-family: $font-family;
    font-weight: 400;
    margin: 0 0 15px;
    font-size: 14px;
    text-transform: uppercase;

    &--bodoni-font {
        font-family: 'Bodoni-font' $font-family;

        &--italic {
            font-family: 'Bodoni-font-italic' $font-family;
        }
    }

    &--futura-font {
        font-family: 'Futura-font' $font-family;

        &--italic {
            font-family: 'Futura-font-italic' $font-family;
        }
    }

    &--mixed-font {
        font-family: 'Futura-font' $font-family;

        @include mq($screen-m) {
            font-family: 'Bodoni-font' $font-family;
        }

        &--italic {
            font-family: 'Futura-font-italic' $font-family;

            @iclude mq($screen-m) {
                font-family: 'Bodoni-font-italic' $font-family;
            }
        }
    }

    &--first-level {
        font-size: 18px;
        margin-bottom: 0;

        @include mq($screen-m) {
            font-size: 30px;
        }
    }

    &--second-level {
        font-size: 24px;
        margin-bottom: 30px;
    }

    &--third-level {
        font-size: 18px;
        margin-bottom: 20px;
    }

    &--fourth-level {
        font-size: 14px;

        @include mq($screen-m) {
            font-size: 18px;
        }
    }
}
