<h1 class="heading heading--first-level">
    First level heading
</h1>
<h1 class="heading heading--second-level">
    Second level heading
</h1>
<h1 class="heading heading--third-level">
    Third level heading
</h1>
<h1 class="heading heading--fourth-level">
    Fourth level heading
</h1>
