$side-menu-padding         : 30px !default;
$side-menu-top             : calc(100% + 1px) !default;
$side-menu-left            : 100% !default;
$side-menu-width           : 300px !default;
$side-menu-background      : $white !default;
$side-menu-box-shadow      : 0 3px 7px 0 rgba(0, 0, 0, 0.35) !default;
$side-menu-transition      : $transition-base !default;
$side-menu-open-transform  : translateX(-100%) !default;
$side-menu-link-color      : $gray-dark !default;
$side-menu-link-hover-color: $gray !default;

.side-menu {
    position: absolute;
    top: $side-menu-top;
    left: $side-menu-left;
    width: $side-menu-width;
    padding: $side-menu-padding;
    z-index: 50;
    background: $side-menu-background;
    box-shadow: $side-menu-box-shadow;
    text-transform: uppercase;
    opacity: 0;
    transition: $side-menu-transition;

    @include mq($screen-l) {
        display: none;
    }

    &--is-open {
        opacity: 1;
        transform: $side-menu-open-transform;
    }

    &__link {
        display: block;
        line-height: 3;
        color: $side-menu-link-color;

        &:hover {
            text-decoration: none;
            color: $side-menu-link-hover-color;
        }
    }
}
