<div class="side-menu {{ class }}">
    {{> '@list' list }}

    <a href="#" class="side-menu__link link">
        Example
    </a>
    <a href="#" class="side-menu__link link">
        Sign in
    </a>
</div>
