<div class="side-menu {{ class }}">
    <ul>
        {{#each list}}
            <li>
                <a href="#" class="side-menu__link link">
                    {{ text }}
                </a>
                {{#if nestedList}}
                    <ul>
                        {{#each nestedList  as |item| }}
                            <li>
                                <a href="">
                                    {{ item.text }}
                                </a>
                            </li>
                        {{/each}}
                    </ul>

                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
