$quicksearch__top                          : calc(100% + 1px) !default;
$quicksearch__left                         : -$spacer--medium !default;
$quicksearch__width                        : 100% !default;
$quicksearch__width\@medium                : 688px !default;
$quicksearch__padding                      : 0 $spacer--medium !default;
$quicksearch__background                   : $white !default;
$quicksearch__box-shadow                   : 0 4px 6px 0 rgba(57, 50, 67, 0.3) !default;
$quicksearch__results-padding              : $spacer--medium 0 !default;
$quicksearch__results-margin               : 0 !default;
$quicksearch__results-border               : 1px solid $gray-light !default;
$quicksearch__typed-font-weight            : $font-weight-bold !default;
$quicksearch__close-fill                   : $color-secondary !default;
$quicksearch__close-background             : transparent !default;
$quicksearch__close-border                 : 0 !default;
$quicksearch__close-size                   : $spacer--medium !default;
$quicksearch__content-padding              : $spacer 0 !default;
$quicksearch__content-border-bottom        : 1px solid $gray-light !default;
$quicksearch__list-margin                  : 0 !default;
$quicksearch__list-padding                 : 0 !default;
$quicksearch__category-padding             : $spacer 0 !default;
$quicksearch__category-list-padding        : $spacer 0 0 0 !default;
$quicksearch__category-list-padding\@medium: 0 0 0 $spacer--medium !default;
$quicksearch__manufacturer-list-padding-top: $spacer--medium !default;
$quicksearch__product-border               : 1px solid $gray-light !default;
$quicksearch__product-border--last         : 0 !default;
$quicksearch__product-padding              : $spacer 0 !default;
$quicksearch__product-image-max-size       : 72px !default;
$quicksearch__product-image-mix            : multiply !default;
$quicksearch__product-price-font-weight    : $font-weight-bold !default;
$quicksearch__product-name-margin          : 0 !default;
$quicksearch__product-name-padding         : $spacer 0 !default;
$quicksearch__product-name-color           : inherit !default;
$quicksearch__product-name-font-weight     : $font-weight-normal !default;
$quicksearch__category-name-color          : inherit !default;
$quicksearch__more-link-padding            : $spacer--medium 0 !default;
$quicksearch__more-link-text-align         : center !default;
$quicksearch__more-link-font-weight        : $font-weight-bold !default;

.quicksearch {
    position: absolute;
    top: $quicksearch__top;
    display: none;
    width: $quicksearch__width;
    padding: $quicksearch__padding;
    background: $quicksearch__background;
    box-shadow: $quicksearch__box-shadow;
    @include mq($screen-m) {
        left: $quicksearch__left;
        width: $quicksearch__width\@medium;
    }
    &--visible {
        display: block;
    }

    &__wrapper {
        position: relative;
    }

    &__results {
        margin: $quicksearch__results-margin;
        padding: $quicksearch__results-padding;
        border-bottom: $quicksearch__results-border;
    }

    &__typed {
        font-weight: $quicksearch__typed-font-weight;
    }

    &__close-button {
        position: absolute;
        top: 0;
        right: 0;
        border: $quicksearch__close-border;
        background-color: $quicksearch__close-background;
        &:hover,
        &:focus {
            border: $quicksearch__close-border;
            background-color: $quicksearch__close-background;
        }
    }

    &__close-icon {
        width: $quicksearch__close-size;
        height: $quicksearch__close-size;
        fill: $quicksearch__close-fill;
    }

    &__content {
        padding: $quicksearch__content-padding;
        border-bottom: $quicksearch__content-border-bottom;
        @include mq($screen-m) {
            display: flex;
        }
    }

    &__product-list,
    &__category-list,
    &__manufacturer-list {
        margin: $quicksearch__list-margin;
        padding: $quicksearch__list-padding;
        list-style-type: none;
    }

    &__product-list {
        flex: 2;
    }

    &__manufacturer-list {
        padding-top: $quicksearch__manufacturer-list-padding-top;
    }

    &__categories-column {
        flex: 1;
        padding: $quicksearch__category-list-padding;
        @include mq($screen-m) {
            padding: $quicksearch__category-list-padding\@medium;
        }
    }

    &__product {
        display: flex;
        padding: $quicksearch__product-padding;
        border-bottom: $quicksearch__product-border;
        @include mq($screen-m) {
            &:last-child {
                border-bottom: $quicksearch__product-border--last;
            }
        }
    }

    &__product-image-wrapper {
        display: flex;
        margin-right: $spacer;
        background: $gray-lightest;
    }

    &__product-image {
        max-width: $quicksearch__product-image-max-size;
        max-height: $quicksearch__product-image-max-size;
        mix-blend-mode: $quicksearch__product-image-mix;
    }

    &__product-link,
    &__category-link,
    &__manufacturer-link {
        text-decoration: none;
    }

    &__product-name {
        margin: $quicksearch__product-name-margin;
        padding: $quicksearch__product-name-padding;
        color: $quicksearch__product-name-color;
        font-weight: $quicksearch__product-name-font-weight;
    }

    &__category,
    &__manufacturer {
        padding: $quicksearch__category-padding;
    }

    &__category-name,
    &__manufacturer-name {
        color: $quicksearch__category-name-color;
    }

    &__more-link {
        display: block;
        padding: $quicksearch__more-link-padding;
        text-align: $quicksearch__more-link-text-align;
        font-weight: $quicksearch__more-link-font-weight;
        text-decoration: none;
    }
}
