p {
    font-family: $font-family;
    font-size: 14px;
    line-height: 24px;
    margin: 15px 0;
}

span {
    font-family: $font-family;
    font-size: 12px;
    line-height: 22px;
    margin: 5px 0;
}

a {
    font-family: $font-family;
    font-size: 14px;
    line-height: 24px;
    color: $color-orange;
    text-decoration: underline;
}
