.paragraph {
    font-family: $font-family;
    font-size: 16px;
    line-height: 2;

    p {
        margin: 15px 0;
    }

    span {
        margin: 5px 0;
    }

    a {
        color: $color-primary;
        text-decoration: none;
    }

    pre {
        padding: 20px;
        background: $color-gray-background;
        overflow: scroll;
    }

    blockquote {
        border-left: 5px solid $color-primary;
        margin: 10px 0;
        padding: 10px 10px 10px 40px;
        background: $color-gray-background;
    }
}
