$password-strength__padding                : $spacer $spacer--medium !default;
$password-strength__font-size              : $font-size-small !default;
$password-strength__border-radius          : $border-radius !default;
$password-strength__background             : $gray-lighter !default;
$password-strength__background--none       : $gray-lighter !default;
$password-strength__background--weak       : $red !default;
$password-strength__background--medium     : $yellow !default;
$password-strength__background--strong     : rgba($green, 0.75) !default;
$password-strength__background--very-strong: $green !default;

.password-strength,
.password-strength-meter {
    &__progress {
        background-color: $password-strength__background;
        font-size: $password-strength__font-size;
        border-radius: $password-strength__border-radius;
        padding: $password-strength__padding;
        overflow: hidden;
        position: relative;
        z-index: 0;

        &:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;

            .password-strength--none &,
            .password-strength-meter--none & {
                background-color: $password-strength__background--none;
                width: 100%;
            }

            .password-strength--weak &,
            .password-strength-meter--weak & {
                background-color: $password-strength__background--weak;
                width: 25%;
            }

            .password-strength--medium &,
            .password-strength-meter--medium & {
                background-color: $password-strength__background--medium;
                width: 50%;
            }

            .password-strength--strong &,
            .password-strength-meter--strong & {
                background-color: $password-strength__background--strong;
                width: 75%;
            }

            .password-strength--very-strong &,
            .password-strength-meter--very-strong & {
                background-color: $password-strength__background--very-strong;
                width: 100%;
            }
        }
    }
}
