$password-strength-default    : $gray-lighter !default;
$password-strength-font-size  : $font-size-small !default;
$password-strength-weak       : #ffafae !default;
$password-strength-medium     : #ffd6b3 !default;
$password-strength-strong     : #c5eeac !default;
$password-strength-very-strong: #81b562 !default;

.password-strength,
.password-strength-meter {
    &__progress {
        background-color: $password-strength-default;
        font-size: $password-strength-font-size;
        border-radius: $input-border-radius;
        padding: $input-padding;
        overflow: hidden;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;

            .password-strength--0 &,
            .password-strength-meter--0 & {
                background-color: $password-strength-default;
                width: 100%;
            }

            .password-strength--1 &,
            .password-strength-meter--1 & {
                background-color: $password-strength-weak;
                width: 25%;
            }

            .password-strength--2 &,
            .password-strength-meter--2 & {
                background-color: $password-strength-medium;
                width: 50%;
            }

            .password-strength--3 &,
            .password-strength-meter--3 & {
                background-color: $password-strength-strong;
                width: 75%;
            }

            .password-strength--4 &,
            .password-strength-meter--4 & {
                background-color: $password-strength-very-strong;
                width: 100%;
            }
        }
    }
}
