<div class="password-strength {{ class }}">
    <div>
        {{ text }}
        <span
            class="password-strength__indicator {{ strengthIndicatorClass }}"
            aria-live="polite"
        >
            {{ noPassword }}
        </span>
    </div>
</div>
