<div class="password-strength {{ class }}">
    <div
        class="{{ strengthIndicatorClass }}"
        data-role="password-strength-meter"
    >
        <div class="password-strength__handle">
            {{ text }}
            <span
                class="password-strength__indicator"
                data-role="password-strength-meter-label"
                aria-live="polite"
            >
                {{ noPassword }}
            </span>
        </div>
    </divclas>
</div>
