<div class="pager">
    <ul class="pager__list">
        <li class="pager__item pager__item--prev">
            <a href="#" class="pager__link">
                <svg class="pager__icon">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </li>

        {{#each pages as |page|}}
            <li class="pager__item">
                <a href="#"
                    class="
                        pager__link
                        {{#if page.active }}
                            pager__item--current
                        {{/if}}
                    "
                >
                    {{{ page.index }}}
                </a>
            </li>
        {{/each}}

        <li class="pager__item pager__item--next">
            <a href="#" class="pager__link">
                <svg class="pager__icon">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>
