*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    min-width: 320px;
    height: 100%;
    color: $font-color-base;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
}

body {
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    flex: 1 0 auto;
}

p {
    margin: 0;
    padding: 0;
}

dl,
dt,
dd {
    margin: 0;
}
