$rating-base-margin             : $spacer--medium !default;
$rating__description-margin     : $spacer 0 !default;
$review__fieldset-margin-bottom : $spacer--large !default;
$review__field-margin           : 0 !default;
$review__fieldset-padding-top   : $spacer !default;
$review__rating-margin-bottom   : $spacer !default;
$review__amount-margin-left     : $spacer !default;
$review__label-margin-right     : $spacer !default;

.review {
    &__divider {
        margin-bottom: $rating-base-margin;
    }

    &__title {
        margin-bottom: $rating-base-margin;
        font-size: 18px;
    }

    &__date {
        color: $gray-light;
        font-size: $font-size-small;
    }

    &__description {
        vertical-align: middle;
        margin: $rating__description-margin;
    }

    &__fieldset {
        margin-bottom: $review__fieldset-margin-bottom;
        padding-top: $review__fieldset-padding-top;
    }

    &__field {
        margin-bottom: $review__field-margin;
    }

    &__rating {
        display: flex;
        margin-bottom: $review__rating-margin-bottom;
        &--average {
            align-items: center;
        }
    }

    &__rating-label {
        margin-right: $review__label-margin-right;
    }

    &__amount {
        margin-left: $review__amount-margin-left;
    }
}
