.cms-2cols {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;

    @include clearfix();

    @include mq($screen-l) {
        margin-bottom: 70px;
    }

    &__left {
        margin-bottom: 20px;

        @include mq($screen-m) {
            margin-bottom: 40px;
        }

        @include mq($screen-l) {
            float: left;
            width: 47.5%;
            margin-bottom: 0;
        }
    }

    &__right {
        margin-bottom: 20px;

        @include mq($screen-m) {
            margin-bottom: 40px;
        }

        @include mq($screen-l) {
            float: right;
            width: 47.5%;
            margin-bottom: 0;
        }
    }

    &__text {
        margin: 0;
    }
}
