<div class="cms-2cols">
    <div class="cms-2cols__left">
        <h4 class="cms-2cols__title">{{ title }}</h4>
        <p class="cms-2cols__text">{{ text }}</p>
    </div>
    <div class="cms-2cols__right">
        <h4 class="cms-2cols__title">{{ title2 }}</h4>
        <p class="cms-2cols__text">{{ text2 }}</p>
    </div>
</div>
