$search-trigger-width      : 60px !default;
$search-trigger-height     : 60px !default;
$search-trigger-padding    : 20px 13px 10px !default;
$search-trigger-backgrond  : $white !default;
$search-trigger-icon-width : 25px !default;
$search-trigger-icon-height: 25px !default;

.search-trigger {
    position: absolute;
    top: 0;
    right: 145px;
    width: $search-trigger-width;
    height: $search-trigger-height;
    padding: $search-trigger-padding;
    cursor: pointer;
    text-align: center;
    background-color: $search-trigger-backgrond;
    border: none;

    @include mq($screen-l) {
        right: 50px;
        top: 60px;
        z-index: 10;
    }

    &__icon {
        width: $search-trigger-icon-width;
        height: $search-trigger-icon-height;
    }
}
