<button class="search-trigger">
    <svg class="search-trigger__icon ">
        <use xlink:href="/images/icons-sprite.svg#{{icon}}"></use>
    </svg>
</button>
<script src="{{static 'search-trigger.js'}}" defer></script>
