.docs-only-styles {
    .col-large .row__content {
        height: 8em;
    }
    .grid-container {
        padding: 0 25px;
    }
    .row {
        min-height: 2em;
        margin-bottom: $spacer;
        background: $yellow;

        &__content {
            margin: $spacer 0;
            padding: $spacer;
            background: $color-primary;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
        }
    }
}
