.promotion {
    &__container {
        padding: 20px;
        @include mq($screen-m) {
            padding: 40px 65px;
        }

        @include mq($screen-l) {
            max-width: $max-content-width;
            margin: 0 auto;
            display: block;
            padding: 40px 100px;
        }
    }

    &__date {
        font-weight: 300;
        font-size: 18px;
        color: $color-main1;
        display: block;
        margin-bottom: 30px;
        @include mq($screen-m) {
            font-size: 36px;
            letter-spacing: -3px;
        }
    }

    &__pretitle {
        font-weight: 400;
        font-size: 24px;
        color: $color-black;
        line-height: 30px;
        text-transform: uppercase;
        margin: 0;
        @include mq($screen-m) {
            font-size: 30px;
        }
    }

    &__title {
        font-weight: 800;;
        font-size: 30px;
        color: $color-main1;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 25px;
        @include mq($screen-m) {
            font-size: 36px;
            margin-bottom: 50px;
        }
    }

    &__bottom-title {
        font-weight: 400;
        font-size: 16px;
        color: $color-gray-dark;
        @include mq($screen-m) {
            font-size: 20px;
        }
    }
}
