.a11y-test {
    padding: 15px;
    border-bottom: 10px solid #31e37d;
    &--error {
        border-color: red;
        .a11y-test__success-msg {
            display: none;
        }
    }
    &__success-msg {
        color: #31e37d;
    }
    &__error-msg {
        color: red;
    }
    &__error-element {
        outline: 5px solid red;
    }
    &__error-preview {
        max-width: 500px;
    }
}
