<div class="input
            {{#if icon}}
                input{{iconModificator}}
            {{/if}}
     "
>
    <label for="input1" class="input__label">{{ labelText }}</label>
    <input type="text"
           name="input1"
           class="input__field"
           placeholder="{{ placeholder }}"
    >
    {{#if icon}}
        {{> '@button--icon'}}
    {{/if}}
</div>
