$range__height: 8px !default;
$range__handler-width: 24px !default;
$range__handler-height: 24px !default;
$range__handler-bg-color: $white !default;
$range__handler-border: none !default;
$range__handler-border-radius: 50% !default;
$range__handler-box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.5);
$range__handler-offset-top: -1 * $range__height;
$range__handler-offset-left--lower: 16px;
$range__handler-offset-right--upper: -7px;
$range__track-bg-color: #f1f1f1;
$range__track-border: none;
$range__dash-padding: 0 $spacer--medium 0 $spacer;
$range__suffix-padding: 0 $spacer;

.range-filter {
    padding: 0;
    padding-top: $range__height;
    overflow: hidden;
    &__slider {
        margin-bottom: $spacer--medium;
    }
    &__inputs-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__dash {
        text-align: center;
        padding: $range__dash-padding;
    }
    &__suffix {
        padding: $range__suffix-padding;
    }
    &__label {
        @include visually-hidden();
    }
    &__input {
        width: auto;
        flex-grow: 1;
        margin-bottom: 0;
    }
}


.noUi-tooltip {
    display: none;
}

.noUi-target {
    box-shadow:    none;
    border:        none;
    border-radius: 100px;
    height:        $range__height;
}

.noUi-handle {
    .noUi-horizontal & {
        border-radius: $range__handler-border-radius;
        background:    $range__handler-bg-color;
        width:         $range__handler-width;
        height:        $range__handler-height;
        border:        $range__handler-border;
        box-shadow:    $range__handler-box-shadow;
        top:           $range__handler-offset-top;
        &:before,
        &:after {
            display: none;
        }
        &:focus {
            outline: none;

            .noUi-tooltip {
                display: block;
            }
        }
    }
}
.noUi-extended {
    padding-right: 24px;
}
.noUi-extended .noUi-handle {
    left: -1px;
}
.noUi-extended .noUi-origin  {
    right: -24px;
}
