<div class="rating {{ class }}" {{{ attributes }}}>
    <span>
        ☆
    </span>

    <span>
        ☆
    </span>

    <span>
        ☆
    </span>

    <span>
        ☆
    </span>

    <span>
        ☆
    </span>
</div>
