// sass-lint:disable-all

/* stylelint-disable declaration-colon-newline-after */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url('/components/raw/fonts/montserrat-regular.woff2') format('woff2'),
        url('/components/raw/fonts/montserrat-regular.woff') format('woff'),
        url('/components/raw/fonts/montserrat-regular.svg') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/components/raw/fonts/montserrat-bold.woff2') format('woff2'),
        url('/components/raw/fonts/montserrat-bold.woff') format('woff'),
        url('/components/raw/fonts/montserrat-bold.svg') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('/components/raw/fonts/montserrat-black.woff2') format('woff2'),
        url('/components/raw/fonts/montserrat-black.woff') format('woff'),
        url('/components/raw/fonts/montserrat-black.svg') format('svg');
}

/* stylelint-enable declaration-colon-newline-after */

// sass-lint:enable-all
