$search-padding          : 15px !default;
$search-background       : $white !default;
$search-transition       : max-height 0.5s !default;
$search-button-margin    : 10px !default;
$search-breakpoint-medium: $screen-m !default;

.search {
    padding: 0;
    margin: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: $search-transition;

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        width: 100%;
        padding: $search-padding 0 0 0;
        background-color: $search-background;
    }

    &__input {
        display: block;
        flex-basis: 100%;

        @include mq($search-breakpoint-medium) {
            flex-basis: 75%;
            margin-right: 5%;
        }
    }

    &__button {
        padding: ($search-padding - 5) $search-padding;
        flex-basis: 100%;
        margin-bottom: $search-button-margin;

        @include mq($search-breakpoint-medium) {
            flex-basis: 20%;
        }
    }

    &__advanced {
        text-align: right;
    }

    &--visible {
        height: auto;
        max-height: 170px;

        @include mq($search-breakpoint-medium) {
            max-height: 110px;
        }
    }
}
