.icons { 
    padding: 10px; 
    display: flex; 
    flex-wrap: wrap; 
    &__item { 
        width: 100px; 
        margin: 20px; 
    } 
    &__svg { 
        display: block; 
        margin: auto; 
        max-width: 50px; 
        max-height: 50px; 
    } 
    &__name { 
        display: block; 
        margin-top: 20px; 
        text-align: center; 
    } 
} 
