$price__spacing             : $spacer !default;
$price__font-weight         : $font-weight-bold !default;
$price__font-weight--old    : $font-weight-normal !default;
$price__font-weight--special: $font-weight-bold !default;
$price__color--old          : $gray !default;
$price__color--special      : $gray-darker !default;
.price {
    &__value {
        font-weight: $price__font-weight;
        &--old {
            text-decoration: line-through;
            font-weight: $price__font-weight--old;
            margin-right: $price__spacing;
            color: $price__color--old;
        }
        &--special {
            font-weight: $price__font-weight--special;
            color: $price__color--special;
        }
    }
}
