{{ render '@header' }}

<div class="dashboard container">
    <div class="grid">
        <div class="grid__column grid__column--1-4 dashboard__sidebar">
            {{> '@dashboard-nav' nav }}
        </div>

        <div class="grid__column grid__column--3-4 dashboard__content">
            {{> '@dashboard-table' invitations }}

            {{> '@dashboard-actions' buttons }}
        </div>
    </div>
</div>

{{ render '@footer' }}
