$dropdown-menu__padding              : 15px !default;
$dropdown-menu__background           : $gray-dark !default;
$dropdown-menu__color                : $white !default;
$dropdown-menu__box-shadow           : -5px 5px 7px 0 rgba(0, 0, 0, 0.2) !default;
$dropdown-menu__transition           : $transition-base !default;
$dropdown-menu__link-color           : $white !default;

// Inner list
$dropdown-menu__inner-list-color     : $gray-dark !default;
$dropdown-menu__inner-list-background: $white !default;

// Icon
$dropdown-menu__icon-top             : 15px !default;
$dropdown-menu__icon-right           : 15px !default;
$dropdown-menu__icon-width           : 20px !default;
$dropdown-menu__icon-height          : 20px !default;
$dropdown-menu__icon-fill            : $white !default;

.dropdown-menu {
    display: none;
    position: relative;
    background: $dropdown-menu__background;
    color: $dropdown-menu__color;

    @include mq($screen-l) {
        display: block;
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0;
        list-style: none;
    }

    &__item {
        cursor: pointer;
        padding: 0;

        &--parent {
            &:hover > .dropdown-menu__inner-list,
            &:focus > .dropdown-menu__inner-list {
                display: flex;
            }

            .dropdown-menu__link {
                position: relative;
                padding-right: 45px;
            }
        }

        & > .dropdown-menu__link {
            text-transform: uppercase;
        }
    }

    &__link {
        position: relative;
        display: block;
        color: $dropdown-menu__link-color;
        padding: $dropdown-menu__padding;
        transition: $dropdown-menu__transition;
    }

    &__inner-list {
        position: absolute;
        display: none;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
        top: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1.5;
        color: $dropdown-menu__inner-list-color;
        background: $dropdown-menu__inner-list-background;
        z-index: 2;

        @include mq($screen-l) {
            max-width: 850px;
            right: 0;
            margin: auto;
        }

        &--level1 {
            box-shadow: $dropdown-menu__box-shadow;
        }

        &--level2 {
            position: relative;
            display: block;
            top: 0;
            padding: 10px 0 0 $dropdown-menu__padding;
        }
    }

    &__inner-item {
        flex: 1;

        &--all {
            display: none;
        }

        &--level1 {
            position: relative;
            padding: ($dropdown-menu__padding * 2) ($dropdown-menu__padding * 2) $dropdown-menu__padding;
        }
    }

    &__inner-link {
        display: block;
        padding-bottom: $dropdown-menu__padding;
    }

    &__icon {
        position: absolute;
        top: $dropdown-menu__icon-top;
        right: $dropdown-menu__icon-right;
        width: $dropdown-menu__icon-width;
        height: $dropdown-menu__icon-height;
        fill: $dropdown-menu__icon-fill;
    }
}
