<div class="dropdown-menu">
    <ul class="dropdown-menu__list container">
        {{#each list}}
            <li class="dropdown-menu__item {{#if nestedList}}dropdown-menu__item--parent{{/if}}">
                <a href="#" class="dropdown-menu__link">
                    {{text}}
                </a>

                {{#if nestedList}}
                    <ul class="dropdown-menu__inner-list dropdown-menu__inner-list--level1">
                        {{#each nestedList}}
                            <li class="dropdown-menu__inner-item dropdown-menu__inner-item--level1 dropdown-menu__inner-item--parent
                                    {{#if modifier}}
                                        {{modifier}}
                                    {{/if}}
                                "
                            >
                                {{> '@heading'
                                    tag="h1"
                                    class="heading heading--third-level dropdown-menu__nested-heading"
                                    text=heading
                                }}
                                <ul class="dropdown-menu__inner-list dropdown-menu__inner-list--level2">
                                    {{#each elements}}
                                    <li class="dropdown-menu__inner-item dropdown-menu__inner-item--level2">
                                        {{ text }}
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                        <li class="dropdown-menu__inner-item dropdown-menu__inner-item--level1">
                            {{> '@image' dataSrc="/images/banner/banner-480_480.png" }}
                        </li>
                    </ul>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
