$link-color           : $color-primary !default;
$link-decoration      : underline !default;
$link-font-family     : $font-family-base !default;
$link-font-weight     : $font-weight-normal !default;
$link-hover-color     : $color-secondary !default;
$link-hover-decoration: underline !default;
$link-transition      : $transition-base !default;
$link-font-size       : $font-size-base !default;
$link-line-height     : $font-line-height !default;
.link {
    color: $link-color;
    text-decoration: $link-decoration;
    transition: $link-transition;
    font-family: $link-font-family;
    font-weight: $link-font-weight;
    line-height: $link-line-height;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
    // visible only for screen readers and when focused
    &--visually-hidden {
        @include visually-hidden;
    }
}

a {
    @extend .link;
}
