$link-color            : $color-primary !default;
$link-decoration       : none !default;
$link-font-family      : $font-family-base !default;
$link-font-weight      : $font-weight-normal !default;
$link-hover-color      : darken($link-color, 15%) !default;
$link-hover-decoration : underline !default;
$link-transition       : $transition-base !default;

.link {
    color: $link-color;
    text-decoration: $link-decoration;
    transition: $link-transition;
    font-family: $link-font-family;
    font-weight: $link-font-weight;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }

    &--hidden {
        position: absolute;
        text-indent: 200%;
        height: 0.008em;
        width: 0.008em;
        overflow: hidden;
    }
}

a {
    @extend .link;
}
