@font-face {
    font-family: 'open_sans_bold';
    src: url('../fonts/open-sans-bold/OpenSans-Bold.eot');
    src: url('../fonts/open-sans-bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-bold/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/open-sans-bold/OpenSans-Bold.woff') format('woff'),
    url('../fonts/open-sans-bold/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/open-sans-bold/OpenSans-Bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_light';
    src: url('../fonts/open-sans-light/OpenSans-Light.eot');
    src: url('../fonts/open-sans-light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-light/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/open-sans-light/OpenSans-Light.woff') format('woff'),
    url('../fonts/open-sans-light/OpenSans-Light.ttf') format('truetype'),
    url('../fonts/open-sans-light/OpenSans-Light.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_regular';
    src: url('../fonts/open-sans-regular/OpenSans-Regular.eot');
    src: url('../fonts/open-sans-regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-regular/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/open-sans-regular/OpenSans-Regular.woff') format('woff'),
    url('../fonts/open-sans-regular/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/open-sans-regular/OpenSans-Regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_bold_italic';
    src: url('../fonts/open-sans-bold-italic/OpenSans-BoldItalic.eot');
    src: url('../fonts/open-sans-bold-italic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-bold-italic/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/open-sans-bold-italic/OpenSans-BoldItalic.woff') format('woff'),
    url('../fonts/open-sans-bold-italic/OpenSans-BoldItalic.ttf') format('truetype'),
    url('../fonts/open-sans-bold-italic/OpenSans-BoldItalic.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_italic';
    src: url('../fonts/open-sans-italic/OpenSans-Italic.eot');
    src: url('../fonts/open-sans-italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-bold-italic/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/open-sans-italic/OpenSans-Italic.woff') format('woff'),
    url('../fonts/open-sans-italic/OpenSans-Italic.ttf') format('truetype'),
    url('../fonts/open-sans-italic/OpenSans-Italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_light_italic';
    src: url('../fonts/open-sans-light-italic/OpenSans-LightItalic.eot');
    src: url('../fonts/open-sans-light-italic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-light-italic/OpenSans-LightItalic.woff2') format('woff2'),
    url('../fonts/open-sans-light-italic/OpenSans-LightItalic.woff') format('woff'),
    url('../fonts/open-sans-light-italic/OpenSans-LightItalic.ttf') format('truetype'),
    url('../fonts/open-sans-light-italic/OpenSans-LightItalic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_extra_bold';
    src: url('../fonts/open-sans-extra-bold/OpenSans-ExtraBold.eot');
    src: url('../fonts/open-sans-extra-bold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-extra-bold/OpenSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/open-sans-extra-bold/OpenSans-ExtraBold.woff') format('woff'),
    url('../fonts/open-sans-extra-bold/OpenSans-ExtraBold.ttf') format('truetype'),
    url('../fonts/open-sans-extra-bold/OpenSans-ExtraBold.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
