.font {
    font-size: 18px;

    &--regular {
        font-weight: 400;
    }
    &--light {
        font-weight: 300;
    }
    &--bold {
        font-weight: 700;
    }
    &--extra-bold {
        font-weight: 800;
    }
}
