<p class="font font--light">Open Sans Light</p>
<p class="font font--regular">Open Sans Regular</p>
<p class="font font--bold">Open Sans Bold</p>
<p class="font font--italic">Open Sans Italic</p>
<p class="font font--bold-italic">Open Sans Bold Italic</p>
<p class="font font--light-italic">Open Sans Light Italic</p>
<p class="font font--extra-bold">Open Sans Light Italic</p>
