.logo {
    display: flex;
    flex-direction: column;
    flex: 1 84px;
    justify-content: center;
    max-width: 84px;
    @include mq($screen-m) {
        flex: 1 112px;
        max-width: 112px;
    }
    &__image {
        height: 25px;
        @include mq($screen-m) {
            height: 34px;
        }
    }
}
