<div class="logo">
    <img class="logo__image lazyload"
         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
         data-src="/images/logo/logo-alpaca.svg"
         alt="alpaca logo"
    />
</div>
