.badge {
    font-size: 12px;
    width: auto;
    position: absolute;
    padding: 5px 10px;
    top: 0;

    &--new {
        background: $color-accent;
        color: $color-white;
    }

    &--alert {
        background: $color-aqua;
        color: $color-white;
    }

    &--error {
        background: $color-main1;
        color: $color-white;
    }
}
