$minicart-trigger__padding           : 10px !default;
$minicart-trigger__background        : $white !default;
$minicart-trigger__icon-spacing      : 30px !default;
$minicart-trigger__counter-spacing   : 5px !default;
$minicart-trigger__counter-font-size : $font-size-extra-small !default;
$minicart-trigger__counter-background: $purple !default;
$minicart-trigger__counter-color     : $white !default;

.minicart-trigger {
    background: $minicart-trigger__background;
    position: relative;
    display: block;
    padding: 15px;
    margin: 0;
    border: 0;
    padding: $minicart-trigger__padding;

    &:hover,
    &:focus {
        background: $minicart-trigger__background;
    }

    &__icon {
        display: block;
        width: $minicart-trigger__icon-spacing;
        height: $minicart-trigger__icon-spacing;
    }

    &__counter {
        position: absolute;
        top: 5px;
        right: 3px;
        display: block;
        top: -$minicart-trigger__counter-spacing;
        right: -$minicart-trigger__counter-spacing;
        padding: $minicart-trigger__counter-spacing;
        background-color: $minicart-trigger__counter-background;
        color: $minicart-trigger__counter-color;
        font-size: $minicart-trigger__counter-font-size;

        @include mq($screen-l) {
            top: 2px;
        }
    }
}
