$minicart-trigger__counter-top         : 0 !default;
$minicart-trigger__counter-top--medium : -2px !default;
$minicart-trigger__counter-right       : 8px !default;
$minicart-trigger__counter-font-size   : $font-size-extra-small !default;
$minicart-trigger__counter-background  : $color-primary !default;
$minicart-trigger__counter-color       : $white !default;
$minicart-trigger__counter-size        : 14px !default;
$minicart-trigger__counter-border      : 2px solid $white !default;

$minicart-trigger__counter-dot-size    : 2px !default;
$minicart-trigger__counter-dot-width   : 2px !default;
$minicart-trigger__counter-dot-bg-color: $white !default;

.minicart-trigger {
    @extend .header-button;

    &__icon {
        @extend .header-button__icon;
    }

    &__text {
        @extend .header-button__text;
    }

    &__counter {
        position: absolute;
        top: $minicart-trigger__counter-top;
        right: $minicart-trigger__counter-right;
        display: flex;
        width: $minicart-trigger__counter-size;
        height: $minicart-trigger__counter-size;
        border: $minicart-trigger__counter-border;
        border-radius: $minicart-trigger__counter-size;
        line-height: $minicart-trigger__counter-size;
        font-size: $minicart-trigger__counter-font-size;
        text-align: center;
        color: $minicart-trigger__counter-color;
        background-color: $minicart-trigger__counter-background;
        @include mq($screen-m) {
            top: $minicart-trigger__counter-top--medium;
        }
        &-dot {
            width: $minicart-trigger__counter-dot-size;
            height: $minicart-trigger__counter-dot-size;
            border-radius: $minicart-trigger__counter-dot-size;
            content: '';
            margin: auto;
            background-color: $minicart-trigger__counter-dot-bg-color;
        }
    }
}
