$minicart-trigger-background        : $white !default;
$minicart-trigger-icon-width        : 30px !default;

$minicart-trigger-counter-font-size : $font-size-extra-small !default;
$minicart-trigger-counter-background: $purple !default;
$minicart-trigger-counter-color     : $white !default;

.minicart-trigger {
    background: $minicart-trigger-background;
    position: relative;
    margin: 0;
    border: 0;
    display: block;
    padding: 10px;

    &:hover,
    &:focus {
        background: $minicart-trigger-background;
    }

    &__icon {
        display: block;
        width: $minicart-trigger-icon-width;
        height: $minicart-trigger-icon-width;
    }

    &__counter {
        position: absolute;
        top: -5px;
        right: -5px;
        display: block;
        padding: 5px;
        background-color: $minicart-trigger-counter-background;
        color: $minicart-trigger-counter-color;
        font-size: $minicart-trigger-counter-font-size;

        @include mq($screen-l) {
            top: 2px;
        }
    }
}
