<a class="action showcart minicart-trigger"
   href="{{cartUrl}}"
>
    <svg class="minicart-trigger__icon">
        <use xlink:href="/images/icons-sprite.svg#{{minicartIcon}}"></use>
    </svg>
    <span class="counter qty empty minicart-trigger__counter">
        <span class="counter-number minicart-trigger__counter-qty">{{ counterQty }}</span>
        <span class="counter-label minicart-trigger__counter-label">
            {{ counterLabel }}
        </span>
    </span>
</a>
