<a href="#" class="header-button {{ class }}" {{{ attributes }}}>
    <svg class="header-button__icon">
         <use xlink:href="{{ svg 'shopping-cart' }}"></use>
    </svg>
    <span class="header-button__text">
        Cart
    </span>
    <span class="minicart-trigger__counter" style="display: none;">
        {{ counter }}
    </span>
</a>
