<button class="minicart-trigger {{ class }}" {{{ attributes }}}>
    <svg class="minicart-trigger__icon">
         <use xlink:href="{{ svg 'shopping-cart' }}"></use>
    </svg>

    <span class="minicart-trigger__counter">
        {{ counter }}
    </span>
</button>
