$checkbox__margin                : 10px !default;
$checkbox__line-height           : $font-line-height !default;
$checkbox__label-padding         : 33px !default;
$checkbox__width                 : 18px !default;
$checkbox__height                : 18px !default;
$checkbox__input-size            : 18px;
$checkbox__icon-size             : 18px !default;
$checkbox__gap                   : ($checkbox__input-size - $checkbox__icon-size) / 2;
$checkbox__icon-border-radius    : 2px !default;
$checkbox__icon-transition       : $transition-base !default;
$checkbox__icon-gap              : $checkbox__gap;
$checkbox__border                : 2px solid #d9d9d9;
$checkbox__border--checked       : none;

.checkbox {
    position: relative;
    margin-bottom: $checkbox__margin;

    &__field {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &:checked + .checkbox__icon {
            opacity: 1;
        }

        &:checked ~ .checkbox__label:before {
            border: $checkbox__border--checked;
        }
    }

    &__label {
        display: block;
        padding-left: $checkbox__label-padding;
        line-height: $checkbox__line-height;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: $checkbox__width;
            height: $checkbox__height;
            border: $checkbox__border;
            border-radius: $checkbox__icon-border-radius;
        }
    }

    &__icon {
        position: absolute;
        top: $checkbox__gap;
        left: $checkbox__icon-gap;
        width: $checkbox__icon-size;
        height: $checkbox__icon-size;
        fill: $color-primary;
        cursor: pointer;
        opacity: 0;
        transition: $checkbox__icon-transition;
    }
}
