$checkbox-line-height       : $font-line-height !default;
$checkbox-border-color      : #d9d9d9 !default;
$checkbox-icon-size         : 15px !default;
$checkbox-icon-border-size  : 23px !default;
$checkbox-icon-border-radius: 2px !default;

.checkbox {
    position: relative;
    margin-bottom: 10px;

    &__field {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &:checked + .checkbox__icon {
            opacity: 1;
        }
    }

    &__label {
        display: block;
        padding-left: $checkbox-icon-border-size + 10px;
        line-height: $checkbox-line-height;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: $checkbox-icon-border-size;
            height: $checkbox-icon-border-size;
            border: 1px solid $checkbox-border-color;
            border-radius: $checkbox-icon-border-radius;
        }
    }

    &__icon {
        position: absolute;
        top: 5px;
        left: 5px;
        width: $checkbox-icon-size;
        height: $checkbox-icon-size;
        fill: $color-primary;
        cursor: pointer;
        opacity: 0;
        transition: $transition-base;
    }
}
