<div class="checkbox">
    <input type="checkbox" id="{{ id }}" class="checkbox__field">
    <svg class="checkbox__icon">
        <use xlink:href="{{ svg 'checked' }}"></use>
    </svg>
    <label for="{{ id }}" class="checkbox__label">
        {{ label }}
    </label>
</div>
