<div class="checkbox">
    <input type="checkbox" id="{{ checkboxId }}" class="checkbox__field">
    <svg class="checkbox__icon">
        <use xlink:href="#checked"></use>
    </svg>
    <label for="{{ checkboxId }}" class="checkbox__label">
        {{ labelText }}
    </label>
</div>
