$active-filters__remove-size         : 48px !default;
$active-filters__remove-padding      : 0 !default;
$active-filters__remove-border       : none !default;
$active-filters__remove-background   : none !default;
$active-filters__remove-icon-margin  : 0 auto !default;
$active-filters__remove-icon-padding : 0 !default;
$active-filters__icon-fill           : $red !default;
$active-filters__icon-fill--hover    : $color-secondary !default;
$active-filters__icon-transition     : $transition-base !default;
$active-filters__icon-size           : $font-size-base !default;
$active-filters__label-font-weight   : $font-weight-bold !default;
$active-filters__clear-border-size   : 2px !default;
$active-filters__clear-border        : $active-filters__clear-border-size solid $red !default;
$active-filters__clear-border-radius : 24px !default;
$active-filters__clear-margin        : 0 0 0 $spacer--extra-large !default;
$active-filters__clear-height        : 48px !default;
$active-filters__clear-line-height   : ($active-filters__clear-height - (2 * $active-filters__clear-border-size));
$active-filters__clear-font-size     : $font-size-base !default;
$active-filters__clear-color         : $red !default;
$active-filters__clear-font-weight   : $font-weight-bold !default;
$active-filters__clear-color\@medium : $color-secondary !default;

.active-filters {
    &__item {
        display: flex;
        align-items: center;
    }

    &__remove {
        display: flex;
        align-items: center;
        min-width: $active-filters__remove-size;
        min-height: $active-filters__remove-size;
        padding: $active-filters__remove-padding;
        border: $active-filters__remove-border;
        outline: none;
        background: $active-filters__remove-background;
        word-break: break-all;
        cursor: pointer;

        &:hover,
        &:focus {
            outline-offset: -7px;

            .active-filters__remove-icon {
                fill: $active-filters__icon-fill--hover;
            }
        }
    }

    &__remove-icon {
        display: block;
        width: $active-filters__icon-size;
        height: $active-filters__icon-size;
        margin: $active-filters__remove-icon-margin;
        padding: $active-filters__remove-icon-padding;
        transition: $active-filters__icon-transition;
        fill: $active-filters__icon-fill;
    }

    &__label {
        max-width: calc(100% - #{$active-filters__remove-size});
        font-weight: $active-filters__label-font-weight;
        word-break: break-all;
    }

    &__value {
        max-width: calc(100% - #{$active-filters__remove-size});
        word-break: break-all;
    }

    &__clear-all {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        min-height: $active-filters__clear-height;
        border: $active-filters__clear-border;
        border-radius: $active-filters__clear-border-radius;
        color: $active-filters__clear-color;
        font-size: $active-filters__clear-font-size;
        font-weight: $active-filters__clear-font-weight;
        line-height: $active-filters__clear-line-height;
        text-align: center;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $active-filters__clear-color;
            text-decoration: none;
        }

        @include mq($screen-m) {
            display: inline-flex;
            justify-content: flex-start;
            min-width: 0;
            margin: $active-filters__clear-margin;
            border: none;
            text-decoration: none;

            &:hover,
            &:focus {
                color: $active-filters__clear-color\@medium;
                text-decoration: underline;
            }
        }
    }
}
