<ul class="list active-filters">
    {{# each filters }}
        <li class="list__item active-filters__item">
            <button type="button"
                    class="active-filters__remove"
            >
                <svg class="active-filters__remove-icon">
                    <use xlink:href="{{ svg iconId }}"></use>
                </svg>
            </button>
            <span class="active-filters__label">{{label}}&nbsp;:&nbsp;</span>
            <span class="active-filters__value">{{value}}</span>
        </li>
    {{/each}}
</ul>
