$container-max-width  : $max-content-width !default;
$container-margin     : 0 !default;
$container-padding    : 0 !default;

$container-font-size  : $font-size-base !default;
$container-font-family: $font-family-base !default;
$container-font-wegiht: $font-weight-base !default;
$container-line-height: $font-line-height !default;
$container-color      : $font-color-base !default;

$container-background : $body-bg !default;

$container-breakpoint-small: $screen-xs !default;
$container-small-padding: 0 10px !default;

$container-breakpoint-medium: $screen-m !default;
$container-medium-padding: 0 20px !default;

$container-breakpoint-large: $screen-xl !default;
$container-large-padding: 20px !default;

.container {
    max-width: $container-max-width;
    margin: $container-margin;
    padding: $container-padding;
    background-color: $container-background;
    font-family: $container-font-family;
    font-size: $container-font-size;
    font-weight: $container-font-wegiht;
    color: $container-color;
    line-height: $container-line-height;

    @include mq($container-breakpoint-small) {
        padding: $container-small-padding;
    }

    @include mq($container-breakpoint-medium) {
        padding: $container-medium-padding;
    }

    @include mq($container-breakpoint-large) {
        padding: $container-large-padding;
    }
}
