@mixin grid-column-width($width, $count) {
    @if ($grid__gutter > 0) {
        flex-basis: calc(#{100% / $count * $width} - #{($count - $width) * $grid__gutter / $count});
        max-width: calc(#{100% / $count * $width} - #{($count - $width) * $grid__gutter / $count});
    }
    @else {
        flex-basis: 100% / $count * $width;
        max-width: 100% / $count * $width;
    }
}
