.form {
    &--compact {
        @include mq($screen-m) {
            display: flex;
            justify-content: center;
        }

        .form__heading {
            display: none;
            line-height: $button-height;
            margin-right: 20px;
        }

        .form__content {
            display: flex;
        }

        .input {
            margin-bottom: 0;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;

            &__field {
                width: 100%;
                line-height: $button-height;
                height: $button-height;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .button {
            margin: 0 0 0 (-$button-icon-border-width);
            &--native-link {
                margin: 0;
            }
        }

    }
}
