$form-fieldset-margin    : 0 0 40px !default;
$form-legend-margin      : 0 0 25px !default;
$form-legend-font-size   : $font-size-large !default;
$form-legend-line-height : 1.2 !default;
$form-compact-line-height: $button__height !default;
$form-compact-height     : $button__height !default;
$form-compact-margin     : 20px !default;
$form-button-margin      : 0 0 0 (-$button-icon__border-width) !default;

.form {
    &--compact {
        @include mq($screen-m) {
            display: flex;
            justify-content: center;
        }

        .form__heading {
            display: none;
            line-height: $form__line-height--compact;
            margin-right: $form__margin--compact;
        }

        .form__content {
            display: flex;
        }

        .input {
            margin-bottom: 0;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;

            &__field {
                width: 100%;
                line-height: $form__line-height--compact;
                height: $form__height--compact;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .button {
            display: block;
            margin: $form__button-margin--compact;
            &--native-link {
                margin: 0;
            }
        }
    }

    &__fieldset,
    .fieldset {
        border: 0;
        padding: 0;
        margin: $form__fieldset-margin;
    }

    &__legend,
    .legend {
        padding: 0;
        margin: $form__legend-margin;
        font-size: $form__legend-font-size;
        line-height: $form__legend-line-height;
    }
}
