<form class="form  {{ class }}">
    <div class="form__heading">
        {{ heading }}
    </div>
    <div class="form__content">
        {{> '@input' class=inputClass}}
        {{> '@button--icon' class=buttonClass}}
    </div>
</form>
