<form class="form-compact {{ class }}">
    <div class="form-compact__heading {{ heading.class }}">
        {{ heading.text }}
    </div>
    <div class="form-compact__content">
        {{> '@input' input }}
        {{> '@button--icon' button }}
    </div>
</form>
