<form class="form  {{ formClass }}">
    <div class="form__heading">
        {{ heading }}
    </div>
    <div class="form__content">
        {{> '@input' }}
        {{ render '@button--icon' }}
    </div>
</form>
