<form class="form  {{ class }}">
    <div class="form__heading">
        {{ heading }}
    </div>
    <div class="form__content">
        {{> '@input' input }}
        {{> '@button--icon' button }}
    </div>
</form>
