<div class="icons">
    {{#each icons}}
        <div class="icons__item">
           {{ render '@icon' this }}
           <span class="icons__name">
               {{ this.iconId }}
           </span>
       </div>
    {{/each}}
</div>
