$product-view__action-elements-margin-top               : 28px !default;
$product-view__action-elements-margin-top\@large        : 0 !default;

$product-view__action-icon-color                        : $gray-darker !default;
$product-view__action-icon-compare-padding              : 16px 16px !default;
$product-view__action-icon-compare-width                : 16px !default;
$product-view__action-icon-compare-height               : 16px !default;
$product-view__action-icon-emailfriend-padding          : 16px 14px !default;
$product-view__action-icon-emailfriend-height           : 16px !default;
$product-view__action-icon-emailfriend-width            : 20px !default;
$product-view__action-icon-wishlist-padding             : 15px 14px !default;
$product-view__action-icon-wishlist-height              : 18px !default;
$product-view__action-icon-wishlist-width               : 20px !default;

$product-view__action-item-size                         : 48px !default;
$product-view__action-item-spacing                      : $spacer !default;

$product-view__add-review-link-font-size                : $font-size-base;
$product-view__add-review-link-font-size\@medium        : $font-size-small;

$product-view__add-to-cart-margin-right                 : $spacer--medium !default;

$product-view__base-elements-vertical-spacing           : $spacer !default;

$product-view__col-base-spacing                         : $spacer--medium !default;
$product-view__col-base-reduce-width                    : $product-view__col-base-spacing / 2;
$product-view__col-left-base-width                      : 50%;
$product-view__col-left-width                           : calc(#{$product-view__col-left-base-width} - #{$product-view__col-base-reduce-width}) !default;
$product-view__col-right-base-width                     : 100% - #{$product-view__col-left-base-width};
$product-view__col-right-width                          : calc(#{$product-view__col-right-base-width} - #{$product-view__col-base-reduce-width}) !default;

$product-view__description-margin-bottom                : $spacer--medium !default;

$product-view__extra-actions-margin-bottom              : $spacer--medium !default;
$product-view__extra-actions-margin-bottom\@medium      : $spacer !default;
$product-view__extra-actions-margin-bottom\@large       : 0 !default;
$product-view__extra-actions-padding                    : 0 $spacer !default;

$product-view__add-to-cart-margin                       : 0 0 $product-view__extra-actions-margin-bottom\@medium 0 !default;
$product-view__add-to-cart-margin\@large                : 0 $product-view__add-to-cart-margin-right $product-view__extra-actions-margin-bottom\@large 0 !default

$product-view__gallery-bottom-border                    : 1px solid $gray !default;
$product-view__gallery-bottom-border\@medium            : none !default;
$product-view__gallery-margin-bottom                    : $spacer--medium !default;
$product-view__gallery-margin-bottom\@medium            : 0 !default;
$product-view__gallery-padding-bottom                   : $spacer !default;
$product-view__gallery-padding-bottom\@medium           : 0 !default;

$product-view__information-padding                      : 0 20px !default;
$product-view__information-padding\@medium              : 0 !default;

$product-view__main-actions-margin-bottom               : 23px !default;

$product-view__main-details-bottom-border               : 1px solid $gray !default;
$product-view__main-details-bottom-spacing              : $spacer--medium !default;

$product-view__order-gallery                            : 2 !default;
$product-view__order-main-details                       : 1 !default;
$product-view__order-secondary-details                  : 3 !default;

$product-view__price-bottom-margin                      : $spacer--medium !default;
$product-view__price-bottom-margin\@medium              : $spacer !default;
$product-view__price-font-size                          : $font-size-large !default;
$product-view__price-font-weight                        : $font-weight-bold !default;

// values should match product-view__title to align vertically on desktop
$product-view__product-rating-line-height               : 1.5em !default;

$product-view__qty-margin-right                         : 24px !default;

$product-view__rating-link-color                        : $gray-dark !default;
$product-view__rating-margin                            : 0 0 14px 0 !default;
$product-view__rating-margin\@medium                    : 0 !default;
$product-view__rating-text-color                        : $gray-dark !default;
$product-view__rating-value-font-size                   : $font-size-base;

$product-view__sku-color                                : $gray-dark !default;
$product-view__sku-margin-bottom                        : $spacer--medium !default;
$product-view__sku-margin-bottom\@medium                : $spacer !default;
$product-view__sku-padding-right                        : 55% !default;

$product-view__stock-color                              : $gray-dark !default;
$product-view__stock-color--out-of-stock                : $red !default;
$product-view__stock-color--alert                       : $red !default;
$product-view__stock-font-weight\@medium                : $font-weight-bold !default;

$product-view__swatch-option-height                     : 32px !default;
$product-view__swatch-option-height--attributes         : 64px !default;
$product-view__swatch-option-width                      : 32px !default;
$product-view__swatch-option-width--attributes          : 54px !default;
$product-view__swatch-option-margin-right               : $spacer--medium !default;

$product-view__slider-add-to-cart-padding               : 0 $spacer--medium !default;
$product-view__slider-margin-bottom                     : $spacer !default;
$product-view__slider-margin-bottom\@medium             : 72px !default;
$product-view__slider-margin-bottom--last\@medium       : 56px !default;
$product-view__slider-margin-bottom--last\@large        : 64px !default;
$product-view__slider-heading-font-size                 : 24px !default;
$product-view__slider-heading-font-size-weight          : $font-weight-bold;
$product-view__slider-heading-text-transform            : uppercase !default;

$product-view__tabs-margin-bottom                       : 14px !default;
$product-view__tabs-margin-bottom\@medium               : 72px !default;

$product-view__wrapper-margin-bottom                    : 18px !default;
$product-view__wrapper-margin-bottom\@medium            : 40px !default;

.product-view {
    display: flex;
    flex-direction: column;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $product-view__wrapper-margin-bottom;

        @include mq($screen-m) {
            display: block;
            margin-bottom: $product-view__wrapper-margin-bottom\@medium;
        }
    }

    &__gallery {
        order: $product-view__order-gallery;
        width: 100%;
        border-bottom: $product-view__gallery-bottom-border;
        padding-bottom: $product-view__gallery-padding-bottom;
        margin-bottom: $product-view__gallery-margin-bottom;
        @include mq($screen-m) {
            border-bottom: $product-view__gallery-bottom-border\@medium;
            padding-bottom: $product-view__gallery-padding-bottom\@medium;
            margin-bottom: $product-view__gallery-margin-bottom\@medium;
            float: left;
            width: $product-view__col-left-width;
        }
    }

    &__main-details {
        width: 100%;
        order: $product-view__order-main-details;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        @include mq($screen-m) {
            display: block;
            position: relative;
            width: $product-view__col-right-width;
            float: right;
            border-bottom: $product-view__main-details-bottom-border;
            padding-bottom: $product-view__main-details-bottom-spacing;
            margin-bottom: $product-view__main-details-bottom-spacing;
        }
    }

    &__secondary-details {
        order: $product-view__order-secondary-details;
        display: flex;
        flex-wrap: wrap;
        @include mq($screen-m) {
            display: block;
            width: $product-view__col-right-width;
            float: right;
        }
    }

    &__title {
        width: 100%;
        margin-bottom: $product-view__base-elements-vertical-spacing;
        @include mq($screen-m) {
            padding-right: 55%;
        }
    }

    &__price {
        width: 50%;
        font-size: $product-view__price-font-size;
        font-weight: $product-view__price-font-weight;
        margin-bottom: $product-view__price-bottom-margin;
        @include mq($screen-m) {
            float: left;
            width: 100%;
            padding-right: 55%;
            margin-bottom: $product-view__price-bottom-margin\@medium;
        }
    }

    &__description {
        order: 2;
        margin-bottom: $product-view__description-margin-bottom;
    }

    &__options {
        width: 100%;
    }

    .swatch__option {
        width: $product-view__swatch-option-width;
        height: $product-view__swatch-option-height;
        margin-right: $product-view__swatch-option-margin-right;
        min-height: 0;
        min-width: 0;
        &--attributes {
            width: $product-view__swatch-option-width--attributes;
            height: $product-view__swatch-option-height--attributes;
        }
    }

    &__tabs {
        margin-bottom: $product-view__tabs-margin-bottom;
        @include mq($screen-m) {
            margin-bottom: $product-view__tabs-margin-bottom\@medium;
        }
    }

    &__information {
        order: 3;
        width: 100%;
        padding: $product-view__information-padding;
        @include mq($screen-m) {
            padding: $product-view__information-padding\@medium;
        }
    }

    &__rating {
        width: 100%;
        margin: $product-view__rating-margin;
        @include clearfix;
        @include mq($screen-m) {
            position: absolute;
            right: 0;
            width: 45%;
            text-align: right;
            margin: $product-view__rating-margin\@medium;
        }
    }

    &__stock-status {
        color: $product-view__stock-color;
        width: 50%;
        text-align: right;
        margin-bottom: $product-view__price-bottom-margin;
        @include mq($screen-m) {
            margin-bottom: 0;
            float: right;
            text-align: left;
            font-weight: $product-view__stock-font-weight\@medium;
            text-transform: uppercase;
            position: absolute;
            right: 0;
            width: 45%;
            text-align: right;
            top: 55px;
        }
        &--out-of-stock {
            color: $product-view__stock-color--out-of-stock;
        }
        &--alert {
            color: $product-view__stock-color--alert;
        }
    }

    &__rating {
        color: $product-view__rating-text-color;
        clear: both;
        @include mq($screen-m) {
            top: 0;
            text-align: right;
            line-height: $product-view__product-rating-line-height;
            font-size: $product-view__product-rating-line-height;
        }
    }

    &__rating-rates {
        width: 48%;
        float: left;
        font-size: $product-view__rating-value-font-size;
        @include mq($screen-m) {
            float: none;
            width: auto;
        }
    }

    &__rating-actions {
        width: 48%;
        float: right;
        text-align: right;
        //for what sake can't we use max-width for upper propreties?
        // now I need to reset them :(
        @include mq($screen-m) {
            float: none;
            width: auto;
        }
    }

    &__main-actions {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: $product-view__main-actions-margin-bottom;
        flex-wrap: wrap;
        @include mq($screen-l) {
            flex-wrap: nowrap;
            align-items: flex-end;
        }
    }

    &__actions {
        clear: both;
    }

    &__extra-actions {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 0 0 auto;
        padding: $product-view__extra-actions-padding;
        margin-bottom: $product-view__extra-actions-margin-bottom;
        @include mq($screen-l) {
            justify-content: center;
            margin-bottom: $product-view__extra-actions-margin-bottom\@large;
        }

    }

    &__qty {
        margin-bottom: $product-view__extra-actions-margin-bottom;
        flex: 0 0 auto;
        margin-right: $product-view__qty-margin-right;
        @include mq($screen-l) {
            margin-bottom: $product-view__extra-actions-margin-bottom\@large;
        }
    }

    &__action-elements {
        margin-top: $product-view__action-elements-margin-top;
        flex-flow: column;
        flex: 1 0 auto;
        justify-content: space-between;
        display: flex;
        @include mq($screen-l) {
            margin-top: $product-view__action-elements-margin-top\@large;
            flex-flow: row nowrap;
        }
    }

    &__add-to-cart-btn {
        flex: 1 0 auto;
        width: 100%;
    }

    &__add-to-cart {
        width: 100%;
        margin: $product-view__add-to-cart-margin;
        @include mq($screen-l) {
            width: 50%;
            flex: 1 0 auto;
            margin: $product-view__add-to-cart-margin\@large;
        }
    }

    &__action {
        margin-right: $product-view__action-item-spacing;
        width: $product-view__action-item-size;
        height: $product-view__action-item-size;
        padding: 0;
        &:hover {
            cursor: pointer;
        }
        &:last-child {
            margin-right: 0;
        }
        &--button {
            box-shadow: none;
            background: transparent;
            border: none;
        }
        .icon {
            fill: $product-view__action-icon-color;
        }
        &--wishlist {
            padding: $product-view__action-icon-wishlist-padding;
            .icon {
                width: $product-view__action-icon-wishlist-width;
                height: $product-view__action-icon-wishlist-height;
            }
        }
        &--emailfriend {
            padding: $product-view__action-icon-emailfriend-padding;
            .icon {
                width: $product-view__action-icon-emailfriend-width;
                height: $product-view__action-icon-emailfriend-height;
            }
        }
        &--compare {
            padding: $product-view__action-icon-compare-padding;
            .icon {
                width: $product-view__action-icon-compare-width;
                height: $product-view__action-icon-compare-height;
            }
        }
    }


    &__link {
        &--rating {
            text-decoration: none;
            color: $product-view__rating-link-color;
            &:hover {
                cursor: pointer;
            }
        }
        &--add-review {
            text-decoration: none;
            font-size: $product-view__add-review-link-font-size;
            @include mq($screen-m) {
                font-size: $product-view__add-review-link-font-size\@medium;
            }
        }
    }

    &__sku {
        width: 100%;
        color: $product-view__sku-color;
        margin-bottom: $product-view__sku-margin-bottom;
        @include mq($screen-m) {
            display: block;
            margin-bottom: $product-view__sku-margin-bottom\@medium;
            padding-right: $product-view__sku-padding-right;
        }
    }

    &__slider {
        margin-bottom: $product-view__slider-margin-bottom;
        @include mq($screen-m) {
            margin-bottom: $product-view__slider-margin-bottom\@medium;
        }
        &:last-child {
            @include mq($screen-m) {
                margin-bottom: $product-view__slider-margin-bottom--last\@medium;
            }
            @include mq($screen-l) {
                margin-bottom: $product-view__slider-margin-bottom--last\@large;
            }
        }
        .heading {
            font-size: $product-view__slider-heading-font-size;
            font-weight: $product-view__slider-heading-font-size-weight;
            text-transform: $product-view__slider-heading-text-transform;
        }
    }
    &__slider-navigation {
        @include mq($screen-l) {
            display: none;
        }
    }

    &__additional-content {
        display: none;
        @include mq($screen-m) {
            display: block;
        }
    }
    &__grid-item {
        .catalog-grid-item__name {
            font-size: 12px;
            text-transform: initial;
        }
        .catalog-grid-item__primary-action {
            padding: $product-view__slider-add-to-cart-padding;
        }
    }

    &__slider {
        overflow: hidden;

        .slider__handler {
            margin-right: -$spacer--medium;
        }
    }

    &__slide-item {
        padding-right: $spacer--medium;
    }
}
