<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link media="all" rel="stylesheet" href="{{ path '/css/styles.css' }}">
        {{> @fonts }}
        {{> @libs }}
        {{{ inline "public/images/icons-sprite.svg" }}}
    </head>
    <body>
        {{{ yield }}}
    </body>
</html>
