$file-upload__margin        : $spacer--medium !default;
$file-upload__font-size     : 14px !default;
$file-upload__button-padding: 0 $spacer--large !default;

.file-upload {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: $file-upload__margin;

    &__wrapper {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    &__input {
        @include visually-hidden();
    }

    &__label {
        display: flex;
        flex-basis: 100%;
        margin-bottom: $spacer;
        font-size: $file-upload__font-size;
    }

    &__name {
        margin-top: $file-upload__margin;
        font-size: $file-upload__font-size;

        @include mq($screen-s) {
            margin-top: 0;
            margin-left: $file-upload__margin;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
        padding: $file-upload__button-padding;

        @include mq($screen-s) {
            width: auto;
        }
    }
}
