$file-upload__margin        : $spacer--medium !default;
$file-upload__padding       : $spacer--medium !default;
$file-upload__field-height  : 48px !default;
$file-upload__font-size     : 14px !default;
$file-upload__button-padding: 0 $spacer--large !default;

.file-upload {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $file-upload__margin;

    &__handler {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        position: relative;
    }

    &__field {
        position: absolute;
        top: 0;
        opacity: 0;
        overflow: hidden;
        height: $file-upload__field-height;
        width: 100%;
        cursor: pointer;
        z-index: 2;

        @include mq($screen-s) {
            height: 100%;
        }

        &:hover + .file-upload__button {
            background: $button__background-hover;
            border-color: $button__border-hover;
        }
    }

    &__label {
        display: flex;
        flex-basis: 100%;
        margin-bottom: $spacer;
        font-size: $file-upload__font-size;
    }

    &__name {
        font-size: $file-upload__font-size;
        margin-top: $file-upload__margin;

        @include mq($screen-s) {
            margin-left: $file-upload__margin;
            margin-top: 0;
        }
    }

    &__button {
        margin-bottom: 0;
        padding: $file-upload__button-padding;
        z-index: 1;
        width: 100%;

        @include mq($screen-s) {
            width: auto;
        }
    }
}
