$label-margin-bottom : 8px !default;
$label-font-size     : $font-size-small !default;

.label {
    display: block;
    margin-bottom: $label-margin-bottom;
    font-size: $label-font-size;

    &--hidden {
        display: none;
    }
}

label {
    @extend .label;
}
