.box {
    display: block;
    width: 100%;
    max-width: $max-content-width;
    margin: 0 auto;
    padding-top: 30px;

    &__title {
        padding: 0 30px;
        font-size: 24px;
        text-transform: uppercase;

        &:after {
            content: '';
            display: block;
            width: 60px;
            height: 2px;
            background-color: $color-main1;
            margin-top: 10px;
        }

        @include mq($screen-m) {
            padding: 0 60px;
        }

        @include mq($screen-l) {
            padding: 0 30px;
        }

        @include mq($screen-xl) {
            padding: 0;
        }
    }

    &__subtitle {
        display: block;
        margin-top: 15px;
        color: $font-color-lighter2;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
        text-transform: none;
    }

    &__content {
        @include mq($screen-m) {
            padding: 0 30px 30px;
        }
        @include mq($screen-l) {
            display: flex;
            flex-flow: row nowrap;
            padding: 0 0 30px;
        }
    }
}
