<div class="box">

    <h2 class="box__title">
        {{ title }}

        <span class="box__subtitle">
            {{ subtitle }}
        </span>
    </h2>

    <div class="box__content">
        {{ content }}
    </div>
</div>
