$footer__padding: $spacer--medium !default;
$footer__bg-color: $gray-darker !default;
$footer__font-color: $white !default;

$footer__links-bg-color: $gray-dark !default;
$footer__links-icon-color: $white !default;
$footer__links-list-padding: $spacer !default;
$footer__link-hover-underline-color: $color-primary !default;
$footer__link-hover-underline-height: 8px !default;
$footer__link-hover-underline-opacity: 0.7 !default;

$footer__social-icon-color: $white !default;
$footer__bottom-bar-color: $gray !default;
$footer__bottom-bar-font-size: $font-size-small !default;


.footer {
    background-color: $footer__bg-color;

    & > .container {
        margin: 0;
    }

    &__links-list {
        background-color: $footer__bg-color;
        padding: 0 $footer__links-list-padding;

        .dropdown-list__item {
            border-bottom: 2px solid $footer__bg-color;
        }

        .dropdown-list__item,
        .dropdown-list__item--open {
            .dropdown-list__icon {
                fill: $footer__links-icon-color;
            }
        }

        .dropdown-list__label {
            background-color: $footer__links-bg-color;
            color: $footer__font-color;
            font-weight: $font-weight-bold;

            &:hover,
            &:focus {
                .dropdown-list__icon {
                    fill: $footer__links-icon-color;
                }
            }
        }



        .dropdown-list__content {
            background-color: $footer__links-bg-color;
        }
    }

    &__list {
        padding: 16px 0;
    }

    &__list-link {
        position: relative;
        color: $footer__font-color;
        text-decoration: none;
        display: inline-block;
        transition: $transition-base;

        &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            height: $footer__link-hover-underline-height;
            background-color: $footer__link-hover-underline-color;
            opacity: $footer__link-hover-underline-opacity;
            width: 100%;
            transition: $transition-base;
            transform: scale(0);
            transform-origin: left center;
        }

        &:hover,
        &:focus {
            color: $footer__font-color;
            font-weight: $font-weight-bold;
            text-decoration: none;

            &:after {
                transform: scale(1);
            }
        }
    }

    &__bottom-bar {
        padding-top: $footer__padding;
        color: $footer__bottom-bar-color;

        @include mq($screen-m) {
            padding-top: 0;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__social-handler {
        @include mq($screen-m) {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            order: 1;
        }
    }

    &__social-list {
        justify-content: center;
    }

    &__social-list-subtitle {
        display: none;
        @include mq($screen-m) {
            display: block;
            margin-right: $footer__padding;
            font-size: $footer__bottom-bar-font-size;
        }
    }

    &__social-icon {
        fill: $footer__social-icon-color;
    }

    &__copyright {
        display: block;
        padding: $footer__padding;
        font-size: $footer__bottom-bar-font-size;
        text-align: center;
    }
}
