$footer__padding                       : $spacer--medium !default;
$footer__background-color              : $gray-darkest !default;
$footer__background-color\@large       : $gray-darker !default;

$footer__newsletter-max-width          : 400px !default;
$footer__newsletter-width\@large       : 30% !default;
$footer__newsletter-padding            : 0 $spacer--medium !default;

$footer__link-color                    : $gray-lighter !default;
$footer__link-color-hover              : $color-primary !default;

$footer__links-width\@large            : 70% !default;
$footer__link-inner-padding            : $spacer--medium !default;

$footer__bottom-bar-background\@large  : $gray-darkest !default;
$footer__bottom-bar-color              : $gray-lighter !default;
$footer__bottom-bar-font-size          : $font-size-small !default;

$footer__copywrite-padding-left\@medium: $spacer;
$footer__copywrite-padding-left\@large : $spacer--medium;

$footer__scroll-top-top                : -24px !default;
$footer__icon-size                     : 13px !default;
$footer__icon-fill                     : $color-secondary !default;
$footer__icon-fill-hover               : $color-primary !default;


.footer {
    flex-shrink: 0;
    background-color: $footer__background-color;

    @include mq($screen-l) {
        background-color: $footer__background-color\@large;
    }

    &__handler {
        margin: 0 auto $footer__padding;
        padding-top: $footer__padding;
        position: relative;

        @include mq($screen-m) {
            margin: 0 auto;
        }

        @include mq($screen-l) {
            display: flex;
            flex-flow: row wrap;
        }
    }

    &__newsletter {
        margin: 0 auto $footer__padding;
        max-width: $footer__newsletter-max-width;
        padding: $footer__newsletter-padding;

        @include mq($screen-l) {
            width: $footer__newsletter-width\@large;
            order: 1;
            padding-top: $footer__padding;
        }
    }

    &__links {
        @include mq($screen-l) {
            width: $footer__links-width\@large;
        }

        .dropdown-list {
            @include mq($screen-m) {
                padding: 0;
            }
        }

        .dropdown-list__item {
            @include mq($screen-m) {
                border-bottom: 0;
            }
        }

        .list__item {
            padding-left: $footer__link-inner-padding;
            @include mq($screen-m) {
                padding-left: 0;
            }
        }
    }

    &__links-list {
        padding-bottom: $footer__padding;
    }

    &__link {
        color: $footer__link-color;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $footer__link-color-hover;
        }
    }

    &__bottom-bar {
        color: $footer__bottom-bar-color;
        @include mq($screen-l) {
            background-color: $footer__bottom-bar-background\@large;
        }
    }

    &__bottom-bar-handler {
        @include mq($screen-m) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__social-handler {
        margin-bottom: $footer__padding;

        @include mq($screen-m) {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            order: 1;
            margin: 0;
        }
    }

    &__social-list-subtitle {
        display: none;
        @include mq($screen-m) {
            display: block;
            margin-right: $footer__padding;
            font-size: $footer__bottom-bar-font-size;
        }
    }

    &__copyright {
        display: block;
        font-size: $footer__bottom-bar-font-size;
        text-align: center;

        @include mq($screen-m) {
            padding-left: $footer__copywrite-padding-left\@medium;
        }

        @include mq($screen-l) {
            padding-left: $footer__copywrite-padding-left\@large;
        }
    }

    &__scroll-top {
        position: absolute;
        right: 0;
        top: $footer__scroll-top-top;

        &:hover,
        &:focus {
            .footer__icon {
                fill: $footer__icon-fill-hover;
            }
        }
    }

    &__icon {
        width: $footer__icon-size;
        height: $footer__icon-size;
        fill: $footer__icon-fill;
    }
}
