$featured-info__title-fontsize   : 12px !default;
$featured-info__subtitle-fontsize: 10px !default;

.featured-info {
    display: flex;
    margin: 8px 16px;
    color: $font-color-base;
    text-decoration: none;
    &:focus,
    &:hover {
        text-decoration: none;
    }

    &__icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 8px;

        &-svg {
            width: 24px;
            height: 24px;
            fill: $color-primary;
            &--delivery-truck {
                width: 35px;
                height: 20px;
            }
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-title {
            margin-bottom: 4px;
            font-weight: $font-weight-bold;
            font-size: $featured-info__title-fontsize;
            line-height: $featured-info__title-fontsize;
        }

        &-subtitle {
            color: $gray;
            font-size: $featured-info__subtitle-fontsize;
            line-height: $featured-info__subtitle-fontsize;
        }
    }
}
