$header__text-border-color: $gray-dark !default;
$header__border-color     : $gray !default;
$header__font-size        : 12px !default;
$header__text-decoration  : none !default;

.header {
    border-bottom: 1px solid $header__border-color;

    &__top-bar {
        display: none;
        background-color: $gray-light;
        @include mq($screen-xl) {
            display: block;
        }

        &-wrapper {
            display: flex;
            justify-content: space-between;
            height: 30px;
        }
    }

    &__contact-info {
        margin: 8px 0;
        font-size: $header__font-size;

        &-link {
            display: inline-flex;
            margin-left: 8px;
            padding-left: 8px;
            border-left: 1px solid $header__text-border-color;
            line-height: 14px;
            text-decoration: $header__text-decoration;

            &:focus,
            &:hover {
                text-decoration: $header__text-decoration;
            }
        }
    }

    &__links {
        margin: 8px 0;
        font-size: $header__font-size;

        &-item {
            padding: 0 16px;
            border-left: 1px solid $header__text-border-color;
            line-height: 14px;
            text-decoration: $header__text-decoration;

            &:focus,
            &:hover {
                text-decoration: $header__text-decoration;
            }

            &:first-child {
                border-left: none;
            }
        }

        &-icon {
            width: 14px;
            height: 14px;
            margin-right: 8px;
            vertical-align: top;
        }
    }

    &__wrapper {
        justify-content: space-between;
        display: flex;
        flex-flow: row wrap;
        @include mq($screen-xl) {
            margin: 2px 0;
        }
    }

    &__logo {
        order: 2;
        margin-left: 8px;
        @include mq($screen-xl) {
            margin: 0 auto 0 0;
        }
    }

    &__featured-info {
        display: none;
        flex-direction: row;
        order: 3;
        margin-right: 16px;
        margin-left: auto;
        @include mq($screen-xl) {
            display: flex;
        }
    }

    &__icons {
        display: flex;
        order: 3;
        flex: 1 65%;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        @include mq($screen-s) {
            flex: 1 70%;
        }
        @include mq($screen-m) {
            order: 4;
            flex: 1 168px;
            max-width: 168px;
        }
        @include mq($screen-xl) {
            flex: 1 48px;
            max-width: 48px;
        }

        &-item {
            margin-right: 8px;
            padding: $header__font-size;
            @include mq($screen-xl) {
                display: none;
            }
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        padding: 2px;
        fill: $gray-dark;
        cursor: pointer;
    }

    &__menu-trigger {
        display: flex;
        flex: 1 20%;
        order: 4;
        height: 49px;
        border-top: 1px solid $header__border-color;
        @include mq($screen-m) {
            order: 1;
            flex: 1 48px;
            height: 48px;
            max-width: 48px;
            border-top: none;
        }
        @include mq($screen-xl) {
            display: none;
        }
    }

    &__search-wrapper {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        flex: 1 70%;
        order: 5;
        justify-content: center;
        width: 100%;
        border-top: 1px solid $header__border-color;
        @include mq($screen-m) {
            order: 3;
            flex: 1 300px;
            flex-direction: column;
            justify-content: center;
            border-top: none;
        }
        @include mq($screen-xl) {
            max-width: 300px;
            margin-right: 24px;
        }
    }

    &__search {
        position: relative;
        width: 100%;
        height: 34px;
        margin: 0;
        align-self: center;
        border: 1px solid $gray-dark;
        border-radius: 34px;
        z-index: 1;
        @include mq($screen-m) {
            width: 70%;
        }
        @include mq($screen-xl) {
            width: 100%;
            border: 1px solid $gray;
        }

        &-input-wrapper {
            margin-bottom: 0;
        }

        &-label {
            display: none;
        }

        &-input {
            width: 100%;
            height: 32px;
            border: none;
            border-radius: 34px;
            font-size: $header__font-size;

            &::placeholder {
                color: $gray-dark;
                font-size: $header__font-size;
                @include mq($screen-xl) {
                    color: $gray;
                }
            }
        }

        &-button {
            position: absolute;
            top: 0;
            right: 0;
            height: 32px;
            margin-bottom: 0;
            border: none;
            border-radius: 34px;
        }

        .button__icon {
            width: 18px;
            height: 18px;
        }
    }
}
