$lavender-gray                    : #c2c1df;
$kimberly                         : #73739c;

$header__margin--xl               : 0 !default;
$header__border-color             : $lavender-gray !default;
$header__font-size                : $font-size-small !default;

$header__wrapper-margin           : 0 !default;
$header__wrapper-margin--m        : 12px 0 !default;

$header__logo-padding             : 12px 0 12px $spacer !default;
$header__logo-padding--m          : 0 0 0 $spacer !default;

$header__menu-trigger-size        : 48px !default;

$header__buttons-width            : calc(90% - 48px) !default;
$header__buttons-width--m         : 4 * 48px + 3 * $spacer !default;
$header__buttons-width--xl        : 4 * 48px + 3 * $spacer--medium !default;

$header__icon-size                : 24px !default;
$header__icon-padding             : 2px !default;
$header__icon-color               : $gray-darker !default;

$header__search-wrapper-padding   : 0 0 0 24px !default;
$header__search-wrapper-padding--m: 0 24px !default;

// tmp styles fo move
.header-button {
    height: 48px;
    min-width: 48px;
    display: flex;
    margin-left: $spacer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    @include mq($screen-xl) {
        margin-left: $spacer--medium;
    }

    &:focus,
    &:hover {
        text-decoration: none;
    }

    &:first-child {
        margin-left: 0;
    }

    &__icon {
        display: block;
        height: 24px;
        width: 24px;
        margin-bottom: 4px;
        padding: 2px;
    }

    &__text {
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        color: $kimberly;
    }
}
// end tmp styles fo move


.header {
    position: relative;
    border-bottom: 1px solid $header__border-color;

    &--menu-open {
        overflow: visible;
    }

    &__wrapper {
        justify-content: space-between;
        display: flex;
        flex-flow: row wrap;
        margin: $header__wrapper-margin;
        @include mq($screen-m) {
            margin: $header__wrapper-margin--m;
        }
    }

    &__logo {
        order: 3;
        padding: $header__logo-padding;
        border-top: 1px solid $header__border-color;
        @include mq($screen-m) {
            padding: $header__logo-padding--m;
            border-top: none;
        }
    }

    &__menu-trigger {
        display: flex;
        order: 1;
        flex: 1 $header__menu-trigger-size;
        height: $header__menu-trigger-size;
        max-width: $header__menu-trigger-size;
        border-top: none;
        @include mq($screen-xl) {
            display: none;
        }
    }

    &__search-wrapper {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 50%;
        order: 5;
        justify-content: center;
        padding: $header__search-wrapper-padding;
        border-top: 1px solid $header__border-color;
        @include mq($screen-m) {
            order: 3;
            flex-direction: column;
            justify-content: center;
            padding: $header__search-wrapper-padding--m;
            border-top: none;
        }
    }

    &__minicart {
        position: relative;
    }

    &__buttons {
        display: flex;
        order: 2;
        flex: 1 $header__buttons-width;
        max-width: $header__buttons-width;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        @include mq($screen-m) {
            order: 4;
            flex: 1 $header__buttons-width--m;
            max-width: $header__buttons-width--m;
        }
        @include mq($screen-xl) {
            flex: 1 $header__buttons-width--xl;
            max-width: $header__buttons-width--xl;
        }
    }
}
