<header class="header container">
    {{ render '@logo' }}

    <div class="header__right-panel">
        place for side-menu-trigger
    </div>

    place for side-menu
</header>

place for dropdown menu
