<header class="header container">
    {{ render '@logo' }}

    <div class="header__right-panel">
        {{ render '@side-menu-trigger' }}
    </div>

    {{ render '@side-menu' }}
</header>

{{ render '@dropdown-menu' }}
