$side-menu__padding         : 0 !default;
$side-menu__top             : calc(100% + 1px) !default;
$side-menu__right           : 100% !default;
$side-menu__max-width       : 400px !default;
$side-menu__background      : $white !default;
$side-menu__box-shadow      : 0 3px 7px 0 rgba(0, 0, 0, 0.35) !default;
$side-menu__transition      : $transition-base !default;
$side-menu__transform--open : translateX(100%) !default;
$side-menu__link-color      : $gray-dark !default;
$side-menu__link-color-hover: $gray !default;

.side-menu {
    position: absolute;
    top: $side-menu__top;
    right: $side-menu__right;
    width: 100%;
    max-width: $side-menu__max-width;
    padding: $side-menu__padding;
    z-index: 50;
    background: $side-menu__background;
    box-shadow: $side-menu__box-shadow;
    text-transform: uppercase;
    opacity: 1;
    transform: translateX(0);
    transition: $side-menu__transition;

    @include mq($screen-xl) {
        display: none;
    }

    &--is-open {
        opacity: 1;
        transform: $side-menu__transform--open;
    }

    &__link {
        display: block;
        line-height: 3;
        color: $side-menu__link-color;

        &:hover {
            text-decoration: none;
            color: $side-menu__link-color-hover;
        }
    }
}
