.infobar {
    width: 100%;
    background-color: $color-main2;
    transition: height 0.3s;
    box-sizing: border-box;

    &--with-button {
        background-color: $color-bg-gray;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 6;

        .infobar__message {
            display: block;
            margin-bottom: 10px;

            @include mq($screen-m) {
                display: inline-block;
                margin-bottom: 0;
                margin-right: 35px;
            }
        }

        .infobar__text {
            color: lighten($color-black, 50%);
            text-transform: none;
            display: inline;
            font-weight: 400;
            margin: 0;
        }

        .infobar__link {
            color: lighten($color-black, 50%);
            text-transform: none;
            display: inline;
            border: none;
            padding: 0;
            margin: 0;
            text-decoration: underline;

            @include links(hover) {
                color: $color-black;
            }
        }

        .infobar__close {
            display: inline-block;
            position: relative;
            top: auto;
            right: auto;
            width: auto;
            height: auto;
            font-weight: 400;
            color: lighten($color-black, 50%);
            font-size: 12px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &--closed {
        overflow: hidden;
    }

    &__container {
        display: block;
        margin: 0 auto;
        max-width: $max-content-width;
        position: relative;
        text-align: center;
        padding: 10px 35px;
    }

    &__message {
        display: block;
        margin: 0;
        text-align: center;
    }

    &__text {
        font-size: 12px;
        color: $color-white;
        font-weight: 700;
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;

        @include mq($screen-m) {
            display: inline-block;
            margin-bottom: 0;
            margin-right: 35px;
        }
    }

    &__link {
        @include links() {
            display: inline-block;
            font-weight: 400;
            font-size: 12px;
            color: $color-white;
            border: 1px solid $color-white;
            padding: 5px;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        &--icon {
            fill: $color-white;
            width: 10px;
            height: 10px;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
        }
    }
}
