$message-font-size         : $font-size-small !default;
$message-transition        : $transition-base !default;
$message-background        : $gray !default;
$message-background-error  : $red !default;
$message-background-success: $green !default;
$message-color             : $white !default;
$message-color-red         : $red !default;
$message-color-green       : $green !default;
$message-padding-base      : 15px !default;
$message-margin-base       : 15px !default;
$message-after-height      : 100% !default;
$message-after-width       : 30px !default;
$message-success-icon      : "\2713" !default;
$message-error-icon        : "\2715" !default;

.message {
    background-color: $message-background;
    color: $message-color;
    position: relative;
    padding: 5px ($message-padding-base * 2);
    margin-bottom: $message-margin-base;
    font-size: $message-font-size;
    width: 100%;
    transition: $message-transition;

    &--success {
        background-color: $message-background-success;
        color: rgba($message-color, 0.9);

        &:after {
            content: $message-success-icon;
        }
    }

    &--error {
        background-color: $message-background-error;
        color: rgba($message-color, 0.9);

        &:after {
            content: $message-error-icon;
        }
    }

    &:after {
        position: absolute;
        display: flex;
        left: 0;
        top: 0;
        align-items: center;
        justify-content: center;
        height: $message-after-height;
        width: $message-after-width;
        color: $message-color;
    }
}
