$message__padding            : $spacer $spacer--medium !default;
$message__margin-base        : $spacer--medium !default;
$message__font-size          : $font-size-small !default;
$message__transition         : $transition-base !default;
$message__background         : rgba($blue, 0.05) !default;
$message__background--success: rgba($color-primary, 0.05) !default;
$message__background--error  : rgba($red, 0.05) !default;
$message__color              : $blue !default;
$message__color--success     : $gray !default;
$message__color--error       : $red !default;
$message__border             : 1px solid $blue !default;
$message__border--success    : 1px solid $color-primary !default;
$message__border--error      : 1px solid $red !default;
$message__border-radius      : 24px !default;
$message__icon-flex          : 1 0 $spacer--medium !default;
$message__icon-spacer        : $spacer--medium !default;
$message__icon-fill          : $blue !default;
$message__icon-fill--success : $color-primary !default;
$message__icon-fill--error   : $red !default;
$message__text-flex          : 1 0 calc(100% - #{$spacer--medium}) !default;

.message {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    padding: $message__padding;
    margin-bottom: $message__margin-base;
    background-color: $message__background;
    border: $message__border;
    border-radius: $message__border-radius;
    font-size: $message__font-size;
    transition: $message__transition;

    &--success {
        background-color: $message__background--success;
        border: $message__border--success;

        .message__text {
            color: $message__color--success;
        }

        .message__icon {
            fill: $message__icon-fill--success;
        }
    }

    &--error {
        background-color: $message__background--error;
        border: $message__border--error;

        .message__text {
            color: $message__color--error;
        }

        .message__icon {
            fill: $message__icon-fill--error;
        }
    }

    &__text {
        flex: $message__text-flex;
        color: $message__color;
        margin-bottom: 0;
    }

    &__icon {
        width: $message__icon-spacer;
        height: $message__icon-spacer;
        flex: $message__icon-flex;
        fill: $message__icon-fill;
        margin-right: $message__margin-base;
    }
}
