<div class="message {{ class }}" {{{ attributes }}} >
    <svg class="message__icon">
        <use xlink:href="{{ svg icon }}"></use>
    </svg>

    <p class="message__text">
        {{ text }}
    </p>
</div>
