$cookie-message__margin     : 10px !default;
$cookie-message__padding    : 10px !default;
$cookie-message__width      : 100% !default;
$cookie-message__color      : $gray-lightest !default;
$cookie-message__font-size  : $font-size-extra-small !default;
$cookie-message__transition : height 0.3s !default;
$cookie-message__close-width: 35px !default;
$cookie-message__link-border: 1px solid $white !default;
$cookie-message__icon-fill  : $white !default;
$cookie-message__icon-width : 10px !default;

.cookie-message {
    width: $cookie-message__width;
    background-color: $cookie-message__color;
    transition: $cookie-message__transition;
    box-sizing: border-box;

    &__container {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: $max-content-width;
        text-align: center;
        padding: $cookie-message__padding 35px;
    }

    &__message {
        display: block;
        margin: 0;
        text-align: center;
    }

    &__text {
        font-size: $cookie-message__font-size;
        font-weight: 700;
        display: block;
        margin-bottom: $cookie-message__margin;
        text-transform: uppercase;

        @include mq($screen-m) {
            display: inline-block;
            margin-bottom: 0;
            margin-right: 35px;
        }
    }

    &__link {
        @include links() {
            display: inline-block;
            font-weight: 400;
            font-size: $cookie-message__font-size;
            border: $cookie-message__link-border;
            padding: 5px;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        width: $cookie-message__close-width;
        height: $cookie-message__close-width;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        &--icon {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            fill: $cookie-message__icon-fill;
            width: $cookie-message__icon-width;
            height: $cookie-message__icon-width;
        }
    }

    &--with-button {
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 6;

        .cookie-message__message {
            display: block;
            margin-bottom: $cookie-message__margin;

            @include mq($screen-m) {
                display: inline-block;
                margin-bottom: 0;
                margin-right: 35px;
            }
        }

        .cookie-message__text {
            text-transform: none;
            display: inline;
            font-weight: 400;
            margin: 0;
        }

        .cookie-message__link {
            text-transform: none;
            display: inline;
            border: none;
            padding: 0;
            margin: 0;
            text-decoration: underline;

            @include links(hover) {
                color: $black;
            }
        }

        .cookie-message__close {
            display: inline-block;
            position: relative;
            top: auto;
            right: auto;
            width: auto;
            height: auto;
            font-weight: 400;
            font-size: $cookie-message__font-size;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &--closed {
        overflow: hidden;
    }
}
