.password-field-strength {
    margin-top: 5px;
    font-size: 14px;
    &.password-strength-meter-1 {
        .password-strength-meter__strength-measure {
            color: $color-warning;
        }
    }
    &.password-strength-meter-2,
    &.password-strength-meter-3 {
        .password-strength-meter__strength-measure {
            color: $color-info;
        }
    }
    &.password-strength-meter-4 {
        .password-strength-meter__strength-measure {
            color: $color-success;
        }
    }
}
