<div id="password-strength-meter-container"
    data-role="password-strength-meter"
    class="{{ strengthClass }} password-field-strength"
>
    <div id="password-strength-meter" class="password-strength-meter">
        Password Strength:
        <span id="password-strength-meter-label"
              data-role="password-strength-meter-label"
              class="password-strength-meter__strength-measure"
        >
            {{ strengthInfo }}
        </span>
    </div>
</div>
