.product {
    display: block;
    padding: 15px;
    border: 1px solid $gray-lightest;

    &__link {
        @include links(active) {
            display: block;
            text-decoration: none;
        }
    }

    &__img-box {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        text-align: center;
        min-height: 160px;

        @include mq($screen-s) {
            min-height: 200px;
        }
    }

    &__img {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    &__name {
        font-weight: 700;
        color: $font-color-base;
        font-size: 12px;

        @include mq($screen-m) {
            font-size: 14px;
        }
    }

    &__type {
        padding: 15px 0;
        font-size: 14px;
        color: $gray-light;
    }

    &__button {
        width: 100%;
    }
}
