$select__dropdown-gap          : 4px !default;
$select__dropdown-margin       : 12px !default;
$select__dropdown-padding      : $select__dropdown-margin * 2;
$select__margin                : 10px !default;
$select__padding               : 10px 15px !default;
$select__field-background      : $white !default;
$select__list-border           : 1px solid $form-elements-border-color !default;
$select__input-border-width    : 0 0 1px 0 !default;
$select__input-border-style    : solid !default;
$select__input-border-color    : $form-elements-border-color !default;

.select {
    margin-bottom: $select__margin;

    &__field {
        position: relative;
        background: $select__field-background;

        &--native {
            width: 100%;
            padding: $select__padding;
            border: $select__list-border;
            appearance: none;
        }

        &-item {
            position: relative;
            padding: $select__padding;
            cursor: pointer;
        }

        &-list {
            &--single {
                border: $select__list-border;
                display: inline-block;
                padding: 0;
                width: 100%;
                border-radius: $form-elements-radius;
            }
        }

        &-input:focus {
            outline: none;
        }
    }
}
// Choices.js lib styles overwrites
.choices {
    &.is-open {
        .select__field {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 0;
        }
    }
    &__list--dropdown {
        .is-open & {
            margin-top: $select__dropdown-gap;
            border-color: $select__input-border-color;
            border-radius: 4px;
            width: calc(100% - #{$select__dropdown-padding});
            margin-left: $select__dropdown-margin;
        }
    }
}
