$select__margin            : $spacer !default;
$select__padding           : 0 $spacer--large 0 $spacer--medium !default;
$select__border            : 1px solid $form-elements-border-color !default;
$select__spacing           : 40px !default;
$select__border-radius     : 20px !default;
$select__field-background  : $white !default;
$select__input-border-color: $form-elements-border-color !default;

.select {
    margin-bottom: $select__margin;

    &__field {
        position: relative;
        background: $select__field-background;

        &--native {
            width: 100%;
            height: $select__spacing;
            padding: $select__padding;
            border: $select__border;
            border-radius: $select__border-radius;
            appearance: none;
        }
    }
    &__field-item {
        position: relative;
        height: $select__spacing;
        line-height: $select__spacing;
        padding: $select__padding;
        cursor: pointer;
        font-size: $font-size-base;
    }

    &__field-list {
        &--single {
            height: $select__spacing;
            line-height: $select__spacing;
            padding: 0;
            border: $select__border;
            border-radius: $select__border-radius;
        }
    }

    &__field-input {
        &:focus {
            outline: none;
        }
    }
}
// Choices.js lib styles overwrites
.choices {
    &.is-open {
        .select__field-list {
            &--single {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom: 0;
            }
        }
    }
    &__list--dropdown {
        max-height: 300px;
        overflow: auto;

        .is-open & {
            border-radius: 0 0 $select__border-radius $select__border-radius;
            border-color: $select__input-border-color;
        }
    }
}
