<div class="select">
<select class="select__field" name="select">
    {{#each options}}
        <option data-value="{{ value }}">
            {{text}}
        </option>
    {{/each}}
</select>
</div>

<script src="{{static '../select/select.js' }}"></script>
