<select class="select" name="select">
    {{#each options}}
        <option value="{{ value }}" {{ attributes }}>
            {{text}}
        </option>
    {{/each}}
</select>

<script src="{{ static 'select.js' }}"></script>
