.cards {
    background-color: $color-bg-gray;
    width: 100%;
    padding: 23px 0;
    display: block;

    @include mq($screen-m) {
        padding: 23px 15px;
        @include clearfix();
    }

    &__container {
        display: block;
        width: 100%;
        max-width: $max-content-width;
        margin: 0 auto;
    }

    &__item {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        background-color: $color-white;
        position: relative;
        min-height: 200px;
        overflow: hidden;
        box-shadow: 1.5px 2.6px 18px 0 rgba(0, 0, 0, 0.04);

        @include mq($screen-m) {
            float: left;
            width: 32%;
            margin-bottom: 0;
            margin-right: 2%;
        }

        &:last-child {
            margin-bottom: 0;

            @include mq($screen-m) {
                margin-right: 0;
            }
        }
    }

    &__title {
        pointer-events: none;
        margin: 15px;
        min-width: 25%;
    }

    &__link {
        @include clearfix();
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
