<div class="cards">
    <div class="cards__container">
        {{#each cardsItems as |card|}}
            <div class="
                     cards__item
                     {{#if cardModifier}}
                         cards__item--{{ cardModifier }}
                     {{/if}}
                 "
            >
                <a href="{{ cardLink }}" class="cards__link">
                    <h6 class="cards__title heading--short-line">
                        {{ cardTitle }}
                    </h6>
                    <img class="lazyload" data-src="{{ cardImage }}" />
                </a>
            </div>
        {{/each}}
    </div>
</div>
