$marketing-bar__background-color : $color-primary !default;
$marketing-bar__font-size        : $font-size-small !default;
$marketing-bar__button-spacing   : 12px !default;
$marketing-bar__button-icon-color: $white !default;

.marketing-bar {
    position: relative;
    display: flex;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    padding: 0 8px;
    font-size: $marketing-bar__font-size;
    font-weight: bold;
    background-color: $marketing-bar__background-color;
    color: $white;
    @include mq($screen-m) {
        text-align: center;
        color: $black;
    }
    &__close {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        min-width: 34px;
        margin: auto;
        padding: $marketing-bar__button-spacing;
        border: none;
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
        &-icon {
            width: 24px;
            height: 24px;
            padding: 2px;
            fill: $marketing-bar__button-icon-color;
            @include mq($screen-m) {
                fill: $gray-dark;
            }
        }
    }
}
