$catalog-grid-item__base-spacing            : $spacer !default;
$catalog-grid-item__padding                 : 0 !default;

$catalog-grid-item__font-size               : $font-size-small !default;
$catalog-grid-item__font-size\@large        : $font-size-base !default;
$catalog-grid-item__line-height             : 1.5 !default;
$catalog-grid-item__font-weight             : $font-weight-bold !default;
$catalog-grid-item__padding                 : 0 0 $spacer 0 !default;

$catalog-grid-item__badge-top-position      : $spacer--medium !default;
$catalog-grid-item__badge-left-position     : 0 !default;
$catalog-grid-item__badge-padding           : 5px 12px !default;
$catalog-grid-item__badge-bg-color          : $color-primary !default;
$catalog-grid-item__badge-font-size         : $font-size-small !default;
$catalog-grid-item__badge-border-radius     : 0 !default;

$catalog-grid-item__image-wrapper-background: #f9f9f9 !default;

$catalog-grid-item__image-margin            : 0 auto !default;
$catalog-grid-item__image-width             : auto !default;
$catalog-grid-item__image-height            : auto !default;

$catalog-grid-item__loader-height           : 180px !default;
$catalog-grid-item__loader-height\@medium   : 250px !default;

$catalog-grid-item__content-bg-color        : $white !default;
$catalog-grid-item__content-padding         : $spacer !default;
$catalog-grid-item__content-padding\@medium : $spacer $spacer--medium !default;

$catalog-grid-item__main-padding            : $spacer $spacer--medium !default;

$catalog-grid-item__name-color              : $font-color-base !default;
$catalog-grid-item__name-font-weight        : $font-weight-normal !default;

$catalog-grid-item__rating-margin           : $spacer 0 !default;

$catalog-grid-item__primary-padding         : 0 $spacer !default;

$catalog-grid-item__action-size             : 48px !default;
$catalog-grid-item__action-padding          : 0 !default;
$catalog-grid-item__action-background       : transparent !default;
$catalog-grid-item__action-border           : none !default;
$catalog-grid-item__action-cursor           : pointer !default;
$catalog-grid-item__action-icon-size        : 18px !default;
$catalog-grid-item__action-icon-transition  : $transition-base !default;
$catalog-grid-item__action-icon-fill        : $gray-darker !default;
$catalog-grid-item__action-icon-fill-hover  : $green !default;

$catalog-grid-item__price-margin            : 0 0 $spacer 0 !default;

$catalog-gird-item__primary-form-margin     : 0 !default;

$catalog-grid-item__swatch-size             : 32px !default;
$catalog-grid-item__swatch-border-color     : $color-primary !default;
$catalog-grid-item__swatch-image-width      : 32px !default;
$catalog-grid-item__swatch-image-height     : 40px !default;

.catalog-grid-item {
    position: relative;
    display: block;
    padding: $catalog-grid-item__padding;
    overflow: hidden;

    @include mq($screen-m) {
        &:hover {
            .catalog-grid-item__details {
                transform: translateY(-100%);
            }
        }
    }

    &__badge {
        position: absolute;
        top: $catalog-grid-item__badge-top-position;
        left: $catalog-grid-item__badge-left-position;
        border-radius: $catalog-grid-item__badge-border-radius;
        padding: $catalog-grid-item__badge-padding;
        font-size: $catalog-grid-item__badge-font-size;
        background-color: $catalog-grid-item__badge-bg-color;
    }

    &__link {
        display: block;
    }

    &__image-wrapper {
        background: $catalog-grid-item__image-wrapper-background;

        .image {
            margin: $catalog-grid-item__image-margin;
            width: $catalog-grid-item__image-width;
            height: $catalog-grid-item__image-height;
            mix-blend-mode: multiply;
            &.swatch-option-loading {
                height: $catalog-grid-item__loader-height;
                @include mq($screen-m) {
                    height: $catalog-grid-item__loader-height\@medium;
                }
            }
        }
    }

    &__main {
        display: none;
        @include mq($screen-m) {
            display: block;
            padding: $catalog-grid-item__main-padding;
            background: $catalog-grid-item__content-bg-color;
        }
    }

    &__name {
        font-weight: $catalog-grid-item__name-font-weight;
        font-size: $catalog-grid-item__font-size;
        line-height: $catalog-grid-item__line-height;
        margin: 0;

        @include mq($screen-xxl) {
            font-size: $catalog-grid-item__font-size\@large;
        }

        &--one-line {
            overflow: hidden;
            .link {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .link {
            color: $catalog-grid-item__name-color;
            text-decoration: none;
        }
    }

    &__rating {
        margin: $catalog-grid-item__rating-margin;
    }

    &__price {
        padding: $catalog-grid-item__padding;
        margin: $catalog-grid-item__price-margin;
        font-size: $catalog-grid-item__font-size;
        line-height: $catalog-grid-item__line-height;
        font-weight: $catalog-grid-item__font-weight;
        white-space: nowrap;

        @include mq($screen-xxl) {
            font-size: $catalog-grid-item__font-size\@large;
        }
    }

    &__old-price {
        @include mq($screen-m) {
            display: block;
            margin-right: 0;
        }
    }

    &__special-price {
        @include mq($screen-m) {
            display: block;
        }
    }

    &__details {
        padding: $catalog-grid-item__content-padding;
        background: $catalog-grid-item__content-bg-color;
        transition: $transition-base;

        @include mq($screen-m) {
            position: absolute;
            top: 100%;
            width: 100%;
            padding: $catalog-grid-item__content-padding\@medium;
        }

    }

    &__options {
        .swatch {
            margin: $catalog-grid-item__base-spacing 0;
            &__wrapper {
                display: flex;
                flex-wrap: wrap;
            }
            &__option {
                min-width: $catalog-grid-item__swatch-size;
                min-height: $catalog-grid-item__swatch-size;

                &.image {
                    width: $catalog-grid-item__swatch-image-width;
                    height: $catalog-grid-item__swatch-image-height;
                }
            }
            .selected {
                border-color: $catalog-grid-item__swatch-border-color;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    &__primary-form {
        margin: $catalog-gird-item__primary-form-margin;
        @include mq($screen-m) {
            flex: 1;
        }
    }

    &__primary-action {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: $catalog-grid-item__primary-padding;
    }

    &__cart-icon {
        @include mq($screen-m) {
            display: none;
        }
    }

    &__cart-text {
        display: none;
        @include mq($screen-m) {
            display: block;
        }
    }

    &__secondary-action {
        display: flex;
        align-items: center;
        justify-content: center;
        .button {
            height: $catalog-grid-item__action-size;
            width: $catalog-grid-item__action-size;
            padding: $catalog-grid-item__action-padding;
            background: $catalog-grid-item__action-background;
            border: $catalog-grid-item__action-border;
            cursor: $catalog-grid-item__action-cursor;
            &:hover,
            &:focus {
                .button__icon {
                    fill: $catalog-grid-item__action-icon-fill-hover;
                }
            }
            .button__icon {
                width: $catalog-grid-item__action-icon-size;
                height: $catalog-grid-item__action-icon-size;
                transition: $catalog-grid-item__action-icon-transition;
                fill: $catalog-grid-item__action-icon-fill;
            }
        }
    }
}
