.badge {
    font-size: 12px;
    padding: 5px 10px;
    display: inline-flex;
    color: $color-white;
    background: $color-black;

    &--new {
        background: $color-success;
        color: $color-white;
    }

    &--alert {
        background: $color-primary;
        color: $color-white;
    }

    &--error {
        background: $color-international-orange;
        color: $color-white;
    }
}
