$dashboard-list-item-margin : 15px !default;
$dashboard-list-item-padding: 15px !default;

.dashboard-list-item {
    margin-bottom: $dashboard-list-item-margin;
    padding: $dashboard-list-item-padding;

    &__list {
        list-style: decimal;
        padding-left: 20px;
        margin: $dashboard-list-item-margin 0;

        .list__image {
            max-width: 64px;
            margin-bottom: $dashboard-list-item-margin;
        }

        .list__item {
            padding: $dashboard-list-item-padding 0;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }

        .list__content {
            padding-left: 0;
        }
    }

    &__title {
        margin-bottom: $dashboard-list-item-margin;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray;
    }
}
