<div class="dashboard-list-item {{ class }}">
    <h3 class="heading heading--fifth-level dashboard-list-item__title {{ titleClass }}">
        {{ title }}
    </h3>

    {{> '@list--image' items }}

    {{> '@dashboard-actions' buttons }}
</div>
