$dashboard-table-margin: 30px !default;

.dashboard-table {
    &__header {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        margin-bottom: $dashboard-table-margin;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray;
    }

    &__content {
        margin-bottom: $dashboard-table-margin;
    }

    &__title {
        margin-bottom: 0;
        margin-right: $dashboard-table-margin;
    }
}
