// Product grid
$product-grid__padding          : 10px !default;
$product-grid__margin           : 15px !default;

// Product list
$product-list__padding          : 10px !default;
$product-list__margin           : 10px !default;
$product-list__border           : 1px solid $gray-light !default;
$product-list__name-font-size   : $font-size-small !default;
$product-list__details-color    : $gray-lighter !default;
$product-list__details-font-size: $font-size-extra-small !default;
$product-list__img-box-padding  : 0 $product-grid__padding 0 0 !default;

.products-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &--4-in-row {
        .products-grid__item {
            @include mq($screen-l) {
                flex-basis: calc(25% - 20px);
            }
        }
    }

    &__item {
        flex-basis: 100%;
        margin-bottom: $product-grid__margin;

        @include mq($screen-s) {
            flex-basis: calc(50% - 8px);
            margin-right: $product-grid__margin;
        }

        @include mq($screen-m) {
            flex-basis: calc(33.33% - 14px);
            margin-bottom: 20px;
            margin-right: 20px;
        }

        &:nth-child(2n) {
            @include mq($screen-s) {
                margin-right: 0;
            }

            @include mq($screen-m) {
                margin-right: 20px;
            }
        }

        &:nth-child(3n) {
            @include mq($screen-m) {
                margin-right: 0;
            }
        }
    }

    &--4-in-row {
        .products-grid__item {
            @include mq($screen-l) {
                flex-basis: calc(25% - 20px);
            }
        }
    }
}

.products-list {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
        border: $product-list__border;
        padding: $product-list__padding;
        margin-bottom: $product-list__margin;
    }

    &__item-link {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    &__img-box {
        flex-basis: 70px;
        padding: $product-list__img-box-padding;
        border-right: $product-list__border;
    }

    &__img {
        max-width: 100%;
    }

    &__info {
        padding: 0 10px;
    }

    &__name {
        font-size: $product-list__name-font-size;
        margin-bottom: 5px;
        font-weight: 700;
    }

    &__details {
        color: $product-list__details-color;
        font-size: $product-list__details-font-size;
    }
}

