// Product grid
$product-grid-padding             : 10px !default;
$product-grid-margin              : 15px !default;

// Product list
$product-list-padding             : 10px !default;
$product-list-margin              : 10px !default;
$product-list-border-color        : $gray-light !default;
$product-list-border              : 1px solid $product-list-border-color !default;
$product-list-name-font-size      : $font-size-small !default;
$product-list-details-color       : $gray-lighter !default;
$product-list-details-font-size   : $font-size-extra-small !default;
$product-list-img-box-padding     : 0 $product-grid-padding 0 0 !default;
$product-list-img-box-border-color: $gray-light !default;
$product-list-img-box-border      : 1px solid $product-list-img-box-border-color !default;

.products-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include mq($screen-m) {
        padding: $product-grid-padding 0 $product-grid-padding ($product-grid-padding * 2);
    }

    &--4-in-row {
        .products-grid__item {
            @include mq($screen-l) {
                flex-basis: calc(25% - 20px);
            }
        }
    }

    &__item {
        flex-basis: 100%;
        margin-bottom: $product-grid-margin;

        @include mq($screen-s) {
            flex-basis: calc(50% - 15px);
            margin-right: $product-grid-margin;
        }

        @include mq($screen-m) {
            flex-basis: calc(33.33% - 20px);
            margin-bottom: ($product-grid-margin + 5);
            margin-right: ($product-grid-margin + 5);
        }
    }
}

.products-list {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
        border: $product-list-border;
        padding: $product-list-padding;
        margin-bottom: $product-list-margin;
    }

    &__item-link {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        text-decoration: none;

        @include links(hover) {
            text-decoration: none;
        }
    }

    &__img-box {
        flex-basis: 70px;
        padding: $product-list-img-box-padding;
        border-right: $product-list-img-box-border;
    }

    &__img {
        max-width: 100%;
    }

    &__info {
        padding: 0 10px;
    }

    &__name {
        font-size: $product-list-name-font-size;
        margin-bottom: 5px;
        font-weight: 700;
    }

    &__details {
        color: $product-list-details-color;
        font-size: $product-list-details-font-size;
    }
}

