$cart-message-background        : $gray;
$cart-message-background-success: $green;
$cart-message-background-error  : $red;

$cart-message-color             : $white;
$cart-message-color-red         : $red;
$cart-message-color-green       : $green;

$cart-message-padding-base      : 15px;
$cart-message-margin-base       : 15px;

.cart-message {
    background: $cart-message-background;
    color: $cart-message-color;
    position: relative;
    padding: 5px ($cart-message-padding-base * 2);
    margin-bottom: $cart-message-margin-base;
    font-size: $font-size-small;

    &--success {
        background: $cart-message-background-success;
        color: rgba($cart-message-color, 0.9);

        &:after {
            content: "\2713";   
        }
    }

    &--error {
        background: $cart-message-background-error;
        color: rgba($cart-message-color, 0.9);

        &:after {
            content: "\2715";
        }
    }

    &:after {
        color: $cart-message-color;
        position: absolute;
        left: 0;
        top: 0;            
        height: 100%;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
