<div class="dashboard-order {{ class }}">
    <div class="dashboard-order__header">
        <h5 class="heading heading--fifth-level dashboard-order__title">
            {{ title }}
        </h5>
        
        <a href="#" class="link dashboard-order__link">
            {{ link }}
        </a>
    </div>

    <div class="dashboard-order__content">
        {{> '@table' table }}
    </div>
</div>