$dropdown-list__width                    : 100% !default;
$dropdown-list__bg-color                 : $white !default;
$dropdown-list__item-color               : $font-color-base !default;
$dropdown-list__item-color-active        : $color-primary !default;
$dropdown-list__item-bg-color            : $white !default;
$dropdown-list__item-bg-color-active     : $black !default;
$dropdown-list__item-bg-color-level2     : $gray !default;
$dropdown-list__icon-width               : 16px !default;
$dropdown-list__icon-height              : 16px !default;
$dropdown-list__icon-color               : $black !default;
$dropdown-list__icon-color-active        : $color-primary !default;
$dropdown-list__font-size                : $font-size-base !default;
$dropdown-list__item-padding             : 16px !default;
$dropdown-list__content-padding          : 16px !default;
$dropdown-list__outline                  : none !default;
$dropdown-list__height-trasition         : height 0.3s !default;
$dropdown-list__border-radius            : 0 !default;

$dropdown-list__bg-color--dark           : $gray-dark !default;
$dropdown-list__icon-color--dark         : $white !default;
$dropdown-list__item-color--dark         : $white !default;
$dropdown-list__item-color-active--dark  : $white !default;
$dropdown-list__item-bg-color-active--dark  : $gray-dark !default;

// nested list variables
$dropdown-list__inner-item-bg-color      : $gray-dark !default;
$dropdown-list__inner-item-color         : $white !default;
$dropdown-list__icon-color--inner        : $white !default;
$dropdown-list__icon-color-active--inner : $white !default;
$dropdown-list__inner-item-border        : 1px solid $white !default;
$dropdown-list__inner-item-border--level2: 1px solid $gray-dark !default;

.dropdown-list {
    width: $dropdown-list__width;
    position: relative;
    background-color: $dropdown-list__bg-color;

    &--wide-open {
        @include mq($screen-m) {
            .dropdown-list__list {
                display: flex;
                flex-flow: row nowrap;
            }

            .dropdown-list__item {
                width: auto;
                flex-basis: 25%;
                cursor: default;
            }

            .dropdown-list__label {
                cursor: default;
            }

            .dropdown-list__icon {
                display: none;
            }

            .dropdown-list__content {
                height: auto;
            }
        }
    }

    &--dark {
        background-color: $dropdown-list__bg-color--dark;

        .dropdown-list__item {
            border-bottom: 2px solid $dropdown-list__bg-color--dark;
        }

        .dropdown-list__item,
        .dropdown-list__item--open {
            .dropdown-list__icon {
                fill: $dropdown-list__icon-color--dark;
            }
        }

        .dropdown-list__label {
            background-color: $dropdown-list__bg-color--dark;
            color: $dropdown-list__item-color--dark;
            font-weight: $font-weight-bold;

            &:hover,
            &:focus {
                color: $dropdown-list__item-color-active--dark;
                background-color: $dropdown-list__item-bg-color-active--dark;

                .dropdown-list__icon {
                    fill: $dropdown-list__icon-color--dark;
                }
            }
        }

        .dropdown-list__content {
            background-color: $dropdown-list__bg-color--dark;
        }
    }

    &__list {
        display: block;
        width: $dropdown-list__width;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__icon {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        width: $dropdown-list__icon-width;
        height: $dropdown-list__icon-height;
        margin: auto;
        fill: $dropdown-list__icon-color;
        transition: $transition-base;

        &--inner {
            width: $dropdown-list__icon-width;
            height: $dropdown-list__icon-width;
            top: 0;
            bottom: 0;
            fill: $dropdown-list__icon-color--inner;
            margin: auto 0;
        }
    }

    &__item {
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        font-size: $dropdown-list__font-size;
        cursor: pointer;

        &--open,
        &.open {
            & > .dropdown-list__label {
                color: $dropdown-list__item-color-active;
                background-color: $dropdown-list__item-bg-color-active;

                & > .dropdown-list__icon {
                    fill: $dropdown-list__icon-color-active;
                    transform: rotate(180deg);
                }
            }
        }

        &--collapse {
            .dropdown-list__label {
                padding-right: 30px;
            }
        }
    }

    &__label {
        display: block;
        position: relative;
        width: 100%;
        color: $dropdown-list__item-color;
        background-color: $dropdown-list__item-bg-color;
        padding: $dropdown-list__item-padding;
        margin: 0;
        border: 0;
        border-radius: $dropdown-list__border-radius;
        text-decoration: none;
        text-align: left;
        cursor: pointer;
        transition: $transition-base;

        &:hover,
        &:focus {
            color: $dropdown-list__item-color-active;
            background-color: $dropdown-list__item-bg-color-active;
            text-decoration: none;
            outline: $dropdown-list__outline;

            .dropdown-list__icon {
                fill: $dropdown-list__icon-color-active;
            }
        }
    }

    &__content {
        height: 0;
        overflow: hidden;
        padding: 0 $dropdown-list__content-padding;
        transition: $dropdown-list__height-trasition;
    }

    // nested lists styles
    &__inner-list {
        list-style-type: none;
        display: block;
        height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        transition: $transition-base;
        font-size: $font-size-base;
    }

    &__inner-item {
        position: relative;
        display: block;
        padding: 0;
        background-color: $dropdown-list__inner-item-bg-color;
        border-bottom: $dropdown-list__inner-item-border;

        &.open {
            .dropdown-list__icon--inner {
                transform: rotate(180deg);
            }
        }

        &--level2 {
            background-color: $dropdown-list__item-bg-color-level2;
            border-bottom: $dropdown-list__inner-item-border--level2;
            .dropdown-list__inner-label {
                color: $dropdown-list__item-color;
            }
        }
    }

    &__inner-label {
        display: block;
        position: relative;
        text-decoration: none;
        padding: $dropdown-list__item-padding;
        color: $dropdown-list__inner-item-color;

        &:hover,
        &:focus {
            color: $dropdown-list__inner-item-color;
            text-decoration: none;
        }
    }
}
