$catalog-list__border  : 1px solid $gray-light !default;
$catalog-list__padding : 0 0 $spacer--large 0 !default;

.catalog-list {
    padding: $catalog-list__padding;
    border-bottom: $catalog-list__border;
    &__item {
        border-bottom: $catalog-list__border;
        &:first-child {
            border-top: $catalog-list__border;
        }

        &:last-child {
            border-bottom:$catalog-list__border;
        }
    }
}
