$catalog-list__border  : 1px solid $gray-light !default;
$catalog-list__padding : $spacer--large !default;

.catalog-list {
    display: flex;
    flex-direction: column;
    @include mq($screen-l) {
        flex-direction: row;
    }
    &__sidebar {
        padding-bottom: $spacer;
        @include mq($screen-l) {
            flex: 1 calc(290px + $spacer--medium);
            justify-content: space-between;
            margin-right: $spacer--medium;
        }
    }
    &__products {
        padding-bottom: $catalog-list__padding;
        border-bottom: $catalog-list__border;
        @include mq($screen-l) {
            flex: 1 calc(100% - 290px - #{$spacer--medium});
        }
    }

    &__item {
        border-bottom: $catalog-list__border;
        &:first-child {
            border-top: $catalog-list__border;
        }

        &:last-child {
            border-bottom: $catalog-list__border;
        }
    }
}
