.product {
    display: block;
    padding: 15px;
    border: 1px solid $gray-lightest;

    &__link {
        @include links(active) {
            display: block;
            text-decoration: none;
        }
    }

    &__img-box {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        text-align: center;
        min-height: 310px;

        @include mq($screen-s) {
            min-height: 200px;
        }
    }

    &__img {
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    &__name {
        font-weight: 700;
        color: $font-color-base;
        font-size: 16px;

        @include mq($screen-m) {
            font-size: 18px;
        }
    }

    &__type {
        padding: 15px 0;
        font-size: 14px;
        color: $gray-light;
    }

    &__button {
        width: 100%;
    }

    &__price {
        text-align: right;
        font-weight: 600;
        padding: 10px 0;
    }

    &__details {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        width: 100%;
        min-height: 260px;
    }

    &__details-list {
        font-size: $font-size-small;
    }

    &__details-list-item {
        padding: 0;
        margin-bottom: 7px;

        &:nth-child(even) {
            text-align: right;
        }
    }

    &__actions-secondary {
        text-align: right;
    }

    &--img-thumb {
        .product__img-box {
            min-height: 0;
        }

        .product__name {
            display: inline-flex;
            align-items: center;
            font-size: 18px;
            min-height: 0;
        }
    }
}
