$product__padding         : 15px !default;
$product__border          : 1px solid $gray-lightest !default;
$product__font-size-small : $font-size-small !default;
$product__font-size-medium: $font-size-base !default;
$product__font-size-large : 18px !default;
$product__name-color      : $font-color-base !default;
$product__type-color      : $gray-light !default;

.product {
    display: block;
    padding: $product__padding;
    border: $product__border;

    &--img-thumb {
        .product__img-box {
            min-height: 0;
        }

        .product__name {
            display: inline-flex;
            align-items: center;
            font-size: $product__font-size-large;
            min-height: 0;
        }
    }

    &__link {
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }

    &__img-box {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: ($product__padding - 5);
        text-align: center;
        min-height: 310px;

        @include mq($screen-s) {
            min-height: 200px;
        }
    }

    &__img {
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    &__name {
        font-weight: 700;
        color: $product__name-color;
        font-size: $product__font-size-medium;

        @include mq($screen-m) {
            font-size: $product__font-size-large;
        }
    }

    &__type {
        padding: $product__padding 0;
        font-size: $product__font-size-small;
        color: $product__type-color;
    }

    &__button {
        width: 100%;
    }

    &__price {
        text-align: right;
        font-weight: 600;
        padding: 10px 0;
    }

    &__details {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        width: 100%;
        min-height: 260px;
    }

    &__details-list {
        font-size: $product__font-size-small;
    }

    &__details-list-item {
        padding: 0;
        margin-bottom: 7px;

        &:nth-child(even) {
            text-align: right;
        }
    }

    &__actions-secondary {
        text-align: right;
    }
}
