$product-padding                  : 15px !default;
$product-border-color             : $gray-lightest !default;
$product-border                   : 1px solid $product-border-color !default;
$product-name-color               : $font-color-base !default;
$product-name-font-size           : $font-size-base !default;
$product-name-brekapoint-font-size: 18px !default;
$product-type-font-size           : $font-size-small !default;
$product-type-color               : $gray-light !default;
$product-details-list-font-size   : $font-size-small !default;
$product-img-name-font-size       : 18px !default;
$product-brekapoint-small         : $screen-s !default;
$procuct-breakpoint-medium        : $screen-m !default;

.product {
    display: block;
    padding: $product-padding;
    border: $product-border;

    &__link {
        @include links(active) {
            display: block;
            text-decoration: none;
        }
    }

    &__img-box {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: ($product-padding - 5);
        text-align: center;
        min-height: 310px;

        @include mq($product-brekapoint-small) {
            min-height: 200px;
        }
    }

    &__img {
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    &__name {
        font-weight: 700;
        color: $product-name-color;
        font-size: $product-name-font-size;

        @include mq($procuct-breakpoint-medium) {
            font-size: $product-name-brekapoint-font-size;
        }
    }

    &__type {
        padding: $product-padding 0;
        font-size: $product-type-font-size;
        color: $product-type-color;
    }

    &__button {
        width: 100%;
    }

    &__price {
        text-align: right;
        font-weight: 600;
        padding: ($product-padding - 5) 0;
    }

    &__details {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        width: 100%;
        min-height: 260px;
    }

    &__details-list {
        font-size: $product-details-list-font-size;
    }

    &__details-list-item {
        padding: 0;
        margin-bottom: 7px;

        &:nth-child(even) {
            text-align: right;
        }
    }

    &__actions-secondary {
        text-align: right;
    }

    &--img-thumb {
        .product__img-box {
            min-height: 0;
        }

        .product__name {
            display: inline-flex;
            align-items: center;
            font-size: $product-img-name-font-size;
            min-height: 0;
        }
    }
}
