$dashboard-actions-padding: 15px !default;

.dashboard-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    &__link {
        padding: $dashboard-actions-padding 0;
    
        &:first-child {
            margin-right: 15px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
