$dashboard-actions-padding: 15px !default;

.dashboard-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    &__button {
        margin: 0 15px 0 0;
        height: 30px;
        padding: 0 20px;
        font-size: 14px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        padding: $dashboard-actions-padding 0;
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}
