.cart {
    &__products-list {
        margin-bottom: 10px;
        @include mq($screen-m) {
            padding-right: 10px;
        }
    }

    &__discount {
        justify-content: flex-start;

        &-heading {
            display: none;
        }

        &-label {
            display: none;
        }
    }

    &__update {
        padding-top: 10px;
        margin-bottom: 5px;
        @include mq($screen-m) {
            display: flex;
            justify-content: flex-end;
        }

        &-button {
            width: 100%;
            @include mq($screen-m) {
                width: auto;
            }
        }
    }
}

.cart-summary {
    padding: 15px;
    background-color: $gray-lightest;

    &__item {
        display: block;
        flex: 1 0 100%;
        padding: 5px;
    }

    &__shipping-methods {
        margin-bottom: 10px;
    }

    &__checkout-button {
        margin-bottom: 0;
    }
}

.cart-totals {
    &__row {

    }

    &__label {

    }

    &__value {

    }
}
