$discount__padding             : 15px !default;
$discount__margin              : 15px !default;
$discount__transition          : $transition-base !default;
$discount__icon-width          : 14px !default;
$discount__icon-height         : 14px !default;
$discount__title-icon-transform: rotate(180deg) !default;

.discount {
    flex-basis: 100%;
    margin-bottom: $discount__margin;
    padding: 0 $discount__padding;

    @include mq($screen-m) {
        @include grid-column-width(1, 2);
    }

    &.active {
        .discount__title-icon {
            transform: $discount__title-icon-transform;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        padding: 10px 0;
        cursor: pointer;

        &-text {
            margin-right: $discount__margin;
            font-weight: 500;
        }

        &-icon {
            width: $discount__icon-width;
            height: $discount__icon-height;
            transition: $discount__transition;
        }
    }

    &__content {
        display: none;
    }

    &__form {
        display: block;
    }
}
