$discount-padding             : 15px !default;
$discount-margin              : 15px !default;
$discount-icon-width          : 14px !default;
$discount-icon-height         : 14px !default;
$discount-title-icon-transform: rotate(180deg) !default;
$discount-transition          : $transition-base !default;

.discount {
    flex-basis: 100%;
    margin-bottom: $discount-margin;
    padding: 0 $discount-padding;

    @include mq($screen-m) {
        @include grid-column-width(1, 2);
    }

    &.active {
        .discount__title-icon {
            transform: $discount-title-icon-transform;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        padding: 10px 0;
        cursor: pointer;

        &-text {
            margin-right: $discount-margin;
            font-weight: 500;
        }

        &-icon {
            width: $discount-icon-width;
            height: $discount-icon-height;
            transition: $discount-transition;
        }
    }

    &__content {
        display: none;
    }

    &__form {
        display: block;
    }
}
