.cart {
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
    &__main-col {
        padding: 0 15px;
        @include mq($screen-s, '1024px') {
            flex-basis: 100%;
        }
    }

    &__summary-col {
        padding: 0 15px;
        @include mq($screen-s, '1024px') {
            flex-basis: 100%;
        }
    }

    &__bottom {
        margin-left: -15px;
        margin-right: -15px;
        padding-top: 15px;
        border-top: 1px solid $gray-lighter;
    }

    &__products-list {
        margin: 0;
        padding-top: 15px;
        border-top: 1px solid $gray-lighter;
    }
}
