$cart__margin         : $spacer--medium !default;
$cart__padding        : $spacer--medium !default;
$cart__border         : 1px solid $gray-lighter !default;

$cart__bottom-margin  : 0 !default;
$cart__bottom-padding : $spacer 0 0 0 !default;

.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: ($cart__margin * 2);
    &__main-col {
        flex-basis: 100%;
        max-width: 100%;
        @include mq(1024px) {
            @include grid-column-width(4, 6);
        }
    }

    &__summary-col {
        flex-basis: 100%;
        max-width: 100%;
        @include mq(1024px) {
            @include grid-column-width(2, 6);
        }
    }

    &__bottom {
        display: flex;
        margin: $cart__bottom-margin;
        padding: $cart__bottom-padding;
        border-top: $cart__border;
    }

    &__products-list {
        margin: 0;
        border-top: $cart__border;
    }
}
