$cart__margin : 15px !default;
$cart__padding: 15px !default;
$cart__border : 1px solid $gray-lighter !default;

.cart {
    margin-bottom: ($cart__margin * 2);
    &__main-col {
        padding: 0 $cart__padding;
        @include mq($screen-s, 1024px) {
            flex-basis: 100%;
        }
    }

    &__summary-col {
        padding: 0 15px;
        @include mq($screen-s, 1024px) {
            flex-basis: 100%;
        }
    }

    &__bottom {
        padding-top: $cart__padding;
        border-top: $cart__border;
    }

    &__products-list {
        margin: 0;
        padding-top: $cart__padding;
        border-top: $cart__border;
    }
}
