.cart-summary {
    padding: 15px;
    background-color: $gray-lightest;

    &__item {
        display: block;
        flex: 1 0 100%;
        padding: 5px;
    }

    &__shipping-methods {
        margin: 25px 0;

        &-heading {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 14px;
        }
    }

    &__checkout-button {
        display: block;
        margin-bottom: 0;
    }

    &__multiple-addresses {
        width: 100%;
        display: block;
        margin: 15px 0 10px;
        text-align: center;
    }
}
