$cart-summary__padding                   : 15px !default;
$cart-summary__margin                    : 15px !default;
$cart-summary__background                : $gray-lightest !default;
$cart-summary__shipping-methods-margin   : 25px 0 !default;
$cart-summary__shipping-methods-font-size: $font-size-small !default;
$cart-summary__item-padding              : 5px !default;
$cart-summary__multiple-addresses-margin : $cart-summary__margin 0 ($cart-summary__margin - 5) !default;

.cart-summary {
    padding: $cart-summary__padding;
    background-color: $cart-summary__background;

    &__item {
        display: block;
        flex: 1 0 100%;
        padding: $cart-summary__item-padding;
    }

    &__shipping-methods {
        margin: $cart-summary__shipping-methods-margin;

        &-heading {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: $cart-summary__shipping-methods-font-size;
        }
    }

    &__checkout-button {
        display: block;
        margin-bottom: 0;
    }

    &__multiple-addresses {
        display: block;
        width: 100%;
        margin: $cart-summary__multiple-addresses-margin;
        text-align: center;
    }
}
