<div class="sidebar-nav-list {{ class }}">
    <h3 class="heading heading--fifth-level sidebar-nav-list__title {{ titleClass }}">
        {{ title }}
    </h3>

    {{> '@list--image' items }}

    {{> '@action' buttons }}
</div>
