$radio-margin                : 10px !default;
$radio-size                  : 18px !default;
$radio-dot-size              : 6px !default;
$radio-label-font-size       : $font-size-small !default;
$radio-label-color           : $black !default;
$radio-label-active-color    : $color-primary !default;
$radio-icon-border-color     : $black !default;
$radio-icon-border           : 1px solid $radio-icon-border-color !default;
$radio-icon-before-background: $color-primary !default;
$radio-icon-before-transition: $transition-base !default;

.radio {
    position: relative;
    margin-bottom: $radio-margin;

    &__field {
        display: none;
        height: $radio-size;
        width: $radio-size;

        &:checked + .radio__label {
            color: $radio-label-active-color;
            .radio__icon {
                &:before {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    &__label {
        position: relative;
        height: $radio-size;
        width: 100%;
        vertical-align: top;
        line-height: $radio-size;
        cursor: pointer;
        font-size: $radio-label-font-size;
        color: $radio-label-color;
    }

    &__icon {
        position: relative;
        display: inline-block;
        border: $radio-icon-border;
        border-radius: $radio-size;
        width: $radio-size;
        height: $radio-size;
        margin-right: ($radio-margin / 2);
        vertical-align: top;

        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: '';
            width: $radio-dot-size;
            height: $radio-dot-size;
            border-radius: $radio-dot-size;
            margin: auto;
            opacity: 0;
            transform: scale(0);
            background-color: $radio-icon-before-background;
            transition: $radio-icon-before-transition;
        }
    }
}
