<div class="dashboard-nav">
    <div class="dashboard-nav__mobile">
        {{ actualPage }}
    </div>

    <div class="dashboard-nav__content">
        <h1 class="heading heading--fourth-level dashobard-nav__title">
            {{ title }}
        </h1>

        {{> '@list' list }}
    </div>
</div>

<script src="{{ static '../dashboard-nav/dashboard-nav.js' }}"></script>
