<div class="columns
            {{#if columnBoth}}
                columns--both
            {{/if}}
            {{#if columnLeft}}
                columns--left
            {{/if}}
            {{#if columnRight}}
                columns--right
            {{/if}}"
>
    {{#if columnLeft}}
        <div class="columns__left">
            <p class="columns__text">
                {{ sidebarContent }}
            </p>
        </div>
    {{/if}}

    <div class="columns__main">
        <p class="columns__text">
            {{ mainContent }}
        </p>
    </div>

    {{#if columnRight}}
        <div class="columns__right">
            <p class="columns__text">
                {{ sidebarContent }}
            </p>
        </div>
    {{/if}}
</div>
