{{#each informations }}
    <div class="information {{ class }}">
        <h5 class="heading heading--fifth-level information__title">
            {{ title }}
        </h5>

        <p class="information__text">
            {{ text }}
        </p>
    </div>
{{/each}}
