$pager__padding                 : 15px !default;
$pager__margin                  : 15px !default;
$pager__item-size               : 48px !default;
$pager__item-color--current     : $white !default;
$pager__item-background--current: $color-primary !default;
$pager__link-color              : $gray !default;
$pager__link-color-hover        : $color-primary !default;
$pager__icon-width              : 12px !default;
$pager__icon-height             : 12px !default;

.pager {
    width: 100%;
    text-align: center;
    margin-bottom: $pager__margin;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: 0 $pager__padding;
        margin: 10px 0;

        @include mq($screen-m) {
            padding: 0 ($pager__padding * 2);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $pager__item-size;
        min-width: $pager__item-size;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }

        &--current {
            color: $pager__item-color--current;
            background-color: $pager__item-background--current;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: $pager__item-size;
        padding: 0 5px;
        line-height: $pager__item-size;
        color: $pager__link-color;
        text-align: center;

        &:hover {
            color: $pager__link-color-hover;
            text-decoration: none;
        }
    }

    &__icon {
        width: $pager__icon-width;
        height: $pager__icon-height;
    }
}
