$pager-item-size              : 48px !default;
$pager-padding                : 15px !default;
$pager-margin                 : 15px !default;
$pager-item-current-color     : $white !default;
$pager-item-current-background: $color-primary !default;
$pager-link-color             : $gray !default;
$pager-link-color-hover       : $color-primary !default;
$pager-icon-width             : 12px !default;
$pager-icon-height            : 12px !default;

.pager {
    width: 100%;
    text-align: center;
    margin-bottom: $pager-margin;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: 0 $pager-padding;
        margin: ($pager-margin - 5) 0;

        @include mq($screen-m) {
            padding: 0 ($pager-padding * 2);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $pager-item-size;
        min-width: $pager-item-size;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }

        &--current {
            color: $pager-item-current-color;
            background-color: $pager-item-current-background;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: $pager-item-size;
        padding: 0 5px;
        line-height: $pager-item-size;
        color: $pager-link-color;
        text-align: center;

        &:hover {
            color: $pager-link-color-hover;
            text-decoration: none;
        }
    }

    &__icon {
        width: $pager-icon-width;
        height: $pager-icon-height;
    }
}
