$pager__list-padding                        : $spacer !default;
$pager__item-margin                         : 0 $spacer;
$pager__item--current-after-height          : $spacer;
$pager__item--current-after-background-color: $color-primary;
$pager__item--current-after-transition      : $transition-base  !default;
$pager__item-size                           : 48px !default;
$pager__item-color--current                 : $white !default;
$pager__item-background--current            : $color-primary !default;
$pager__icon-width                          : 15px !default;
$pager__icon-height                         : 15px !default;
$pager__link-fill-disabled                  : $gray !default;
$pager__link-fill                           : $green !default;
$pager__link-color                          : $gray-dark !default;
$pager__link-color-hover                    : $color-primary !default;

.pager {
    width: 100%;
    text-align: center;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: $pager__list-padding;
        margin: 0;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: $pager__item-size;
        height: $pager__item-size;
        margin: $pager__item-margin;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &--current {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: 14px;
                left: 0;
                width: 100%;
                height: $pager__item--current-after-height ;
                background-color: $pager__item--current-after-background-color;
                z-index: -1;
                transition: $pager__item--current-after-transition ;
                transform-origin: left;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: $pager__item-size;
        color: $pager__link-color;
        text-decoration: none;

        &:hover {
            color: $pager__link-color-hover;
            text-decoration: underline;
        }

        &[disabled] {
            fill: $pager__link-fill-disabled;
            pointer-events: none;
            cursor: default;
        }

        &--prev,
        &--next {
            fill: $pager__link-fill;
        }
    }

    &__icon {
        width: $pager__icon-width;
        height: $pager__icon-height;
    }
}
