$wrapper-collapsible-padding             : 10px !default;
$wrapper-collapsible-background          : $white !default;
$wrapper-collapsible-icon-width          : 30px !default;
$wrapper-collapsible-icon-height         : 30px !default;
$wrapper-collapsible-icon-fill           : $black !default;
$wrapper-collapsible-horizontal-transform: scaleX(1) translateX(0) !default;
$wrapper-collapsible-breakpoint-large    : $screen-l !default;

.wrapper-collapsible {
    display: block;
    overflow: hidden;

    &__container {
        position: absolute;
        display: none;
        top: 50px;
        right: 0;
        width: auto;
        min-width: 260px;
        background-color: $wrapper-collapsible-background;
        z-index: 10;
        overflow: hidden;

        @include mq($wrapper-collapsible-breakpoint-large) {
            top: 95px;
        }

        &.open {
            display: block;
        }
    }

    &__trigger {
        position: absolute;
        display: block;
        top: 10px;
        right: 55px;
        padding: $wrapper-collapsible-padding;
        cursor: pointer;
        z-index: 10;

        @include mq($wrapper-collapsible-breakpoint-large) {
            top: 70px;
        }

        &--settings {
            right: 105px;
            @include mq($wrapper-collapsible-breakpoint-large) {
                right: 5px;
            }
        }
    }

    &__trigger-icon {
        display: block;
        width: $wrapper-collapsible-icon-width;
        height: $wrapper-collapsible-icon-height;
        fill: $wrapper-collapsible-icon-fill;
    }

    &--min-medium-horizontal {
        .wrapper-collapsible__container {
            @include mq($wrapper-collapsible-breakpoint-large) {
                position: relative;
                display: block;
                top: auto;
                right: auto;
                transform: $wrapper-collapsible-horizontal-transform;
            }
        }

        .wrapper-collapsible__trigger {
            @include mq($wrapper-collapsible-breakpoint-large) {
                display: none;
            }
        }

    }
}
