$list-style: none !default;
$list-margin: 10px 0 !default;
$list-padding: 0 !default;

$list-padding--horizontal: 10px !default;

.list {
    margin: $list-margin;
    padding: $list-padding;
    list-style: $list-style;

    &__item {
        display: list-item;
        padding: 5px 0;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
    .list__content {
        padding-left: 10px;
    }

    &--horizontal {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .list__item {
            padding: $list-padding--horizontal;
        }
    }
    &--with-icon {
        .list__item {
            display: flex;
            align-items: center;
        }
        .list__icon {
            width: 16px;
            height: 16px;
        }
    }
    &--with-image {
        .list__item {
            display: flex;
        }
        .list__image {
            width: 100px;
            height: auto;
        }
    }
    &--divided {
        .list__item {
            border-bottom: 1px solid $gray-dark;
            &:last-child {
                border-bottom: none;
            }
        }
        &.list--horizontal {
            .list__item {
                border-bottom: none;
                border-right: 1px solid $gray-dark;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}
