.list-title {
    display: block;
    padding: 10px 0;
    margin: 10px;
    border-bottom: 1px solid $border-base;
    cursor: pointer;

    @include mq($screen-m) {
        border-bottom: 0 none;
        cursor: default;

        &:after {
            content: '';
            display: block;
            width: 70px;
            height: 2px;
            margin-top: 10px;
            border-top: 2px solid $color-gray-dark;
        }

        .list-title__icon {
            display: none;
        }
    }

    &--active {
        .list-title__icon {
            transform: rotate(45deg);
        }

        @include mq($screen-l) {
            .list-title__icon {
                display: none;
            }
        }
    }

    &__text {
        font-weight: 700;
    }

    &__icon {
        position: absolute;
        right: 15px;
        top: 12px;
        width: 13px;
        height: 13px;
        fill: $color-gray;
        transition: transform 0.3s;

        @include mq($screen-l) {
            display: none;
        }
    }
}
