$list__style                   : none !default;
$list__margin                  : 0 !default;
$list__padding                 : 0 !default;
$list__item-padding            : 5px 0 !default;
$list__content-padding         : 10px !default;
$list__label-padding           : 0 5px 5px 0 !default;
$list__icon-color              : $white !default;

// Horizontal
$list__padding--horizontal     : 10px !default;

// With icon
$list__icon-size--icon         : 30px !default;

// With image
$list__width--image            : 16px !default;

// Divided
$list__border--divider         : 1px solid $gray-dark !default;

.list {
    margin: $list__margin;
    padding: $list__padding;
    list-style: $list__style;

    &--center {
        justify-content: center;
        text-align: center;
    }

    &--horizontal {
        display: flex;
        flex-flow: row wrap;
        .list__item {
            padding: $list__padding--horizontal;

            &:first-child {
                padding-top: $list__padding--horizontal;
            }
            &:last-child {
                padding-bottom: $list__padding--horizontal;
            }
        }
    }

    &--min-medium-horizontal {
        @include mq($screen-m) {
            display: flex;
            flex-flow: row nowrap;
        }
        .list__item {
            @include mq($screen-m) {
                padding: $list__padding--horizontal;

                &:first-child {
                    padding-top: $list__padding--horizontal;
                }
                &:last-child {
                    padding-bottom: $list__padding--horizontal;
                }
            }
        }
    }

    &--with-icon {
        justify-content: center;

        .list__item {
            display: flex;
            align-items: center;
            padding: 0;

            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
        .list__icon-link {
            padding: $list__padding--horizontal;
        }
        .list__icon {
            fill: $list__icon-color;
            width: $list__icon-size--icon;
            height: $list__icon-size--icon;
        }
    }

    &--with-image {
        .list__item {
            display: flex;
        }
        .list__image {
            width: $list__width--image;
            height: auto;
        }
    }

    &--divided {
        .list__item {
            border-bottom: $list__border--divider;
            &:last-child {
                border-bottom: none;
            }
        }

        &.list--horizontal {
            .list__item {
                border-bottom: none;
                border-right: $list__border--divider;
                &:last-child {
                    border-right: none;
                }
            }
        }

        &.list--min-medium-horizontal {
            .list__item {
                @include mq($screen-m) {
                    border-bottom: none;
                    border-right: $list__border--divider;
                }
                &:last-child {
                    @include mq($screen-m) {
                        border-right: none;
                    }
                }
            }
        }
    }

    &--description {
        display: inline-block;
    }

    &__item {
        display: list-item;
        padding: $list__item-padding;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }

    &__label {
        clear: left;
        float: left;
        padding: $list__label-padding;
        &:after {
            content: ': ';
        }
    }

    &__value {
        float: left;
        padding: $list__label-padding;
    }

    &__content {
        padding-left: $list__content-padding;
    }
}
