<ul class="list{{#if modifier}} list--{{modifier}}{{/if}}">
    {{#each contentList}}
        <li class="list__item">
            <a href="{{ iconLink }}" class="list__link">
                <svg class="list__social-icon list__social-icon--{{iconClass}}">
                    <use xlink:href="{{ svg iconId }}"></use>
                </svg>
            </a>
        </li>
    {{/each}}
</ul>
