$toolbar__border                   : 1px solid $gray-light !default;
$toolbar__dropdown-icon-area-border: none !default;
$toolbar__dropdown-icon-area-size  : 32px !default;
$toolbar__dropdown-icon-color      : $gray !default;
$toolbar__dropdown-icon-size       : 12px !default;
$toolbar__dropdown-icon-area-margin: 0 !default;
$toolbar__dropdown-icon-area-right : 0 !default;
$toolbar__dropdown-icon-area-top   : 2px !default;
$toolbar__offset                   : $spacer !default;
$toolbar__secondary-text-color     : $gray !default;
$toolbar__icon-color               : $gray-light !default;
$toolbar__icon-color--active       : $black !default;
$toolbar__mode-icon-area-size      : 48px !default;
$toolbar__mode-icon-margin         : 0 auto !default;
$toolbar__mode-icon-padding        : 0 !default;
$toolbar__mode-icon-size           : 18px !default;
$toolbar__mode-margin-right        : $spacer !default;
$toolbar__select-border            : 1px solid $gray-light !default;
$toolbar__select-border-radius     : $form-elements-radius !default;
$toolbar__select-padding-right     : $spacer--medium !default;
$toolbar__select-field-item-color  : $gray-darker !default;
$toolbar__select-field-item-height : 32px !default;
$toolbar__sorter-border-top        : 1px solid $gray-light !default;
$toolbar__sorter-padding           : 8px 0 !default;

.toolbar {
    display: flex;
    flex: 0 0 auto;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: $toolbar__border;
    @include mq($screen-m) {
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }

    &__mode,
    &__limiter,
    &__amount,
    &__sorter {
        flex: 0 0 auto;
        align-items: center;
    }

    &__amount {
        display: none;
        @include mq($screen-m) {
            // It's related to IE10/11 bug, which is solved by adding unit to flex-basis
            // Detailed description:
            // https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
            // sass-lint:disable no-css-comments
            /* stylelint-disable length-zero-no-unit */
            flex: 1 0 0;
            /* stylelint-enable length-zero-no-unit */
            // sass-lint:enable no-css-comments
            justify-content: center;
            display: flex;
        }
    }

    &__amount-content {
        color: $toolbar__secondary-text-color;
    }

    &__sorter {
        border-top: $toolbar__sorter-border-top;
        padding: $toolbar__sorter-padding;
        width: 100%;
        @include mq($screen-m) {
            width: auto;
            border-top: none;
            padding: 0;
        }
    }

    &__mode {
        display: flex;
        flex: 0 0 auto;
        margin-right: $toolbar__mode-margin-right;
    }

    &__mode-icon {
        display: block;
        width: $toolbar__mode-icon-size;
        height: $toolbar__mode-icon-size;
        padding: $toolbar__mode-icon-padding;
        margin: $toolbar__mode-icon-margin;
        fill: $toolbar__icon-color;
        &--active {
            fill: $toolbar__icon-color--active;
        }
    }

    &__mode-link {
        height: $toolbar__mode-icon-area-size;
        width: $toolbar__mode-icon-area-size;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__sorter-wrapper,
    &__limiter-wrapper {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        .choices {
            flex-grow: 1;
            @include mq($screen_m) {
                width: 200px;
            }
        }
        .select__field-list {
            &--single {
                height: $toolbar__select-field-item-height;
                border: $toolbar__select-border;
                border-radius: $toolbar__select-border-radius;
                padding-right: $toolbar__select-padding-right;
            }
        }
        .choices__list--dropdown {
            .select__field-item {
                padding-right: 0;
            }
        }
    }

    .select__field-item {
        color: $toolbar__select-field-item-color;
        height: $toolbar__select-field-item-height;
        line-height: $toolbar__select-field-item-height;
    }

    &__limiter-wrapper {
        margin-bottom: 0;
        @include mq($screen-m) {
            margin-right: $toolbar__offset;
        }
    }

    &__sorter-label,
    &__limiter-label {
        color: $toolbar__secondary-text-color;
        margin-bottom: 0;
        margin-right:  $toolbar__offset;
    }

    &__limiter {
        position: absolute;
        right: 0;
        top: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 20%;
        @include mq($screen-m) {
            position: relative;
            top: auto;
            right: auto;
            width: auto;
        }
    }

    &__limiter-suffix {
        display: none;
        @include mq($screen-m) {
            color: $toolbar__secondary-text-color;
            display: block;
        }
    }
    .choices {
        &.is-open:after,
        &:after {
            top: $toolbar__dropdown-icon-area-top;
            right: $toolbar__dropdown-icon-area-right;
            width: $toolbar__dropdown-icon-area-size;
            height: $toolbar__dropdown-icon-area-size;
            margin: $toolbar__dropdown-icon-area-margin;
            border: $toolbar__dropdown-icon-area-border;
            background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8"><path d="M12 2L10.59.59 6 5.17 1.41.59 0 2l6 6z" fill="#{$toolbar__dropdown-icon-color}" /></svg>');
            background-size: $toolbar__dropdown-icon-size;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}
