$banner-default-position-value             : 10% !default;
$banner-min-hegight                        : 250px !default;
$banner-margin                             : 15px !default;
$banner-padding                            : 15px !default;
$banner-content-color                      : $gray-dark !default;
$banner-content-background                 : $white !default;
$banner-content-background-breakpoint-small: rgba($white, 0.6) !default;
$banner-content-width-breakpoint-small     : 60% !default;
$banner-content-height-breakpoint-small    : 80% !default;

//content place
$banner-top-value                          : $banner-default-position-value !default;
$banner-bottom-value                       : $banner-default-position-value !default;
$banner-left-value                         : $banner-default-position-value !default;
$banner-right-value                        : $banner-default-position-value !default;

//content-below-image
$banner-content-below-background           : $white !default;

//without-image
$banner-without-image-background           : $white !default;
$banner-without-image-height               : 50vh !default;
$banner-without-image-width                : 100% !default;

//breakpoints
$banner-breakpoint-large                   : $screen-xl !default;
$banner-breakpoint-medium                  : $screen-l !default;
$banner-breakpoint-small                   : $screen-m !default;

.banner {
    display: block;
    position: relative;
    width: 100%;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &--full-height {
        display: flex;
        flex-wrap: wrap;
        min-height: $banner-min-hegight;

        @include mq($banner-breakpoint-large) {
            min-height: auto;
        }
    }

    &__image {
        width: 100%;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: $banner-margin;
        text-align: center;
        color: $banner-content-color;
        background: $banner-content-background;

        @include mq($banner-breakpoint-small) {
            position: absolute;
            background: $banner-content-background-breakpoint-small;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            max-width: $banner-content-width-breakpoint-small;
            max-height: $banner-content-height-breakpoint-small;
            padding: ($banner-padding * 2);
        }

        &--top {
            @include mq($banner-breakpoint-small) {
                bottom: auto;
                top: $banner-top-value;
            }
        }

        &--bottom {
            @include mq($banner-breakpoint-small) {
                top: auto;
                bottom: $banner-bottom-value;
            }
        }

        &--left {
            @include mq($banner-breakpoint-small) {
                right: auto;
                left: $banner-left-value;
            }
        }

        &--right {
            @include mq($banner-breakpoint-small) {
                left: auto;
                right: $banner-right-value;
            }
        }

        &--content-bellow-image {
            position: relative;
            max-width: 100%;
            display: block;
            background: $banner-content-below-background;
            padding: 0;
            margin-top: $banner-margin;
        }

        &--without-image {
            position: relative;
            background: $banner-without-image-background;
            height: $banner-without-image-height;
            width: $banner-without-image-width;
            max-width: none;
            max-height: none;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @include mq($banner-breakpoint-medium) {
                height: auto;
            }
        }
    }

    &__headings {
        margin: $banner-margin 0;
    }
}
