$banner-default-position-value             : 10% !default;
$banner-min-height                         : 250px !default;
$banner-margin                             : 15px !default;
$banner-padding                            : 30px !default;
$banner-content-color                      : $gray-dark !default;
$banner-content-background                 : $white !default;
$banner-content-background-breakpoint-small: rgba($white, 0.6) !default;
$banner-content-width-breakpoint-small     : 60% !default;
$banner-content-height-breakpoint-small    : 80% !default;

// Without image
$banner-without-image-height               : 50vh !default;
$banner-without-image-width                : 100% !default;

.banner {
    display: block;
    position: relative;
    width: 100%;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &--full-height {
        display: flex;
        flex-wrap: wrap;
        min-height: $banner-min-height;

        @include mq($screen-xl) {
            min-height: auto;
        }
    }

    &__image {
        width: 100%;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: $banner-margin;
        text-align: center;
        color: $banner-content-color;
        background: $banner-content-background;

        @include mq($screen-m) {
            position: absolute;
            background: $banner-content-background-breakpoint-small;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            max-width: $banner-content-width-breakpoint-small;
            max-height: $banner-content-height-breakpoint-small;
            padding: $banner-padding;
        }

        &--top {
            @include mq($screen-m) {
                bottom: auto;
                top: $banner-default-position-value;
            }
        }

        &--bottom {
            @include mq($screen-m) {
                top: auto;
                bottom: $banner-default-position-value;
            }
        }

        &--left {
            @include mq($screen-m) {
                right: auto;
                left: $banner-default-position-value;
            }
        }

        &--right {
            @include mq($screen-m) {
                left: auto;
                right: $banner-default-position-value;
            }
        }

        &--content-bellow-image {
            position: relative;
            max-width: 100%;
            display: block;
            background: $banner-content-background;
            padding: 0;
            margin-top: $banner-margin;
        }

        &--without-image {
            position: relative;
            background: $banner-content-background;
            height: $banner-without-image-height;
            width: $banner-without-image-width;
            max-width: none;
            max-height: none;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @include mq($screen-l) {
                height: auto;
            }
        }
    }

    &__headings {
        margin: $banner-margin 0;
    }
}
