$dashboard-items-padding: 10px !default;
$dashboard-items-margin : 10px !default;

.dashboard-items {
    display: flex;
    flex-direction: column;
    padding: $dashboard-items-padding;

    &__content {
        margin: 0;        
    }

    &__address {
        margin-bottom: 10px;
    }

    &__item {
        padding: $dashboard-items-padding 0;
        margin-bottom: $dashboard-items-margin;
    }
}
