$blockquote-margin     : 10px 0 !default;
$blockquote-padding    : 10px 10px 10px 20px !default;
$blockquote-border-left: 5px solid $gray-light !default;

.blockquote {
    margin: $blockquote-margin;
    padding: $blockquote-padding;
    border-left: $blockquote-border-left;
}

blockquote {
    @extend .blockquote;
}
