$dashborad-form-margin: 30px !default;

.dashboard-form {
    &--hidden {
        display: none;
    }

    &__title {
        margin-bottom: $dashborad-form-margin;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray;
    }

    &__input {
        margin-bottom: $dashborad-form-margin;
    }

    &__fields {
        margin-bottom: $dashborad-form-margin;
    }

    &__checkbox {
        margin-bottom: $dashborad-form-margin;
    }

    &__content {
        margin-bottom: $dashborad-form-margin;
    }

    &__title-form {
        margin-bottom: $dashborad-form-margin;
    }

    .select {
        margin-bottom: $dashborad-form-margin;
    }
}
