$table-padding                    : 15px !default;
$table-color                      : $black !default;
$table-font-size                  : $font-size-small !default;
$table-border-radius              : $border-radius !default;
$table-border                     : 1px solid $gray-light !default;
$table-th-background              : $white !default;
$table-th-breakpoint-background   : $gray-lightest !default;
$table-td-background              : $white !default;
$table-tfoot-background           : $white !default;
$table-tfoot-breakpoint-background: $gray-lightest !default;
$table-even-background            : $gray-lightest !default;
$table-odd-background             : $white !default;

.table {
    width: 100%;
    background: $white;
    margin: 1em 0;
    border: $table-border;
    border-radius: $table-border-radius;
    color: $table-color;
    border-collapse: separate;
    border-spacing: 0;
    font-size: $table-font-size;

    &--odd-even {
        tbody {
            tr:nth-child(odd) {
                td {
                    background: $table-odd-background;
                }
            }

            tr:nth-child(even) {
                td {
                    background: $table-even-background;
                }
            }
        }
    }

    tr {
        display: block;
        padding: $table-padding 0;
        border-bottom: $table-border;

        @include mq($screen-m) {
            padding: 0;
            border-bottom: 0;
            display: table-row;
        }

        &:first-child {
            border-top-left-radius: $table-border-radius;
            border-top-right-radius: $table-border-radius;
        }

        &:last-child {
            border-bottom-right-radius: $table-border-radius;
            border-bottom-left-radius: $table-border-radius;
        }
    }

    th {
        display: block;
        padding: 5px $table-padding;
        background: $table-th-background;
        text-align: left;

        @include mq($screen-m) {
            display: table-cell;
            padding: $table-padding;
            background: $table-th-breakpoint-background;
            border-bottom: $table-border;
            border-right: $table-border;

            &:first-child {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            &:last-child {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &:first-child {
            border-top-left-radius: $table-border-radius;
        }

        &:last-child {
            border-top-right-radius: $table-border-radius;
            border-right: 0;
        }
    }

    td {
        display: block;
        padding: 5px $table-padding;
        background: $table-td-background;
        text-align: left;

        @include mq($screen-m) {
            display: table-cell;
            padding: $table-padding;
            background: $table-td-background;
            border-bottom: $table-border;
            border-right: $table-border;

            &:first-child {
                border-bottom-left-radius: $table-border-radius;
            }

            &:last-child {
                border-bottom-right-radius: $table-border-radius;
                border-right: 0;
            }
        }
    }

    tfoot {
        td {
            display: block;
            padding: 5px $table-padding;
            background: $table-tfoot-background;
            text-align: left;

            @include mq($screen-m) {
                display: table-cell;
                padding: $table-padding;
                background: $table-tfoot-breakpoint-background;
                border-right: $table-border;
                text-align: left;
            }
        }
    }
}
