<div class="flex-column">
    <div>{{ content1 }}</div>
    <div>{{ content2 }}</div>
    <div>
        {{ render '@button' flexColumnButton }}
        {{ render '@button' flexColumnButton2 }}
    </div>

</div>
