<div class="textarea">
    <label for="textarea1" class="textarea__label">
        {{ labelText }}
    </label>
    <textarea name="textarea1"
              class="textarea__field"
              placeholder="{{ placeholder }}"></textarea>
</div>
