$breadcrumbs-margin         : 8px !default;
$breadcrumbs-padding        : 8px !default;
$breadcrumbs-clickable-area : 48px !default;
$breadcrumbs-color          : $gray-dark !default;
$breadcrumbs-font-family    : $font-family-base !default;
$breadcrumbs-font-size      : $font-size-small !default;
$breadcrumbs-line-height    : $font-line-height !default;
//Active
$breadcrumbs-color-active   : $color-primary !default;
$breadcrumbs-font-family-active: $font-family-base-bold !default;

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: flex;
        align-items: stretch;
        min-height: $breadcrumbs-clickable-area;
        color: $breadcrumbs-color;

        &:after {
            content: '/';
            display: flex;
            align-items: center;
            margin: 0 $breadcrumbs-margin;
            color: $breadcrumbs-color;
        }

        &:last-child {
            align-items: center;
            padding: 0 $breadcrumbs-padding;
            font-family: $breadcrumbs-font-family-active;
            color: $breadcrumbs-color-active;

            &:after {
                display: none;
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        padding: 0 $breadcrumbs-padding;
        font-family: $breadcrumbs-font-family;
        color: $breadcrumbs-color;

        &:hover {
            color: $breadcrumbs-color-active;
        }
        &:active,
        &:focus {
            outline: none;
        }
    }
}
