$breadcrumbs__margin             : 8px !default;
$breadcrumbs__padding            : 8px !default;
$breadcrumbs__clickable-area     : 48px !default;
$breadcrumbs__color              : $gray-dark !default;
$breadcrumbs__font-family        : $font-family-base !default;
$breadcrumbs__font-size          : $font-size-small !default;
$breadcrumbs__line-height        : $font-line-height !default;
$breadcrumbs__text-decoration    : none !default;
$breadcrumbs__color--active      : $color-primary !default;
$breadcrumbs__font-family--active: $font-family-base-bold !default;
$breadcrumbs__outline            : $outline-base !default;

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: flex;
        align-items: stretch;
        min-height: $breadcrumbs__clickable-area;
        color: $breadcrumbs__color;
        outline: $breadcrumbs__outline;

        &:after {
            content: '/';
            display: flex;
            align-items: center;
            margin: 0 $breadcrumbs__margin;
            color: $breadcrumbs__color;
        }

        &:last-child {
            align-items: center;
            padding: 0 $breadcrumbs__padding;
            font-family: $breadcrumbs__font-family--active;
            color: $breadcrumbs__color--active;

            &:after {
                display: none;
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        padding: 0 $breadcrumbs__padding;
        font-family: $breadcrumbs__font-family;
        color: $breadcrumbs__color;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $breadcrumbs__color--active;
        }
        &:active,
        &:focus {
            outline: $breadcrumbs__outline;
        }
    }
}
