.breadcrumbs {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    max-width: $max-content-width;
    margin: 0 auto;

    @include mq($screen-xl) {
        padding-left: 0;
    }

    &__item {
        @include links(active) {
            color: $gray;
            display: inline-block;
            padding-bottom: 10px;
            text-decoration: none;
        }

        @include links(hover) {
            color: $body-color;
            text-decoration: none;
        }

        &:after {
            content: '/';
            display: inline-block;
            margin: 0 10px;
            color: $gray;
        }

        &:last-child {
            color: $gray;

            &:after {
                display: none;
            }
        }
    }
}
