$preformatted-padding   : 20px !default;
$preformatted-background: $gray-lightest !default;
$preformatted-overflow  : scroll !default;
$preformatted-font-family: $font-family-monospace !default;

.preformatted {
    padding: $preformatted-padding;
    background: $preformatted-background;
    overflow: $preformatted-overflow;
    font-family: $preformatted-font-family;
}

pre {
    @extend .preformatted;
}
