$preformatted__padding    : 20px !default;
$preformatted__background : $gray-lightest !default;
$preformatted__overflow   : scroll !default;
$preformatted__font-family: $font-family-monospace !default;

.preformatted {
    padding: $preformatted__padding;
    overflow: $preformatted__overflow;
    background: $preformatted__background;
    font-family: $preformatted__font-family;
}

pre {
    @extend .preformatted;
}
