// colors

$color-main1: #f26322;
$color-main2: #ff5000;
$color-main3: #883008;
$color-black: #000000;
$color-white: #ffffff;
$color-accent: #2e7501;
$color-aqua: #c0e9fd;
$color-gray1: #9ea3a4;
$color-gray2: #666666;
$color-gray3: #c2c2c2;
$color-gray-dark: #1b0d08;
$color-bg-gray: #e8e8e8;
$border-base: #cccccc;


// breakpoints

$screen-xs: 320px;
$screen-s: 480px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;
$screen-xxl: 1600px;

// fonts

$font-family: 'Open Sans', sans-serif;

$font-size-base: 14px;
$font-color: $color-gray-dark;
$font-color-lighter1: rgba($font-color, 0.8);
$font-color-lighter2: rgba($font-color, 0.6);
$font-color-lighter3: rgba($font-color, 0.4);
$font-color-lighter4: rgba($font-color, 0.2);

$max-content-width: 1180px;
