// fonts
@import '../components/general/fonts/fonts';

// libs
@import 'lib/normalize';
@import 'lib/slick';

// mixins
@import 'mixins/mq';
@import 'mixins/clearfix';
@import 'mixins/links';

// variables
@import '../components/general/variables/variables';

@import 'base';

// components
@import '../components/general/typography/typography';
@import '../components/blocks/button/button';
@import '../components/blocks/banners/banners';
@import '../components/blocks/bars/bars';
@import '../components/blocks/box/box';
@import '../components/blocks/box-carousel/box-carousel';
@import '../components/blocks/breadcrumbs/breadcrumbs';
@import '../components/blocks/cards/cards';
@import '../components/blocks/cms-2cols/cms-2cols';
@import '../components/blocks/cms-block/cms-block';
@import '../components/blocks/columns/columns';
@import '../components/blocks/downloadable-item/downloadable-item';
@import '../components/blocks/filters/filters';
@import '../components/blocks/form-fields/form/form';
@import '../components/blocks/form-fields/checkbox/checkbox';
@import '../components/blocks/form-fields/input/input';
@import '../components/blocks/form-fields/textarea/textarea';
@import '../components/blocks/info-box/info-box';
@import '../components/blocks/list/list';
@import '../components/blocks/navigation/navigation';
@import '../components/blocks/new-label/new-label';
@import '../components/blocks/pager/pager';
@import '../components/blocks/product-item/product-item';
@import '../components/blocks/products-grid/products-grid';
@import '../components/blocks/products-list/products-list';
@import '../components/blocks/promotion/promotion';
@import '../components/blocks/search/search';
@import '../components/blocks/slider/slider';
@import '../components/blocks/tabs/tabs';

// documentation style
@import 'styles/font';
@import 'styles/icons';
@import 'styles/product-item';
@import 'styles/typography';
@import 'styles/var-list';
@import 'styles/var';
@import 'styles/video-box';
