$side-menu-trigger-width             : 30px !default;
$side-menu-trigger-height            : 30px !default;
$side-menu-trigger-font-size         : $font-size-extra-small !default;
$side-menu-trigger-text-color        : $gray !default;
$side-menu-trigger-line-background   : $gray-dark !default;
$side-menu-trigger-line-height       : 3px !default;
$side-menu-trigger-line-border-radius: 3px !default;
$side-menu-trigger-transition        : $transition-base !default;

.side-menu-trigger {
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;

    @include mq($screen-l) {
        display: none;
    }

    &:focus {
        outline: none;
    }

    &:hover .side-menu-trigger__line {
        background: $side-menu-trigger-line-background;
    }

    &:hover .side-menu-trigger__text {
        opacity: 0.6;
    }

    &__handler,
    &__icon {
        position: relative;
        overflow: hidden;
        width: $side-menu-trigger-width;
        height: $side-menu-trigger-height;
    }

    &__icon {
        &--hide {
            display: none;
        }
    }

    &__text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: $side-menu-trigger-text-color;
        font-size: $side-menu-trigger-font-size;
        text-align: center;
        transition: $side-menu-trigger-transition;

        &--close {
            bottom: -10px;
            opacity: 0;
        }
    }

    &__line {
        position: absolute;
        left: 0;
        width: 100%;
        height: $side-menu-trigger-line-height;
        border-radius: $side-menu-trigger-line-border-radius;
        background: $side-menu-trigger-line-background;
        transition: $side-menu-trigger-transition;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 6px;
        }

        &:nth-child(4) {
            top: 12px;
        }

        &--close {
            &:nth-child(1),
            &:nth-child(4) {
                opacity: 0;
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 13px;
                background: $side-menu-trigger-line-background;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}
