$side-menu-trigger__width             : 32px !default;
$side-menu-trigger__height            : 28px !default;
$side-menu-trigger__font-size         : $font-size-extra-small !default;
$side-menu-trigger__transition        : $transition-base !default;
$side-menu-trigger__line-background   : $gray-dark !default;
$side-menu-trigger__line-height       : 2px !default;
$side-menu-trigger__line-border-radius: 2px !default;

.side-menu-trigger {
    padding: 8px;
    border: 0;
    background: none;
    cursor: pointer;

    @include mq($screen-xl) {
        display: none;
    }

    &:focus {
        outline: none;
    }

    &:hover .side-menu-trigger__line {
        background: $side-menu-trigger__line-background;
    }

    &:hover .side-menu-trigger__text {
        opacity: 0.6;
    }

    &__handler,
    &__icon {
        position: relative;
        overflow: hidden;
        width: $side-menu-trigger__width;
        height: $side-menu-trigger__height;
    }

    &__icon {
        &--hide {
            display: none;
        }
    }

    &__text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: $side-menu-trigger__font-size;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        transition: $side-menu-trigger__transition;

        &--close {
            bottom: -15px;
            opacity: 0;
        }
    }

    &__line {
        position: absolute;
        left: 0;
        right: 0;
        width: 55%;
        height: $side-menu-trigger__line-height;
        margin: auto;
        border-radius: $side-menu-trigger__line-border-radius;
        background: $side-menu-trigger__line-background;
        transition: $side-menu-trigger__transition;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 5px;
        }

        &:nth-child(4) {
            top: 10px;
        }

        &--close {
            &:nth-child(1),
            &:nth-child(4) {
                opacity: 0;
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 13px;
                background: $side-menu-trigger__line-background;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}
