<button class="side-menu-trigger" type="button">
    <div class="side-menu-trigger__handler">
        <span class="side-menu-trigger__line"></span>
        <span class="side-menu-trigger__line"></span>
        <span class="side-menu-trigger__line"></span>
        <span class="side-menu-trigger__line"></span>
        <span class="side-menu-trigger__text">
            {{ text }}
        </span>
    </div>
</button>

<script src="{{static 'side-menu-trigger.js'}}" defer></script>
