// todo od czego zaczac - paddingi w mobilnym widoku (paragraf)
// todo na mobilnym wydaje sie ze title ma zly padding
$tab__margin                         : 10px !default;
$tab__border-width                   : 8px !default;
// title
$tab__title-padding                  : $padding-base !default;
$tab__title-border-bottom            : $tab__border-width solid rgba(255,255,255,0) !default;
$tab__title-border-bottom--active    : $tab__border-width solid $color-primary !default;
$tab__title-color                    : $color-secondary!default;
$tab__title-color-mobile             : $color-secondary !default;
$tab__title-color-mobile-active      : $color-primary !default;
$tab__title-font-weight              : $font-weight-normal !default;
$tab__title-font-weight--mobile      : $font-weight-bold !default;
$tab__title-font-weight--active      : $font-weight-bold !default;
$tab__title-background               : $bg-color-base !default;
$tab__title-background--active       : $gray-light !default;
$tab__title-background--mobile-active: $bg-color-dark !default;
// content
$tab__content-padding                : 10px !default;
$tab__content-border-top             : $tab__border-width solid $tab__title-background--active !default;
$tab__content-transition             : opacity 0.5s !default;

.tab {
    @include mq($screen-l) {
        display: flex;
        flex-flow: row wrap;
    }

    &__title {
        position: relative;
        padding: $tab__title-padding;
        border-bottom: $tab__title-border-bottom;
        background: $tab__title-background;
        font-weight: $tab__title-font-weight--mobile;
        color: $tab__title-color-mobile;
        cursor: pointer;
        text-align: center;

        @include mq($screen-l) {
            flex-basis: 25%;
            order: -1;
            color: $tab__title-color;
            font-weight: $tab__title-font-weight;
        }

        &--active {
            background: $tab__title-background--mobile-active;
            color: $tab__title-color-mobile-active;
            @include mq($screen-l) {
                background-color: $tab__title-background--active;
                border-bottom: $tab__title-border-bottom--active;
                font-weight: $tab__title-font-weight--active;
                color: $tab__title-color;
                z-index: 2;
            }
        }
    }


    &__content {
        position: relative;
        display: none;
        width: 100%;
        padding: $tab__content-padding;
        z-index: -1;
        opacity: 0;
        transition: $tab__content-transition;
        overflow: hidden;

        @include mq($screen-l) {
            flex-basis: 100%;
            z-index: 1;
        }

        &--active {
            display: block;
            opacity: 1;
            //border-bottom: $tab__title-border-bottom--active;
            border-top: $tab__content-border-top;
            border-bottom: $tab__content-border-top;
            top: -$tab__border-width;

            @include mq($screen-l) {
                border-bottom: 0 none;
            }
        }
    }
}
