$tab-padding                    : 15px !default;
$tab-margin                     : 15px !default;
$tab-title-border               : 1px solid $gray-light !default;
$tab-title-background           : $gray-lightest !default;
$tab-title-active-border-color  : $gray-light !default;
$tab-title-active-border-width  : 1px 1px 0 1px !default;
$tab-title-active-border-style  : solid !default;
$tab-title-active-background    : $white !default;
$tab-icon-width                 : 13px !default;
$tab-icon-height                : 13px !default;
$tab-icon-fill                  : $gray !default;
$tab-icon-transition            : transform 0.3s !default;
$tab-content-transition         : opacity 0.5s !default;

.tab {
    position: relative;

    @include mq($screen-l) {
        display: flex;
        flex-flow: row wrap;
    }

    &__title {
        position: relative;
        padding: $tab-padding;
        border-bottom: $tab-title-border;
        font-weight: 700;
        cursor: pointer;
        text-align: left;

        @include mq($screen-l) {
            flex-basis: 25%;
            order: -1;
            margin-right: ($tab-margin - 5);
            background-color: $tab-title-background;
            border-bottom: 0 none;
            bottom: -1px;
        }

        &--active {
            @include mq($screen-l) {
                border-color: $tab-title-active-border-color;
                border-width: $tab-title-active-border-width;
                border-style: $tab-title-active-border-style;
                background-color: $tab-title-active-background;
                z-index: 2;
            }

            .tabs__icon {
                transform: rotate(45deg);

                @include mq($screen-l) {
                    display: none;
                }
            }
        }
    }

    &__icon {
        position: absolute;
        top: 17px;
        right: 10px;
        width: $tab-icon-width;
        height: $tab-icon-height;
        fill: $tab-icon-fill;
        transition: $tab-icon-transition;

        @include mq($screen-l) {
            display: none;
        }
    }

    &__content {
        position: relative;
        display: none;
        width: 100%;
        padding: ($tab-padding - 5);
        z-index: -1;
        opacity: 0;
        overflow-y: hidden;
        transition: $tab-content-transition;
        overflow: hidden;

        @include mq($screen-l) {
            flex-basis: 100%;
            z-index: 1;
        }

        &--active {
            display: block;
            opacity: 1;
            border-bottom: $tab-title-border;
            @include mq($screen-l) {
                border-bottom: 0 none;
                border-top: $tab-title-border;
            }
        }
    }
}
