$grid-breakpoint-two-cols         : $screen-m !default;
$grid-breakpoint-three-cols       : $screen-m !default;
$grid-breakpoint-four-cols-first  : $screen-m !default;
$grid-breakpoint-four-cols-second : $screen-l !default;
$grid-breakpoint-five-cols        : $screen-m !default;
$grid-breakpoint-six-cols-first   : $screen-m !default;
$grid-breakpoint-six-cols-second  : $screen-xl !default;

$grid-column-padding: 10px !default;

.grid {
    $gutter: 1%;

    @function column-width($quantity) {
        @return 100% / $quantity - ($quantity - 1) * $gutter / $quantity;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__column {
        flex-basis: 100%;
        padding: $grid-column-padding;
    }

    &--two-cols {
        @include mq($grid-breakpoint-two-cols) {
            flex-basis: column-width(2);
        }
    }

    &--three-cols {
        @include mq($grid-breakpoint-three-cols) {
            flex-basis: column-width(3);
        }
    }

    &--four-cols {
        @include mq($grid-breakpoint-four-cols-first) {
            flex-basis: column-width(2);
        }

        @include mq($grid-breakpoint-four-cols-second) {
            flex-basis: column-width(4);
        }
    }

    &--five-cols {
        @include mq($grid-breakpoint-five-cols) {
            flex-basis: column-width(5);
        }
    }

    &--six-cols {
        @include mq($grid-breakpoint-six-cols-first) {
            flex-basis: column-width(3);
        }

        @include mq($grid-breakpoint-six-cols-second) {
            flex-basis: column-width(6);
        }
    }
}
