.grid {
    $gutter: 1%;

    @function column-width($quantity) {
        @return 100% / $quantity - ($quantity - 1) * $gutter / $quantity;
    }

    @function column-merged-width($columnsQty, $columnsMerged) {
        @return ((100% / $columnsQty) * $columnsMerged) - ($columnsQty - $columnsMerged) * $gutter / $columnsQty;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__column {
        flex-basis: 100%;
        padding: 10px;
    }

    &--2-cols {
        @include mq($screen-m) {
            flex-basis: column-width(2);
        }
    }

    &--3-cols {
        @include mq($screen-m) {
            flex-basis: column-width(3);
        }
    }

    &--3-2-cols {
        @include mq($screen-m) {
            flex-basis: column-merged-width(3, 2);
        }
    }

    &--4-cols {
        @include mq($screen-m) {
            flex-basis: column-width(2);
        }

        @include mq($screen-l) {
            flex-basis: column-width(4);
        }
    }

    &--4-3-cols {
        @include mq($screen-m) {
            flex-basis: column-width(2);
        }

        @include mq($screen-l) {
            flex-basis: column-merged-width(4, 3);
        }
    }

    &--5-cols {
        @include mq($screen-m) {
            flex-basis: column-width(5);
        }
    }

    &--5-2-cols {
        @include mq($screen-m) {
            flex-basis: column-merged-width(5, 2);
        }
    }

    &--5-3-cols {
        @include mq($screen-m) {
            flex-basis: column-merged-width(5, 3);
        }
    }

    &--5-4-cols {
        @include mq($screen-m) {
            flex-basis: column-merged-width(5, 4);
        }
    }

    &--6-cols {
        @include mq($screen-m) {
            flex-basis: column-width(3);
        }

        @include mq($screen-xl) {
            flex-basis: column-width(6);
        }
    }

    &--6-5-cols {
        @include mq($screen-m) {
            flex-basis: column-merged-width(3, 2);
        }

        @include mq($screen-xl) {
            flex-basis: column-merged-width(6, 5);
        }
    }
}
