{{#each grids as |grid|}}
    <div class="grid">
        {{#each grid}}
            <div class="grid__column grid__column--{{this}}">
                <div class="grid__content">
                    {{this}}
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}
