.actions-toolbar {
    width: 100%;
    padding: 10px 0;

    @include mq($screen-m) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        width: 100%;
        justify-content: center;
        padding: 5px 0;

        @include mq($screen-m) {
            width: auto;
        }

        &:nth-child(2) {
            @include mq($screen-xl) {
                order: 3;
            }
        }

        &:last-child {
            @include mq($screen-m) {
                flex-basis: 100%;
            }
            @include mq($screen-xl) {
                flex-basis: auto;
            }
        }
    }

    &__button {
        @extend .button;
        @extend .button--secondary;
        @extend .button--link;
        height: 38px;
    }

    &__button-primary {
        @extend .button;
        @extend .button--link;
        height: 38px;
    }

    &--secondary {
        padding-bottom: 30px;

        @include mq($screen-m) {
            padding: 0 30px 30px;
        }
    }

    &--right {
        justify-content: flex-end;
        margin: 0;

        .actions-toolbar__button {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
