{{ render '@rating' }}
<div class="rating">
    <div class="rating__title">
        {{ ratingTitle }}
    </div>
    <div>
        <p>
            {{ ratingText }}
        </p>
    </div>
    <div class="rating__date">
        {{ ratingDate }}
    </div>
</div>
