.dashboard {
    &__actions {
        justify-content: space-between;
    }

    &__item {
        margin-bottom: 30px;
    }

    &__product {
        border: 0;
    }

    &__form {
        &--hidden {
            display: none;
        }
    }

    &__label {
        margin: 0 20px 0 0;
    }
}
