$catalog-grid-item__base-spacing            : $spacer !default;
$catalog-list-item__padding                 : $spacer 0 !default;

$catalog-grid-item__font-size               : $font-size-small !default;
$catalog-grid-item__font-size\@large        : $font-size-base !default;
$catalog-grid-item__line-height             : 1.5 !default;

$catalog-grid-item__badge-left-position     : 0 !default;
$catalog-grid-item__badge-top-position      : $spacer--medium !default;

$catalog-grid-item__content-bg-color        : $white !default;
$catalog-grid-item__name-color              : $font-color-base !default;
$catalog-grid-item__name-font-weight        : $font-weight-normal !default;

$catalog-grid-item__action-size             : 32px !default;
$catalog-grid-item__action-icon-size        : 24px !default;

.catalog-list-item {
    position: relative;
    display: flex;
    padding: $catalog-list-item__padding;
    overflow: hidden;

    &__image-wrapper {
        flex: 1 96px;
        height: 120px;
        background: #f9f9f9;
        @include mq($screen-m) {
            flex: 1 208px;
            height: 258px;
        }
    }

    &__image {
        width: 96px;
        mix-blend-mode: multiply;
        @include mq($screen-m) {
            width: 208px;
        }
    }

    &__main {
        flex: 1 calc(100% - 96px);
        max-width: calc(100% - 96px);
        padding: $spacer;
        @include mq($screen-m) {
            flex: 1 calc(100% - 208px);
            padding: $spacer--medium $spacer $spacer $spacer--large;
        }
    }

    &__badge {
        position: static;
        border-radius: 0;
        padding: 3px 7px;
        font-size: 10px;
        background-color: $color-primary;
        @include mq($screen-m) {
            position: absolute;
            top: $catalog-grid-item__badge-top-position;
            left: $catalog-grid-item__badge-left-position;
            padding: 3px 13px;
        }
    }

    &__link {
        display: block;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: $spacer;
        background: $catalog-grid-item__content-bg-color;
        @include mq($screen-m) {
            flex-direction: row;
        }
    }

    &__reviews {
        margin-top: 4px;
        @include mq($screen-m) {
            margin-top: 0;
        }
    }

    &__name {
        margin: 0 $spacer 0 0;
        font-weight: $catalog-grid-item__name-font-weight;
        font-size: 12px;
        line-height: $catalog-grid-item__line-height;
        // padding-right: $catalog-grid-item__base-spacing;

        @include mq($screen-m) {
            margin: 0;
            font-size: 14px;
        }

        @include mq($screen-xxl) {
            font-size: $catalog-grid-item__font-size\@large;
        }

        &--one-line {
            overflow: hidden;
            .link {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .link {
            color: $catalog-grid-item__name-color;
            text-decoration: none;
        }
    }

    &__price {
        // padding-left: $catalog-grid-item__base-spacing;
        margin-top: $spacer;
        font-size: $catalog-grid-item__font-size;
        line-height: $catalog-grid-item__line-height;
        font-weight: $font-weight-bold;
        white-space: nowrap;

        @include mq($screen-m) {
            margin-top: $spacer--medium;
        }

        @include mq($screen-xxl) {
            font-size: $catalog-grid-item__font-size\@large;
        }
    }

    &__old-price {
        @include mq($screen-m) {
            display: block;
            margin-right: 0;
        }
    }

    &__special-price {
        @include mq($screen-m) {
            display: block;
        }
    }

    // &__details {
    //     position: absolute;
    //     display: flex;
    //     flex-wrap: wrap;
    //     top: 100%;
    //     width: 100%;
    //     padding: $catalog-grid-item__content-padding;
    //     background: $catalog-grid-item__content-bg-color;
    //     transition: $transition-base;
    //
    //     @include mq($screen-m) {
    //         padding: $catalog-grid-item__content-padding\@medium;
    //     }
    // }

    &__options {
        .swatch {
            margin: $catalog-grid-item__base-spacing 0;
        }
    }

    &__actions-secondary {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin: $spacer--medium 0 $spacer 0;

        &-button {
            margin-right: $spacer;
            border: none;
            border-radius: 0;
            background-color: transparent;
            &:hover,
            &:focus {
                background-color: transparent;
            }
            &-icon {
                fill: $gray-darker;
            }
        }
    }

    &__actions-primary {
        // height: $catalog-grid-item__action-size;
        // margin-right: $catalog-grid-item__base-spacing;
        &-button {
            padding: 0 $spacer--extra-large;
        }
    }

    &__secondary-action {
        display: flex;
        align-content: center;
        justify-content: center;
        height: $catalog-grid-item__action-size;
        width: $catalog-grid-item__action-size;
        margin-left: $catalog-grid-item__base-spacing;
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        .icon {
            width: $catalog-grid-item__action-icon-size;
            height: $catalog-grid-item__action-icon-size;
        }
    }
}
