$slider__margin                  : $spacer--medium !default;
$slider__item-padding            : $spacer--medium !default;
$slider__transition              : $transition-base !default;

$slider__navigation-icon__spacing: 48px !default;

$slider__icon-spacing            : 25px !default;
$slider__icon-fill               : $green !default;
$slider__icon-fill-hover         : #007025 !default;

.slider {
    margin-bottom: $slider__margin;
    position: relative;

    &__title {
        margin-bottom: $slider__margin * 2;
        width: 100%;
    }

    &__handler {
        overflow: hidden;
    }

    &__slides {
        display: flex;
    }

    &__item {
        padding: 0;
        min-width: 50%;
        padding-right: $slider__item-padding;
        border: 0;

        @include mq($screen-m) {
            min-width: 33%;
        }

        @include mq($screen-l) {
            min-width: 25%;
        }

        .product__img-box {
            min-height: unset;
        }

        .product__type {
            padding: 0;
        }
    }

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;

        @include mq($screen-m) {
            display: none;
        }
    }

    &__navigation-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $slider__navigation-icon__spacing;
        width: $slider__navigation-icon__spacing;

        &--left {
            margin-right: 8px;
            left: 0;
        }

        &--right {
            margin-left: 8px;
            right: 0;
        }
    }

    &__icon {
        width: $slider__icon-spacing;
        height: $slider__icon-spacing;
        fill: $slider__icon-fill;
        transition: $slider__transition;
        cursor: pointer;

        &:hover {
            fill: $slider__icon-fill-hover;
        }
    }
}
