$slider__margin                  : $spacer--medium !default;
$slider__item-padding            : $spacer--medium !default;
$slider__transition              : $transition-base !default;
$slider__navigation-icon__spacing: 48px !default;
$slider__name-font-weight        : $font-weight-base !default;
$slider__name-font-size          : $font-size-base !default;

$slider__price-font-weight       : $font-weight-bold !default;
$slider__price-color             : $black !default;
$slider__price-old-color         : $black !default;
$slider__price-old-font-weight   : $font-weight-base !default;
$slider__price-old-font-size     : $font-size-extra-small !default;
$slider__price-new-color         : $color-primary !default;
$slider__price-new-font-wieght   : $font-weight-bold !default;
$slider__price-new-font-size     : $font-size-small !default;

$slider__icon-spacing            : 25px !default;
$slider__icon-fill               : $green !default;
$slider__icon-fill-hover         : #007025 !default;

.slider {
    margin-bottom: $slider__margin;
    position: relative;

    &__title {
        margin-bottom: $slider__margin * 2;
        width: 100%;
    }

    &__handler {
        overflow: hidden;
    }

    &__slides {
        display: flex;
    }

    &__item {
        position: relative;
        padding: 0;
        min-width: 50%;
        padding-right: $slider__item-padding;
        border: 0;

        @include mq($screen-m) {
            min-width: 33%;
        }

        @include mq($screen-l) {
            min-width: 25%;
        }

        .product__img-box {
            min-height: unset;
        }

        .product__type {
            padding: 0;
        }
    }

    &__link {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &__image {
        margin-bottom: $spacer;
    }

    &__item-handler {
        display: flex;
        flex-wrap: wrap;

        @include mq($screen-m) {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    &__name {
        flex-basis: 100%;
        font-weight: $slider__name-font-weight;

        @include mq($screen-m) {
            flex-basis: auto;
            margin-right: $spacer;
            margin-bottom: 0;
        }

        @include mq($screen-l) {
            font-size: $slider__name-font-size;
        }
    }

    &__price {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: $slider__price-color;
        font-weight: $slider__price-font-weight;

        @include mq($screen-m) {
            flex-flow: column;
            align-items: flex-end;
            min-width: fit-content;
        }
    }

    &__price-old {
        display: block;
        margin-right: $spacer;
        color: $slider__price-old-color;
        font-weight: $slider__price-old-font-weight;
        font-size: $slider__price-old-font-size;
        text-decoration: line-through;

        @include mq($screen-m) {
            margin-right: 0;
        }
    }

    &__price-new {
        color: $slider__price-new-color;
        font-size: $slider__price-new-font-size;
        font-weight: $slider__price-new-font-wieght;
    }

    &__badge {
        position: absolute;
        top: $spacer;
        left: 0;
    }

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $spacer;

        @include mq($screen-m) {
            display: none;
        }
    }

    &__navigation-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $slider__navigation-icon__spacing;
        width: $slider__navigation-icon__spacing;

        &--left {
            margin-right: 8px;
            left: 0;
        }

        &--right {
            margin-left: 8px;
            right: 0;
        }
    }

    &__icon {
        width: $slider__icon-spacing;
        height: $slider__icon-spacing;
        fill: $slider__icon-fill;
        transition: $slider__transition;
        cursor: pointer;

        &:hover {
            fill: $slider__icon-fill-hover;
        }
    }
}
