$slider__margin                    : $spacer--medium !default;
$slider__transition                : $transition-base !default;
$slider__item-width                : 50% !default;
$slider__item-width--medium        : 25% !default;
$slider__navigation-margin         : $spacer !default;
$slider__navigation-icon-size      : 48px !default;
$slider__navigation-icon-margin    : $spacer !default;
$slider__navigation-icon-background: $white !default;
$slider__icon-size                 : 25px !default;
$slider__icon-fill                 : $color-primary !default;
$slider__icon-fill-hover           : darken($color-primary, 10%) !default;
$slider__dot-width                 : $spacer--medium !default;
$slider__dot-height                : $spacer !default;
$slider__dot-background            : $gray-dark !default;
$slider__dot-border-radius         : 5px !default;
$slider__dot-margin                : $spacer--medium !default;
$slider__dot-background--active    : $color-primary !default;

.slider {
    margin-bottom: $slider__margin;
    position: relative;

    &__handler {
        overflow: hidden;
    }

    &__slides {
        display: flex;
    }

    &__item {
        position: relative;
        min-width: $slider__item-width;
        border: 0;

        @include mq($screen-m) {
            min-width: $slider__item-width--medium;
        }
    }

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $slider__navigation-margin;
    }

    &__navigation-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $slider__navigation-icon-size;
        width: $slider__navigation-icon-size;
        background-color: $slider__navigation-icon-background;
        border: 0;

        &:first-child {
            margin-right: $slider__navigation-icon-margin;
        }

        &:last-child {
            margin-left: $slider__navigation-icon-margin;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $slider__navigation-icon-background;

            .slider__icon {
                fill: $slider__icon-fill-hover;
            }
        }
    }

    &__icon {
        width: $slider__icon-size;
        height: $slider__icon-size;
        fill: $slider__icon-fill;
        transition: $slider__transition;
        cursor: pointer;
    }

    &__dot-navigation {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: $spacer;
    }

    &__dot {
        width: $slider__dot-width;
        height: $slider__dot-height;
        background-color: $slider__dot-background;
        border-radius: $slider__dot-border-radius;
        margin-right: $slider__dot-margin;

        &--active {
            background-color: $slider__dot-background--active;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
