// Colors

// Start with assigning color names to specific hex values.
$white                 : #fff !default;
$black                 : #000 !default;
$red                   : #d9534f !default;
$orange                : #f0ad4e !default;
$yellow                : #ffd500 !default;
$green                 : #5cb85c !default;
$blue                  : #0275d8 !default;
$teal                  : #5bc0de !default;
$pink                  : #ff5b77 !default;
$purple                : #613d7c !default;

// Create grayscale
$gray-dark             : #292b2c !default;
$gray                  : #464a4c !default;
$gray-light            : #636c72 !default;
$gray-lighter          : #eceeef !default;
$gray-lightest         : #f7f7f9 !default;

// Reassign color vars to semantic color scheme
$color-primary         : $blue !default;
$color-success         : $green !default;
$color-info            : $teal !default;
$color-warning         : $orange !default;
$color-danger          : $red !default;
$color-inverse         : $gray-dark !default;

// Body

$body-bg               : $white !default;
$body-color            : $gray-dark !default;

// Links

$link-color            : $color-primary !default;
$link-decoration       : none !default;
$link-hover-color      : darken($link-color, 15%) !default;
$link-hover-decoration : underline !default;

// Typography

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace : Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base      : $font-family-sans-serif !default;

$font-weight-normal    : normal !default;
$font-weight-bold      : bold !default;
$font-weight-base      : $font-weight-normal !default;
$font-line-height      : 1.5 !default;
$font-size-base        : 16px !default;

// Layout

$max-content-width     : 1180px;

// Layout - breakpoints

$screen-xs             : 320px;
$screen-s              : 480px;
$screen-m              : 768px;
$screen-l              : 992px;
$screen-xl             : 1200px;
$screen-xxl            : 1600px;
