$container-max-width: $max-content-width !default;
$container-margin   : 8px !default;

.container {
    max-width: $container-max-width;
    margin: 0 $container-margin;
    @include mq($container-max-width + 2 * $container-margin) {
        margin: 0 auto;
    }
}
